 <div class="col-md-12 col-sm-8 col-xs-12">
    <div class="right_serch_p titile_gray">
        <div class="right_search_bar">
            <ul class="search_bar_tab">
                <li><a href="#">Community</a><span class="glyphicon glyphicon-chevron-right"></span></li>
                <li><a href="#">Members</a><span class="glyphicon glyphicon-chevron-right"></span></li>
                <li><a href="#" class="active_c">Business</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12">
   <div class="right_serch_p">
    <div class="main-right">
        <!-- Search Block Starts Here -->
        <div class="search-block inner-block-bg">
            <div class="s_left">
                <ul class="list-inline m-bottom-0 m-top-5 font-bold-black">
                    <li><a href="#">BUSINESS (585)</a></li>
                </ul>
            </div>
            <div class="s_right">
                <div class="add_link"><a href="#/create-article" class=""><span>+ Partner</span></a></div>
            </div>
        </div>
        <!--invitation notification start-->
        <div class="invitaion_notification">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="invitation_text">Partner Invitation ( 5 New )</div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="invitation_box">
                        <div class="invitation_d">
                            <div class="invitation_image">
                                <img src="./images/user.jpg" alt="user">
                            </div>
                        </div>
                        <div class="invitation_info">
                            <div class="invite_name">Rahul A</div>
                            <div class="invite_text">CEO of abc</div>
                        </div>
                        <div class="invitation_action">
                            <div class="action_icon margin_bottom5">
                                <div class="close_action"></div>
                            </div>
                            <div class="action_icon">
                                <div class="accept_action"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="invitation_box">
                        <div class="invitation_d">
                            <div class="invitation_image">
                                <img src="./images/user.jpg" alt="user">
                            </div>
                        </div>
                        <div class="invitation_info">
                            <div class="invite_name">Rahul B</div>
                            <div class="invite_text">CEO of abc</div>
                        </div>
                        <div class="invitation_action">
                            <div class="action_icon margin_bottom5">
                                <div class="close_action"></div>
                            </div>
                            <div class="action_icon">
                                <div class="accept_action"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="invitation_box">
                        <div class="invitation_d">
                            <div class="invitation_image">
                                <img src="./images/user.jpg" alt="user">
                            </div>
                        </div>
                        <div class="invitation_info">
                            <div class="invite_name">Rahul C</div>
                            <div class="invite_text">CEO of abc</div>
                        </div>
                        <div class="invitation_action">
                            <div class="action_icon margin_bottom5">
                                <div class="close_action"></div>
                            </div>
                            <div class="action_icon">
                                <div class="accept_action"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--invitation notification end-->
        <div class="search-block inner-block-bg">
            <div class="col-lg-11 col-md-11 col-sm-11">
                <div class="filter_100 overflow displye">
                    <div class="fillter_div_scro">
                        <div class="filder_widht">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="select_form_intra">
                                        <input type="text" class="input_ani" required>
                                        <label class="lbl_text2">SECTOR</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="filder_widht">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="select_form_intra">
                                        <input type="text" class="input_ani" required>
                                        <label class="lbl_text2">INDUSTRY</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="filder_widht">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="select_form_intra">
                                        <input type="text" class="input_ani" required>
                                        <label class="lbl_text2">PRODUCTS</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="filder_widht">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="select_form_intra">
                                        <input type="text" class="input_ani" required>
                                        <label class="lbl_text2">VERTICALS</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="filder_widht">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="network_heading">TURN OVER</div>
                                    <div class="commny_chack_box sellers_det">
                                        <div class="admin_input margin_t">
                                            <input id="Partners" type="checkbox" class="check_box check_box_1">
                                            <label for="Partners">1-5 Crores</label>
                                        </div>
                                        <div class="admin_input margin_t">
                                            <input id="NairTrans" type="checkbox" class="check_box check_box_1">
                                            <label for="NairTrans">6-10 Crores</label>
                                        </div>
                                        <div class="admin_input margin_t">
                                            <input id="NairTrans" type="checkbox" class="check_box check_box_1">
                                            <label for="NairTrans">10-15 Crores</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="filder_widht">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="network_heading">NO. OF EMPLOYEE</div>
                                    <div class="commny_chack_box sellers_det">
                                        <div class="admin_input margin_t">
                                            <input id="Partners" type="checkbox" class="check_box check_box_1">
                                            <label for="Partners">1-500</label>
                                        </div>
                                        <div class="admin_input margin_t">
                                            <input id="NairTrans" type="checkbox" class="check_box check_box_1">
                                            <label for="NairTrans">500-1000</label>
                                        </div>
                                        <div class="admin_input margin_t">
                                            <input id="NairTrans" type="checkbox" class="check_box check_box_1">
                                            <label for="NairTrans">1000-2000</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell-1">
                <ul class="list-inline list-inline1 pull-right m-bottom-0 p-up-down">
                    <li> <a href="javascript:void(0)" class="link-zindex collapsed">Filters <i class="fa fa-bars"></i></a> </li>
                </ul>
            </div>
        </div>
        <div class="bg-block">
            <div class="linkdin_pro">
                <div class="col-md-6 padding-left-none">
                    <img src="./images/kapil.png" class="pull-left m-r-10">
                    <div class="pull-left col-md-10 padding-none">
                        <div class="down-link">
                            <strong style="font-size:17px; color: #333;    padding: 0px 5px;"><a style="color:#333; text-decoration:none;" href="business-user-profile-page.html">Vasan Transport</a></strong>
                            <p>Partners <span>145</span></p>
                            <div class="rating_link_new">
                                <a href="#" class="rating_linlk_1">Rating</a>
                                <a href="#" class="rating_linlk_1">Recommendation</a>
                                <a href="#" class="rating_linlk_2">Professional Status</a>
                            </div>
                            <p class="brifer"><a href="javascript:void(0)">Brief</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 padding-left-none">
                    <div class="right-side-div">
                        <button class="add_btn_Register" data-ember-action="">Partner</button>
                        <div class="follows-s">
                            <a href="">
                                <p class="bold"><span><i class="fa fa-plus" aria-hidden="true"></i></span>Follow</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="contett-brie">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
            </div>
        </div>
        <div class="bg-block">
            <div class="linkdin_pro">
                <div class="col-md-6 padding-left-none">
                    <img src="./images/dinesh.png" class="pull-left m-r-10">
                    <div class="pull-left col-md-10 padding-none">
                        <div class="down-link">
                            <strong style="font-size:17px; color: #333;padding: 0px 5px;"><a style="color:#333; text-decoration:none;" href="" javascript:void(0)>Uday</a></strong>
                            <p>Partners <span>145</span></p>
                            <div class="rating_link_new">
                                <a href="#" class="rating_linlk_1">Rating</a>
                                <a href="#" class="rating_linlk_1">Recommendation</a>
                                <a href="#" class="rating_linlk_2">Professional Status</a>
                            </div>
                            <p class="brifer2"><a href="javascript:void(0)">Brief</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 padding-left-none">
                    <div class="right-side-div">
                        <button class="add_btn_Register" data-ember-action="">Partner</button>
                        <div class="follows-s">
                            <a href="">
                                <p class="bold"><span><i class="fa fa-plus" aria-hidden="true"></i></span>Follow</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="contett-brie2">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
            </div>
        </div>
        <div class="bg-block">
            <div class="linkdin_pro">
                <div class="col-md-6 padding-left-none">
                    <img src="./images/pawan.png" class="pull-left m-r-10">
                    <div class="pull-left col-md-10 padding-none">
                        <div class="down-link">
                            <strong style="font-size:16px;     padding: 0px 5px;"><a style="color:#333; text-decoration:none;" href="" javascript:void(0)>Harry</a></strong>
                            <p>Partners <span>145</span></p>
                            <div class="rating_link_new">
                                <a href="#" class="rating_linlk_1">Rating</a>
                                <a href="#" class="rating_linlk_1">Recommendation</a>
                                <a href="#" class="rating_linlk_2">Professional Status</a>
                            </div>
                            <p class="brifer3"><a href="javascript:void(0)">Brief</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 padding-left-none">
                    <div class="right-side-div">
                        <button class="add_btn_Register" data-ember-action="">Partner</button>
                        <div class="follows-s">
                            <a href="">
                                <p class="bold"><span><i class="fa fa-plus" aria-hidden="true"></i></span>Follow</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="contett-brie3">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
            </div>
        </div>
        <div class="bg-block1">
            <div class="linkdin_pro">
                <div class="col-md-12 ">
                    <div class="view-more-deatilse">
                        <button class="view-more-deatils" data-ember-action="">View More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>