 <div class="col-md-12 col-sm-8 col-xs-12">
    <div class="right_serch_p titile_gray">
        <div class="right_search_bar">
            <ul class="search_bar_tab">
                <li><a href="#">Community</a><span class="glyphicon glyphicon-chevron-right"></span></li>
                <li><a href="#">Members</a><span class="glyphicon glyphicon-chevron-right"></span></li>
                <li><a href="#">Individual</a><span class="glyphicon glyphicon-chevron-right"></span></li>
                <li><a href="#" class="active_c">Invitation</a></li>

            </ul>
        </div>
    </div>
</div>
<!-- individuals invitation form start -->
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="right_serch_p">
        <div class="main-right">   
            <div class="search-block inner-block-bg">
                <div class="cell-1 cell-1-80">
                    <ul class="list-inline m-bottom-0 m-top-5 font-bold-black">
                        <li><a href="#">INVITATION</a></li>
                    </ul>
                </div>
            </div>          
            <!-- Table Starts Here -->
            <div class="table-div">
                <div class="invitation_bg">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input class="form-control" placeholder="To: Email id (multiple email ids)" type="text">
                        </div>
                        <div class="form-group">
                            <textarea rows="10" class="form-control textarea" placeholder="Message (user input) "></textarea>
                        </div>
                        <div class="search-modify pull-right m-bottom-15"><span>Invite</span></div>
                    </div>
                </div>
            </div>
            <!-- Table Starts Here -->
        </div>
    </div>
</div>
                                <!-- individuals invitation form end -->