<div class="row no-margin">
	<div class="col-lg-12 col-xs-12">
    	<div class="profile_edit_head text-center">
        	<h1>Edit MarketPlace <span class="profile_edit_head_sub">REGISTRATION</span></h1>
        </div>
    </div>
</div>
<div class="page_center_block">
    <div class="row no-margin">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        	<div class="profile_edit_field">            	
                <input class="text_input" id="business_name" value="" />
                <label for="business_name" class="profile_edit_label">Name of the Business *</label>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        	<div class="profile_edit_field">
            	<button class="profile_askme_btn btn add-btn pull-right">ASK ME LATER</button>
            </div>
        </div>
    </div>
    <div class="row no-margin">
    	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        	<div class="profile_edit_field">            
                <select class="profile_edit_select">
                	<option>Constitution of Business *</option>
                    <option>Constitution of Business *</option>
                    <option>Constitution of Business *</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row no-margin">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        	<div class="profile_edit_field">            	
                <input class="text_input" id="ppb" value="" />
                <label for="ppb" class="profile_edit_label">Principal Place of Business *</label>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile_edit_field">              
                <input class="text_input" id="pincode" value="" />
                <label for="pincode" class="profile_edit_label">Pincode *</label>
            </div>
      </div>
    </div>
    <div class="row no-margin">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        	<div class="profile_edit_field">            	
                <input class="text_input" id="business_Location" value="" />
                <label for="business_Location" class="profile_edit_label">Location</label>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile_edit_field">                
                <input class="text_input" id="business_City" value="" />
                <label for="business_City" class="profile_edit_label">City</label>
            </div>
      </div>
    </div>
    <div class="row no-margin">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        	<div class="profile_edit_field">            	
                <input class="text_input" id="business_District" value="" />
                <label for="business_District" class="profile_edit_label">District *</label>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile_edit_field">                
                <input class="text_input" id="business_state" value="" />
                <label for="business_state" class="profile_edit_label">state</label>
            </div>
       </div>
    </div>
     <div class="row no-margin">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        	<div class="profile_edit_field">            	
                <input class="text_input" id="business_address-1" value="" />
                <label for="business_address-1" class="profile_edit_label">Address1 *</label>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile_edit_field">              
                <input class="text_input" id="business_address-2" value="" />
                <label for="business_address-2" class="profile_edit_label">Address2 *</label>
            </div>
       </div>
    </div>
     <div class="row no-margin">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        	<div class="profile_edit_label_bold">
            	<label for="business_address-1" class="profile_edit_labelbold"><b>Annual Turn over</b></label>                
            </div>
        </div>        
    </div>
    <div class="row no-margin">
       <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile_edit_field">                
                <input class="text_input" id="current_turnover" value="" />
                <label for="current_turnover" class="profile_edit_label">Current Year (RS in Lakhs) *</label>
            </div>
       </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile_edit_field">                
                <input class="text_input" id="first_year_turnover" value="" />
                <label for="first_year_turnover" class="profile_edit_label">Previous Year(RS in Lakhs) *</label>
            </div>
       </div>
    </div>
    <div class="row no-margin">
       <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile_edit_field">               
                <input class="text_input" id="second_year_turnover" value="" />
                 <label for="second_year_turnover" class="profile_edit_label">Year Before (RS in Lakhs)</label>
            </div>
       </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile_edit_field">              
                <input class="text_input" id="third_year_turnover" value="" />
                  <label for="third_year_turnover" class="profile_edit_label">Year Before (RS in Lakhs)</label>
            </div>
       </div>
    </div>
    <div class="row no-margin">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        	<div class="profile_edit_label_bold">
            	<label for="business_address-1" class="profile_edit_labelbold"><b>Contact Person</b></label>                
            </div>
        </div>        
    </div>
    <div class="row no-margin">
       <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile_edit_field">               
                <input class="text_input" id="contact_fname" value="" />
                 <label for="contact_fname" class="profile_edit_label">First Name *</label>
            </div>
       </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile_edit_field">
                <label for="contact_lname" class="profile_edit_label">Last Name *</label>
                <input class="text_input" id="contact_lname" value="" />
            </div>
       </div>
    </div>
    <div class="row no-margin">
       <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile_edit_field">                
                <input class="text_input" id="business_designatn" value="" />
                <label for="business_designatn" class="profile_edit_label">Designation *</label>
            </div>
       </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile_edit_field">               
                <input class="text_input" id="business_emailId" value="" />
                 <label for="business_emailId" class="profile_edit_label">Business Email Id *</label>
            </div>
       </div>
    </div>
    <div class="row no-margin">
       <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile_edit_field">
                <label for="business_mobile_no" class="profile_edit_label">Mobile No *(Official)</label>
                <input class="text_input" id="business_mobile_no" value="" />
            </div>
       </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile_edit_field">
                <label for="business_landline" class="profile_edit_label">Landline</label>
                <input class="text_input" id="business_landline" value="" />
            </div>
       </div>
    </div>
    <div class="row no-margin">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        	<div class="profile_edit_label_bold">
            	<label for="business_address-1" class="profile_edit_labelbold"><b>Business Info</b></label>                
            </div>
        </div>        
    </div>
    <div class="row no-margin">
    	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        	<div class="profile_edit_field">            
                <select class="profile_edit_select" id="business_type_id">
                	<option value="1">Sector Type *</option>
                    <option value="2">Manufacturing</option>
                    <option value="3">Service</option>
                </select>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        	<div class="profile_edit_field">            
                <select class="profile_edit_select" id="employee_strn">
                	<option value="1">Sector Type *</option>
                    <option value="2">Manufacturing</option>
                    <option value="3">Service</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row no-margin">
    	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        	<div class="profile_edit_field">            
                <select class="profile_edit_select" id="industry_type_name">
                	<option value="1">Industry Type *</option>
                    <option value="2">Manufacturing</option>
                    <option value="3">Service</option>
                </select>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        	<div class="profile_edit_field">            
                <select class="profile_edit_select" id="sector_type">
                	<option value="1">Sector Type *</option>
                    <option value="2">Manufacturing</option>
                    <option value="3">Service</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row no-margin">
       <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile_edit_field">                
                <input class="text_input" id="business_pan" value="" />
                <label for="business_pan" class="profile_edit_label">PAN(Business) *</label>
            </div>
       </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile_edit_field">               
                <input class="text_input" id="others_name" value="" />
                 <label for="others_name" class="profile_edit_label">Others (Specify)</label>
            </div>
       </div>
    </div>
    <div class="row no-margin">
       <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile_edit_field">             
            </div>
       </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile_edit_field">             
                <input class="text_input" id="others_name" value="" />
            </div>
       </div>
    </div>
    <div class="row no-margin tabbing_row">
    	<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#offered"> Services Offered</a></li>
			<li><a data-toggle="tab" href="#required">Services Required</a></li>
			<li><a data-toggle="tab" href=""></a></li>
		</ul>
        <div class="tab-content">
        	<div id="offered" class="tab-pane fade active in">
            	<div class="service_selection">
                	<p class="profile_service_maintext">Services Offered</p>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pr-0 transport-part">
                        <div class="service_selection_box">
                          <p class="profile_service_maintext text-center">Transportation</p>
                          <div class="col-md-6 col-sm-12 col-xs-12 plr-5">
                          		<div class="slt-serviice">
                                	<input type="checkbox" id="ftl-1" class="slt-service-checkbox profile-checkbox" />
                                    <label for="ftl-1" class="slt-service-label tcb_label text-center">
                                    	<img src="images/FTL.png" title="FTL">
                                        <span class="text clearfix">FTL</span>
                                    </label>
                                </div>
                          </div>
                           <div class="col-md-6 col-sm-12 col-xs-12 plr-5">
                          		<div class="slt-serviice">
                                	<input type="checkbox" id="ltl-1" class="slt-service-checkbox profile-checkbox" />
                                    <label for="ltl-1" class="slt-service-label tcb_label text-center">
                                    	<img src="images/LTL.png" title="LTL">
                                        <span class="text clearfix">LTL</span>
                                    </label>
                                </div>
                          </div> 
                           <div class="col-md-12 col-sm-12 col-xs-12 plr-5">
                          		<div class="slt-serviice">
                                	<input type="checkbox" id="Parcel" class="slt-service-checkbox profile-checkbox" />
                                    <label for="Parcel" class="slt-service-label tcb_label text-center">
                                    	<img src="images/rail.png" title="LTL">
                                        <span class="text clearfix">Parcel</span>
                                    </label>
                                </div>
                          </div>
                          <div class="col-md-6 col-sm-12 col-xs-12 plr-5">
                          		<div class="slt-serviice">
                                	<input type="checkbox" id="Domestic" class="slt-service-checkbox profile-checkbox" />
                                    <label for="Domestic" class="slt-service-label tcb_label text-center">
                                    	<img src="images/air_dom.png" title="Domestic">
                                        <span class="text clearfix">Domestic</span>
                                    </label>
                                </div>
                          </div>
                           <div class="col-md-6 col-sm-12 col-xs-12 plr-5">
                          		<div class="slt-serviice">
                                	<input type="checkbox" id="International" class="slt-service-checkbox profile-checkbox" />
                                    <label for="International" class="slt-service-label tcb_label text-center">
                                    	<img src="images/air_intl.png" title="International">
                                        <span class="text clearfix">International</span>
                                    </label>
                                </div>
                          </div>
                          <div class="col-md-12 col-sm-12 col-xs-12 plr-5">
                          		<div class="slt-serviice">
                                	<input type="checkbox" id="Parcel-1" class="slt-service-checkbox profile-checkbox" />
                                    <label for="Parcel-1" class="slt-service-label tcb_label text-center">
                                    	<img src="images/ocean.png" title="Parcel">
                                        <span class="text clearfix">Parcel</span>
                                    </label>
                                </div>
                          </div>
                          <div class="col-md-6 col-sm-12 col-xs-12 plr-5">
                          		<div class="slt-serviice">
                                	<input type="checkbox" id="hyperlocal" class="slt-service-checkbox profile-checkbox" />
                                    <label for="hyperlocal" class="slt-service-label tcb_label text-center">
                                    	<img src="images/hyper_local.png" title="Hyper Local">
                                        <span class="text clearfix">Hyper Local</span>
                                    </label>
                                </div>
                          </div>
                           <div class="col-md-6 col-sm-12 col-xs-12 plr-5">
                          		<div class="slt-serviice">
                                	<input type="checkbox" id="Intracity" class="slt-service-checkbox profile-checkbox" />
                                    <label for="Intracity" class="slt-service-label tcb_label text-center">
                                    	<img src="images/Intracity.png" title="Intracity">
                                        <span class="text clearfix">Intracity</span>
                                    </label>
                                </div>
                          </div>
                           <div class="col-md-12 col-sm-12 col-xs-12 plr-5">
                          		<div class="slt-serviice">
                                	<input type="checkbox" id="Courier" class="slt-service-checkbox profile-checkbox" />
                                    <label for="Courier" class="slt-service-label tcb_label text-center">
                                    	<img src="images/Courier.png" title="Parcel">
                                        <span class="text clearfix">Courier</span>
                                    </label>
                                </div>
                          </div>       
                        </div>
                    </div>
                    
                    
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pr-0 vehicle-part">
                        <div class="service_selection_box">
                            <div class="service_selection_box">
                          <p class="profile_service_maintext text-center">Vehicle</p>
                          <div class="col-md-6 col-sm-12 col-xs-12 plr-5">
                          		<div class="slt-serviice">
                                	<input type="checkbox" id="Haul" class="slt-service-checkbox profile-checkbox" />
                                    <label for="Haul" class="slt-service-label tcb_label text-center">
                                    	<img src="images/truck_haul.png" title="Haul">
                                        <span class="text clearfix">Haul</span>
                                    </label>
                                </div>
                          </div>
                           <div class="col-md-6 col-sm-12 col-xs-12 plr-5">
                          		<div class="slt-serviice padding-none">
                                	<input type="checkbox" id="lease" class="slt-service-checkbox profile-checkbox" />
                                    <label for="lease" class="slt-service-label tcb_label text-center">
                                    	<img src="images/truck_lease.png" title="Lease">
                                        <span class="text clearfix">Lease</span>
                                    </label>
                                </div>
                          </div> 
                         <p class="profile_service_maintext text-center">Market Feeds</p>
                         <div class="col-md-12 col-sm-12 col-xs-12 plr-5">
                          		<div class="slt-serviice padding-none">
                                		<input type="checkbox" id="multi-modal" class="profile-checkbox" value="">
               						   <label for="multi-modal" class="tcb_label"> Multi Modal</label>
                                </div>
                          </div>
                          <div class="col-md-12 col-sm-12 col-xs-12 plr-5">
                          		<div class="slt-serviice padding-none">
                                		<input type="checkbox" id="handling-services" class="profile-checkbox" value="">
               						   <label for="handling-services" class="tcb_label">Handling Services</label>
                                </div>
                          </div>
                          <div class="col-md-12 col-sm-12 col-xs-12 plr-5">
                          		<div class="slt-serviice">
                                		<input type="checkbox" id="Warehouse" class="profile-checkbox" value="">
               						   <label for="Warehouse" class="tcb_label">Warehouse</label>
                                </div>
                          </div>          
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pr-0">
                        <div class="service_selection_box">
                         <p class="profile_service_maintext text-center">Relocation</p>
                            <div class="col-md-6 col-sm-12 col-xs-12 plr-5">
                          		<div class="slt-serviice">
                                	<input type="checkbox" id="Domestic-1" class="slt-service-checkbox profile-checkbox" />
                                    <label for="Domestic-1" class="slt-service-label tcb_label text-center">
                                    	<img src="images/domestic.png" title="Domestic">
                                        <span class="text clearfix">Domestic</span>
                                    </label>
                                </div>
                          </div>
                           <div class="col-md-6 col-sm-12 col-xs-12 plr-5">
                          		<div class="slt-serviice">
                                	<input type="checkbox" id="petmove" class="slt-service-checkbox profile-checkbox" />
                                    <label for="petmove" class="slt-service-label tcb_label text-center">
                                    	<img src="images/pet_move.png" title="">
                                        <span class="text clearfix">Pet Move</span>
                                    </label>
                                </div>
                          </div>                          
                           <div class="col-md-6 col-sm-12 col-xs-12 plr-5">
                                <div class="slt-serviice">
                                    <input type="checkbox" id="International-1" class="slt-service-checkbox profile-checkbox" />
                                    <label for="International-1" class="slt-service-label tcb_label text-center">
                                        <img src="images/International.png" title="">
                                        <span class="text clearfix">International</span>
                                    </label>
                                </div>
                          </div>
                           <div class="col-md-6 col-sm-12 col-xs-12 plr-5">
                                <div class="slt-serviice">
                                    <input type="checkbox" id="International-1" class="slt-service-checkbox profile-checkbox" />
                                    <label for="International-1" class="slt-service-label tcb_label text-center">
                                        <img src="images/International.png" title="">
                                        <span class="text clearfix">International</span>
                                    </label>
                                </div>
                          </div>
                          <div class="col-md-6 col-sm-12 col-xs-12 plr-5">
                                <div class="slt-serviice">
                                    <input type="checkbox" id="office-move" class="slt-service-checkbox profile-checkbox" />
                                    <label for="office-move" class="slt-service-label tcb_label text-center">
                                        <img src="images/office_domestic.png" title="">
                                        <span class="text clearfix">Office Move</span>
                                    </label>
                                </div>
                          </div>
                       
                        </div>
                    </div>
                </div>
            </div>
            <!--<div id="required" class="tab-pane fade active in">
            	<div class="service_selection">
                	<p class="profile_service_maintext">Services Offered</p>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pr-0 transport-part">
                        <div class="service_selection_box">
                          <p class="profile_service_maintext text-center">Transportation</p>
                          <div class="col-md-6 col-sm-12 col-xs-12 plr-5">
                          		<div class="slt-serviice">
                                	<input type="checkbox" id="ftl-1" class="slt-service-checkbox profile-checkbox" />
                                    <label for="ftl-1" class="slt-service-label tcb_label text-center">
                                    	<img src="images/FTL.png" title="FTL">
                                        <span class="text clearfix">FTL</span>
                                    </label>
                                </div>
                          </div>
                           <div class="col-md-6 col-sm-12 col-xs-12 plr-5">
                          		<div class="slt-serviice">
                                	<input type="checkbox" id="ltl-1" class="slt-service-checkbox profile-checkbox" />
                                    <label for="ltl-1" class="slt-service-label tcb_label text-center">
                                    	<img src="images/LTL.png" title="LTL">
                                        <span class="text clearfix">LTL</span>
                                    </label>
                                </div>
                          </div> 
                           <div class="col-md-12 col-sm-12 col-xs-12 plr-5">
                          		<div class="slt-serviice">
                                	<input type="checkbox" id="Parcel" class="slt-service-checkbox profile-checkbox" />
                                    <label for="Parcel" class="slt-service-label tcb_label text-center">
                                    	<img src="images/rail.png" title="LTL">
                                        <span class="text clearfix">Parcel</span>
                                    </label>
                                </div>
                          </div>
                          <div class="col-md-6 col-sm-12 col-xs-12 plr-5">
                          		<div class="slt-serviice">
                                	<input type="checkbox" id="Domestic" class="slt-service-checkbox profile-checkbox" />
                                    <label for="Domestic" class="slt-service-label tcb_label text-center">
                                    	<img src="images/air_dom.png" title="Domestic">
                                        <span class="text clearfix">Domestic</span>
                                    </label>
                                </div>
                          </div>
                           <div class="col-md-6 col-sm-12 col-xs-12 plr-5">
                          		<div class="slt-serviice">
                                	<input type="checkbox" id="International" class="slt-service-checkbox profile-checkbox" />
                                    <label for="International" class="slt-service-label tcb_label text-center">
                                    	<img src="images/air_intl.png" title="International">
                                        <span class="text clearfix">International</span>
                                    </label>
                                </div>
                          </div>
                          <div class="col-md-12 col-sm-12 col-xs-12 plr-5">
                          		<div class="slt-serviice">
                                	<input type="checkbox" id="Parcel-1" class="slt-service-checkbox profile-checkbox" />
                                    <label for="Parcel-1" class="slt-service-label tcb_label text-center">
                                    	<img src="images/ocean.png" title="Parcel">
                                        <span class="text clearfix">Parcel</span>
                                    </label>
                                </div>
                          </div>
                          <div class="col-md-6 col-sm-12 col-xs-12 plr-5">
                          		<div class="slt-serviice">
                                	<input type="checkbox" id="hyperlocal" class="slt-service-checkbox profile-checkbox" />
                                    <label for="hyperlocal" class="slt-service-label tcb_label text-center">
                                    	<img src="images/hyper_local.png" title="Hyper Local">
                                        <span class="text clearfix">Hyper Local</span>
                                    </label>
                                </div>
                          </div>
                           <div class="col-md-6 col-sm-12 col-xs-12 plr-5">
                          		<div class="slt-serviice">
                                	<input type="checkbox" id="Intracity" class="slt-service-checkbox profile-checkbox" />
                                    <label for="Intracity" class="slt-service-label tcb_label text-center">
                                    	<img src="images/Intracity.png" title="Intracity">
                                        <span class="text clearfix">Intracity</span>
                                    </label>
                                </div>
                          </div>
                           <div class="col-md-12 col-sm-12 col-xs-12 plr-5">
                          		<div class="slt-serviice">
                                	<input type="checkbox" id="Courier" class="slt-service-checkbox profile-checkbox" />
                                    <label for="Courier" class="slt-service-label tcb_label text-center">
                                    	<img src="images/Courier.png" title="Parcel">
                                        <span class="text clearfix">Courier</span>
                                    </label>
                                </div>
                          </div>       
                        </div>
                    </div>
                    
                    
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pr-0 vehicle-part">
                        <div class="service_selection_box">
                            <div class="service_selection_box">
                          <p class="profile_service_maintext text-center">Vehicle</p>
                          <div class="col-md-6 col-sm-12 col-xs-12 plr-5">
                          		<div class="slt-serviice">
                                	<input type="checkbox" id="Haul" class="slt-service-checkbox profile-checkbox" />
                                    <label for="Haul" class="slt-service-label tcb_label text-center">
                                    	<img src="images/truck_haul.png" title="Haul">
                                        <span class="text clearfix">Haul</span>
                                    </label>
                                </div>
                          </div>
                           <div class="col-md-6 col-sm-12 col-xs-12 plr-5">
                          		<div class="slt-serviice padding-none">
                                	<input type="checkbox" id="lease" class="slt-service-checkbox profile-checkbox" />
                                    <label for="lease" class="slt-service-label tcb_label text-center">
                                    	<img src="images/truck_lease.png" title="Lease">
                                        <span class="text clearfix">Lease</span>
                                    </label>
                                </div>
                          </div> 
                         <p class="profile_service_maintext text-center">Market Feeds</p>
                         <div class="col-md-12 col-sm-12 col-xs-12 plr-5">
                          		<div class="slt-serviice padding-none">
                                		<input type="checkbox" id="multi-modal" class="profile-checkbox" value="">
               						   <label for="multi-modal" class="tcb_label"> Multi Modal</label>
                                </div>
                          </div>
                          <div class="col-md-12 col-sm-12 col-xs-12 plr-5">
                          		<div class="slt-serviice padding-none">
                                		<input type="checkbox" id="handling-services" class="profile-checkbox" value="">
               						   <label for="handling-services" class="tcb_label">Handling Services</label>
                                </div>
                          </div>
                          <div class="col-md-12 col-sm-12 col-xs-12 plr-5">
                          		<div class="slt-serviice">
                                		<input type="checkbox" id="Warehouse" class="profile-checkbox" value="">
               						   <label for="Warehouse" class="tcb_label">Warehouse</label>
                                </div>
                          </div>          
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pr-0">
                        <div class="service_selection_box">
                         <p class="profile_service_maintext text-center">Relocation</p>
                            <div class="col-md-6 col-sm-12 col-xs-12 plr-5">
                          		<div class="slt-serviice">
                                	<input type="checkbox" id="Domestic-1" class="slt-service-checkbox profile-checkbox" />
                                    <label for="Domestic-1" class="slt-service-label tcb_label text-center">
                                    	<img src="images/domestic.png" title="Domestic">
                                        <span class="text clearfix">Domestic</span>
                                    </label>
                                </div>
                          </div>
                           <div class="col-md-6 col-sm-12 col-xs-12 plr-5">
                          		<div class="slt-serviice">
                                	<input type="checkbox" id="petmove" class="slt-service-checkbox profile-checkbox" />
                                    <label for="petmove" class="slt-service-label tcb_label text-center">
                                    	<img src="images/pet_move.png" title="">
                                        <span class="text clearfix">Pet Move</span>
                                    </label>
                                </div>
                          </div>                          
                           <div class="col-md-6 col-sm-12 col-xs-12 plr-5">
                                <div class="slt-serviice">
                                    <input type="checkbox" id="International-1" class="slt-service-checkbox profile-checkbox" />
                                    <label for="International-1" class="slt-service-label tcb_label text-center">
                                        <img src="images/International.png" title="">
                                        <span class="text clearfix">International</span>
                                    </label>
                                </div>
                          </div>
                           <div class="col-md-6 col-sm-12 col-xs-12 plr-5">
                                <div class="slt-serviice">
                                    <input type="checkbox" id="International-1" class="slt-service-checkbox profile-checkbox" />
                                    <label for="International-1" class="slt-service-label tcb_label text-center">
                                        <img src="images/International.png" title="">
                                        <span class="text clearfix">International</span>
                                    </label>
                                </div>
                          </div>
                          <div class="col-md-6 col-sm-12 col-xs-12 plr-5">
                                <div class="slt-serviice">
                                    <input type="checkbox" id="office-move" class="slt-service-checkbox profile-checkbox" />
                                    <label for="office-move" class="slt-service-label tcb_label text-center">
                                        <img src="images/office_domestic.png" title="">
                                        <span class="text clearfix">Office Move</span>
                                    </label>
                                </div>
                          </div>
                       
                        </div>
                    </div>
                </div>
            </div>-->
        </div>    
    </div> 
    
     <div class="row no-margin">
       <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile_edit_field">             
            </div>
       </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile_edit_field">             
                <input class="text_input" id="others_name" value="" />
            </div>
       </div>
    </div>
     <div class="row no-margin">
       <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="profile_edit_field"> 
            	<label class="label-register">Are you GTA Registered</label>            
            </div>
       </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">             
               <div class="profile_edit_field">
               		<div class="radio_check">
                    	<input type="radio" name="it_gta" id="gta_yes" value="1">
                        <label for="gta_yes" class="radio-btn-slt">Yes</label>
                    </div>
                    <div class="radio_check">
                    	<input type="radio" name="no_gta" id="gta_no" value="2">
                        <label for="gta_no" class="radio-btn-slt">No</label>
                    </div>
               </div> 
            </div>
             <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">             
                <div class="profile_edit_field profile_hidden_field">
               		<input class="text_input" id="gta_no." value="" />
                    <label for="gta_no." class="profile_edit_label">GTA</label>
               </div> 
            </div>            
       </div>
    </div>
     <div class="row no-margin">
       <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile_edit_field">                
                <input class="text_input" maxlength="11" id="tin_no" value="" />
                <label for="tin_no" class="profile_edit_label">TIN No.</label>
            </div>
       </div>       
    </div>
    <div class="row no-margin">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        	<div class="profile_edit_label_bold">
            	<label for="business_address-1" class="profile_edit_labelbold"><b>Bank Details</b></label>                
            </div>
        </div>        
    </div>
    <div class="row no-margin">
       <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="profile_edit_field">                
                <input class="text_input" id="bank_name" value="" />
                <label for="bank_name" class="profile_edit_label">Bank Name</label>
            </div>
       </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="profile_edit_field">                
                <input class="text_input" id="bank_branch" value="" />
                <label for="bank_branch" class="profile_edit_label">Branch Name</label>
            </div>
       </div>
       <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="profile_edit_field">               
                <input class="text_input" id="ifsc_code" value="" />
                <label for="ifsc_code" class="profile_edit_label">IFSC Code</label>
            </div>
       </div>
    </div>
    <div class="row no-margin">
       <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="profile_edit_field">                
                <input type="text" class="text_input" id="account_type" value="" />
                <label for="account_type" class="profile_edit_label">Account Type</label>
            </div>
       </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="profile_edit_field">                
                <input class="text_input" type="text" id="account_no" value="" />
                <label for="account_no" class="profile_edit_label">Account Number</label>
            </div>
       </div>      
    </div>
    <div class="row no-margin">
       <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="profile_edit_field">
             	<input type="checkbox" id="tcd_accept" class="profile-checkbox" value="" />
                <label for="tcd_accept" class="tcb_label"> LogiStiks.com <a href="javascript:void();">Terms and Conditions</a></label>
               
            </div>
       </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="profile_edit_field">
              <input class="btn add-btn pull-right" id="submit_id" type="submit" value="Submit">
            </div>
       </div>      
    </div>
</div>





<style>
.padding-none{ padding:0px !important;}
.slt-serviice{ width:100%; float:left; padding:10px 0;}
.page_center_block{ width:75%; margin:40px auto;}
.no-margin{ margin:0px;}
.profile_edit_head{ width:100%; float:left;}
.profile_edit_head h1{font-weight:600;font-size: 28px;color: #383838;text-align: center;border-bottom: 1px solid #e7e7e7;}
.profile_edit_head h1 span {color: #ed3237;font-weight:600;}
.profile_edit_field{ width:100%; float:left; position:relative; padding:15px 0; box-sizing:border-box;}
.profile_edit_label{position: absolute;z-index: 0;left: 10px;right: 0;top:18px;display: block;font-size: 16px;font-weight:normal;-webkit-transition: .25s;-moz-transition: .25s;-ms-transition: .25s;-o-transition: .25s;transition: .25s;color:#666666;}
 .profile_hidden_field{display:block;}
.profile_edit_field	.text_input, .profile_edit_select{display: block;width: 100%; height: 34px;padding: 6px 12px;font-size: 14px;line-height: 1.42857143; color: #555;background-color: #fff;background-image: none;border: 0px solid #ccc;border-radius: 0px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:none;);border-bottom: 1px solid #e2e2e2;-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	outline:none;}
.profile_edit_field	.text_input:focus ~ .profile_edit_label{ font-size:13px; opacity:0.5; top:-1px;}
.profile_askme_btn{background-color: #747474;color: #ffffff;font-size: 17px;padding: 6px 10px;text-transform: capitalize;font-weight: 500;height: 38px;border: 1px solid #6c6c6c;font-family: FuturaBT-Medium;border-radius:0px;}
.profile_askme_btn:hover{ color:#fff;}
.profile_edit_labelbold{ font-size:17px; padding:10px 0;color:#666666; font-weight:normal;}
.profile-checkbox{background-color: #747474;color: #ffffff;font-size: 17px;padding: 6px 10px;text-transform: capitalize;font-weight: 500;
    height: 38px;border: 1px solid #6c6c6c;font-family: FuturaBT-Medium;border-radius:0px;}
.profile_edit_field input:hover{ color:#fff;}
.label-register{font-size: 17px;font-family: FuturaBT-Book;background-color:#ffffff;color:#666666;font-weight:normal;font-style:normal;}
.profile-checkbox + .tcb_label {position: relative;padding-left: 12px;display: inline-block;outline:none;}
.profile-checkbox, input[type=radio]{ float:left;}
.tcb_label{padding: 12px 5px;box-sizing: border-box;font-size: 17px;font-weight: normal;}
.profile-checkbox + label:before {background-color: #fff;border: 1px solid #999999;padding: 7px;border-radius: 0px;display: block;
    position: absolute;top: 15px;left: -16px;content: "";} 
.profile-checkbox:checked + label:before {border: 1px solid #999999;color: #99a1a7;}
.profile-checkbox:checked + label:after {content: '\2714';font-size: 12px;position: absolute;top: 14px;left: -13px;color:#222222;}
.profile_edit_field .radio_check{ width:50%; float:left;}
.service_selection .profile_service_maintext{ padding:10px 0 0px 0; font-size:17px; box-sizing:border-box; width:100%; float:left;}
.pr-0{ padding-right:0px;}
.transport-part{ border-right:1px solid #e5e5e5;}
.slt-serviice .slt-service-checkbox{ float:left;}
.slt-serviice .slt-service-label{padding: 0 0 0 10px;box-sizing: border-box; float:left; min-height:52px;}
.slt-serviice .slt-service-label span.text{font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #666666;
    padding: 5px 0 0 0;
    display: block;}
.plr-5{ padding:0 10px; box-sizing:border-box;}
.tabbing_row .nav-tabs li{ width:25%; text-align:center;}
.tabbing_row .nav-tabs > li.active > a{border-radius: 0;background: #ed3237;color: #fff;}
.tabbing_row .nav-tabs > li > a:hover{border-color: #eee #eee #ddd;background-color: #eee;font-family: FuturaBT-Medium;
    color: #3e3e3e;
    border-right: 1px solid #e2e2e2;
    border-radius: 0;
    margin-right: 0;
    width: 100%;
    text-align: center;
}




</style>