<style>
    .Modify-btn {
        background: none;
        border: none;
    }

    .modal-dialog {
        width: 95%;
        margin: 30px auto;
        padding: 30px;
    }

    .padlr-5 {
        padding: 0 5px;
        box-sizing: border-box;
    }

    .Modify-btn {
        background-color: #fff;
        border: 2px solid #ed3237;
        border-radius: 5px;
        color: #555;
        cursor: pointer;
        display: block;
        font-size: 20px;
        font-weight: 500;
        margin: auto 0 auto auto;
        padding: 2px 19px;
        position: relative;
        width: auto;
        z-index: 9;
        font-size: 15px;
    }

    .Modify-btn:hover {
        background: #ed3237;
        color: #fff;
        font-weight: 500;
    }

    .vi_text {
        padding-top: 13px;
    }

    .modify_search_detail .modal-header {
        border-bottom: 0px;
    }

    /*.modify_search_detail .modal-body {padding: 40px 30px 20px;}*/
    .pop-pad {
        padding: 40px 30px 20px;
        border-radius: 0px;
    }

    .mb-24 {
        margin-bottom: 24px;
        width: 100%;
        float: left;
    }

    .pop-pad .vi_text {
        font-size: 16px;
    }
</style>
<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="right_serch_p">
        <div class="right_search_bar">
            <ul class="search_bar_tab">
                <li><a href="javascript:void(0)">{{getUserActiveRole}}</a<i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li><a href="#services">Services</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li><a href="javascript:void(0)" class="">Buyer Search Result</a></li>


            </ul>
        </div>


        <div class="intra_city_list">
            <div class="loc_det">
                <div class="col-lg-9">
                    <ul class="loc_list">
                        <li>{{sellersearch.from_location.locality_name}} - to -
                            {{sellersearch.to_location.locality_name}}
                        </li>
                        <li>{{sellersearch.date | date : "dd/MM/y"}}</li>
                    </ul>
                </div>

                <div class="col-lg-3">
                    <div class="right_setg space_top">
                        <div class="cell-1">
                            <ul class="list-inline pull-right m-bottom-0">
                                <li>
                                    <div class="search-modify" data-toggle="modal" data-target="#myModal">
                                        <span>Modify</span></div>
                                </li>
                                <li>
                                    <div class="search-modify"><span>Post</span></div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>


            </div>

            <div class="search_results_heading">Filter Results</div>


            <div class="loc_det padding_30">


                <div class="col-lg-3">
                    <div class="padding_15">
                        <div class="text_mode">PRICE Rs.</div>
                    </div>

                    <div class="input_right_box_left">

                                                <span class="transit_d">
                                                    <span class="left_strans">100/-</span> <span class="right_strans">17,000/-</span>
                                                </span>


                    </div>

                </div>

                <div class="col-lg-3">
                    <div class="padding_15">
                        <div class="text_mode">Payment Mode</div>
                    </div>

                    <div class="input_right_box_left">

                        <div class="admin_input margin_t">
                            <input id="Partners" type="checkbox" class="check_box check_box_1">
                            <label for="Partners">Net Banking</label>
                        </div>
                        <div class="admin_input margin_t">
                            <input id="NairTrans" type="checkbox" class="check_box check_box_1">
                            <label for="NairTrans">Paytm</label>
                        </div>

                    </div>


                </div>

                <div class="col-lg-3">
                    <div class="padding_15">
                        <div class="text_mode">Tracking</div>
                    </div>

                    <div class="input_right_box_left">

                        <div class="admin_input margin_t">
                            <input id="Partners" type="checkbox" class="check_box check_box_1">
                            <label for="Partners">Milestone</label>
                        </div>
                        <div class="admin_input margin_t">
                            <input id="NairTrans" type="checkbox" class="check_box check_box_1">
                            <label for="NairTrans">Realtime</label>
                        </div>

                    </div>


                </div>

                <div class="col-lg-3">
                    <div class="padding_15">
                        <div class="text_mode">Rating</div>
                    </div>

                    <div class="input_right_box_left">

                        <div class="admin_input margin_t">
                            <input id="Partners" type="checkbox" class="check_box check_box_1">
                            <label for="Partners">Top Sellers(Order)</label>
                        </div>
                        <div class="admin_input margin_t">
                            <input id="NairTrans" type="checkbox" class="check_box check_box_1">
                            <label for="NairTrans">Top Sellers(Rated)</label>
                        </div>

                    </div>


                </div>
            </div>
            <div class="search_results_heading">Search Results</div>


            <div class="hyperlocal_gray">

                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    <div class="vendor_name_heading">Vendor Name / Service Name</div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <div class="vendor_name_heading">Valid From</div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <div class="vendor_name_heading">Valid to</div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                    <div class="vendor_name_heading">Price</div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <div class="vendor_name_heading"></div>
                </div>


            </div>


            <div class="data_box_100">
                <div class="data_contain_100">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                        <div class="vendor_img_box">
                            <div class="vendor_logo"><img src="../images/ventor_img1.jpg" alt="logistiks logo"></div>
                            <div class="vendor_detail">VD-super sonic (60 min / 5KMs )</div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <div class="vendor_date">01-11-2016</div>
                    </div>

                    <div class="col-lg-2">
                        <div class="vendor_date">03-11-2016</div>
                    </div>

                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                        <div class="vendor_date">550/-</div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <div class="book_box">
                            <a href="#" class="book_btn">Book Now</a>
                        </div>
                    </div>

                </div>

                <div class="Milestone_100">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="M_tone_100">
                            <div class="mile_img_box_left"><img src="../images/tank.jpg" alt="logistiks logo"></div>
                            <div class="Milestone_contain_left">Milestone</div>
                            <div class="net_img"><img src="../images/net.png" alt="logistiks logo"></div>

                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="milestone_right">
                            <div class="details_plus">+Details</div>
                        </div>
                    </div>
                </div>
            </div>

            <!--End of vechile_list_main-->


        </div>
        <!--End of intra_city_list-->
    </div>


</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content modify_search_detail pop-pad">
            <button type="button" class="close" data-dismiss="modal">&times;</button>

            <div class="modal-body">
                <div class="load_type intra_main activeintra" id="id1">
                    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
                        <div class="select_form_intra mb-24">
                            <select id="city" ng-change="onSelect(data.city)" ng-model="data.city"
                                    ng-options="y.city_name for (x, y) in cities track by y.id"
                                    class="ng-pristine ng-untouched ng-valid">
                                <option value="" class="" selected="selected"> Select City</option>
                            </select>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
                        <div class="select_form_intra mb-24">
                            <input type="text" autocomplete="off" id="fromLocation" ng-model="data.fromLocation"
                                   class="input_ani ng-pristine ng-untouched ng-invalid ng-invalid-required"
                                   name="from_location"
                                   typeahead="location as (location.locality_name) for location in locations | filter:$viewValue"
                                   required="" aria-autocomplete="list" aria-expanded="false"
                                   aria-owns="typeahead-12-8736">


                            <label class="lbl_text2">From location <span>*</span></label>


                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
                        <div class="select_form_intra mb-24">
                            <input type="text" autocomplete="off" id="toLocation" ng-model="data.toLocation"
                                   typeahead="location as (location.locality_name) for location in locations | filter:$viewValue"
                                   class="input_ani ng-pristine ng-untouched ng-invalid ng-invalid-required"
                                   name="to_location" required="" aria-autocomplete="list" aria-expanded="false"
                                   aria-owns="typeahead-13-5658">


                            <label class="lbl_text2">To Location <span>*</span></label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
                        <div class="date_selection select_form_intra">
                            <!--<span class="left_v_from">
                                        <input type="text" id="valid_to_date" tocalendar ng-model="data.dispatchDate" autocomplete="off" name="valid_to_date" class="date_p input_ani ng-pristine ng-untouched hasDatepicker ng-invalid ng-invalid-required" required="">
                                                    <label class="lbl_text2 padg_l">Dispatch Date<span>*</span></label>
                            <span class="tooptip_left">
                                                        <a href="#" tooltip="Please specify atleast one of these: Delivery or Dispatch date." > <i class="glyphicon glyphicon-info-sign"></i></a></span>
                            </span>-->

                            <span class="left_v_from">
                                <input type="text" autocomplete="off" id="valid_to_date" tocalendar
                                       ng-model="data.dispatchDate"
                                       class="date_p input_ani ng-pristine hasDatepicker ng-invalid ng-invalid-required ng-touched"
                                       required="">
                                <label class="lbl_text2 padg_l">Dispatch Date<span>*</span></label>
                            <span class="tooptip_left">
                                <a href="#"
                                   tooltip="Please specify atleast one of these: Delivery or Dispatch date."> <i
                                        class="glyphicon glyphicon-info-sign"></i></a>
                            </span>
                            </span>
                        </div>
                    </div>

                    <div class="load_type">

                        <div class="search_btn">
                            <div class="serch_vichel">
                                <input type="button" class="button_serch" id="searchSeller"
                                       ng-click="searchModified(data)" name="button" value="Search">
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        $("#filters_click").click(function () {
            $("#filters_show").toggle('fast');

        });
    });
</script>

<script>

    $(".subresult").hide();
    $(document).on('click', ".show_hide", function () {

        var id = $(this).attr('data-id');


        $("#open_show" + id).toggle();
        $(this).find('i').toggleClass('fa fa-plus fa fa-minus');
    });

</script>


<script>
    $(document).ready(function () {
        $(".search_i").click(function () {
            $(".open_search").show();
        });

        $(".close_btn_close").click(function () {
            $(".open_search").hide();
        });
        var gwid = $(".scroll_div").width();
        var twid = $(".loc_det").width();
        var acwid = gwid / twid * 100;
        var len = $(".scroll_div").length;
        var towid = acwid * len + 9;
        $(".fillter_div").css({"width": "" + towid + "%"});
    });
</script>
