<div class="intracity_page padding_main">
    <div class="book_main">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="right_serch_p">
                <div class="right_search_bar">
                    <ul class="search_bar_tab">
                        <!--<li><a href="#">{{ activeServiceName }}</a><span
                                class="glyphicon glyphicon-chevron-right"></span></li> -->
                        <li>                       
                            <a href="javascript::void(0)" class="active_c">Message</a>
                        </li>
                    </ul>
                </div>
                <div class="cart heght_100">
                    <div class="loc_det">
                        <div class="loc_det1">
                            <ul class="filter_s">
                                <li><a href="">MESSAGE TYPE</a></li>
                                <li><a href="">SERVICE</a></li>
                                <li><a href="">FROM DATE</a></li>
                                <li><a href="">TO DATE</a></li>
                                <li><a href="">SEARCH</a></li>

                            </ul>
                            <span class="rilters_right"><i class="fa fa-bars"></i> Filters</span>
                        </div>
                        <div class="gray_bg1">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <th scope="col">FROM</th>
                                    <th scope="col">DATE</th>
                                    <th scope="col">SUBJECT</th>
                                    <th scope="col"></th>
                                </tr>
                             
                                <tr style = "border-bottom: 6px solid #fff" class="link" ng-repeat="(key,value) in messages">
                                   
                                        <td ng-if = "value.is_read == 1" style = "background-color: #ddd;margin-bottom:10px;" ng-click="getMessageDetail(value)">
                                        {{ value.fromName }}
                                        </td>
                                         <td ng-if = "value.is_read == 0"  ng-click="getMessageDetail(value)">
                                        {{ value.fromName }}
                                        </td>
                                        <td  ng-if = "value.is_read == 1" style = "background-color: #ddd" ng-click="getMessageDetail(value)">
                                            {{ value.created_at | dateStringFormat }}
                                        </td>
                                          <td  ng-if = "value.is_read == 0"  ng-click="getMessageDetail(value)">
                                            {{ value.created_at | dateStringFormat }}
                                        </td>
                                        <td  ng-if = "value.is_read == 1" style = "background-color: #ddd" ng-click="getMessageDetail(value)">
                                            {{ value.subject }}
                                        </td>
                                         <td  ng-if = "value.is_read == 0"  ng-click="getMessageDetail(value)">
                                            {{ value.subject }}
                                        </td>
                                    
                                    <td ng-if = "value.is_read == 1" style = "background-color: #ddd">
                                        <a href="" data-toggle="modal"  ng-click="replyMessageModal(value)"
                                           class="red_btn_cart pull-right">Reply</a>
                                    </td>
                                     <td ng-if = "value.is_read == 0">
                                        <a href="" data-toggle="modal"  ng-click="replyMessageModal(value)"
                                           class="red_btn_cart pull-right">Reply</a>
                                    </td>
                                   
                                </tr>
                                
                                

                            </table>

                        </div>

                    </div>
                </div>
               <!--end of location_sec-->
            </div>
            <!--end of right_search_p-->
        </div>
    </div>

</div>

<!-- Message Modal start -->
<!-- Message Modal start -->
<div ng-include="'modules/messages/templates/messageModal.html'"></div>
