<div class="right_section_community left_menu_space">
    
    <div class="col-md-12 col-sm-8 col-xs-12">
        <div class="row">
            <div class="right_serch_p titile_gray">
                <div class="right_search_bar">
                    <ul class="search_bar_tab">
                        <li><a href="#community-profile">Community</a><span class="crum-2"><i class="fa  fa-angle-right"></i></span></li>
                        <li><a href="#individuals">Members</a><span class="crum-2"><i class="fa  fa-angle-right"></i></span></li>
                        <li><a href="javascript:void(0);" class="active_c">Individuals</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
            <div class="right_serch_p">

                <div class="main-right">



                    <!-- Search Block Starts Here -->
                    <div class="search-block inner-block-bg">
                        <div class="cell-1 cell-1-80">
                            <ul class="list-inline  m-bottom-0 m-top-5 font-bold-black">
                                <li><a href="#">Individuals ( {{ invitations.totalMembers }} )</a></li>
                            </ul>
                        </div>
                        <div class="cell-1">
                            <ul class="list-inline pull-right m-bottom-0">
                                <li>
                                    <div class="search-modify"><a href="#/individuals-invitation" class="padd-0"><span>+ Invite</span></a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--invitation notification start-->
                    <div class="invitaion_notification">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="invitation_text">Invitation ( {{ invitations.totalInvitation }} New )</div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-repeat="invitation in invitations.data">
                                <div class="invitation_box">
                                    <div class="invitation_d">
                                        <div class="invitation_image">
                                            <img src="../intracity/images/user.jpg" alt="user">
                                        </div>
                                    </div>
                                    <div class="invitation_info">
                                        <div class="invite_name"> <a href="#/community/profile/{{invitation.user | getSlug }}"> {{ invitation.user.username }} </a> </div>
                                        <div class="invite_text"> {{ invitation.user.designation && invitation.user.designation || 'N/A' }} </div>
                                    </div>
                                    <div class="invitation_action">
                                        <div class="action_icon margin_bottom5">
                                            <div class="close_action" ng-click="actionOnInvitation(invitation,'cancel')"></div>
                                        </div>
                                        <div class="action_icon">
                                            <div class="accept_action" ng-click="actionOnInvitation(invitation,'accept')"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>                           
                            
                        </div>
                    </div>
                    <!--invitation notification end-->
                    <div class="search-block inner-block-bg">

                        <div class="col-lg-11 col-md-11 col-sm-11">

                            <div class="alert-success" ng-show="message">
                                {{ message }}
                            </div>

                            <div class="filter_100 displye" ng-class="{active: is_active}">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <div class="row">
                                                <div class="select_form_intra">
                                                    <input type="text" ng-change="search()" ng-model="searchData.name" name="name" class="input_ani" required="">
                                                    <label class="lbl_text2">Enter Name</label>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                            <input id="Submit1" type="submit" value="Search" />
                                        </div>-->
                                    </div>
                                </div>
                                <div class="filder_widht">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="select_form_intra">
                                                <input type="text" name="location" ng-change="search()" ng-model="searchData.location" class="input_ani" required="">
                                                <label class="lbl_text2">LOCATION</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="filder_widht">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="select_form_intra">
                                                <input type="text" ng-change="search()" ng-model="searchData.company" name="filter_company" class="input_ani" required="">
                                                <label class="lbl_text2">COMPANY</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="filder_widht">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="select_form_intra">
                                                <input type="text" class="input_ani" required="">
                                                <label class="lbl_text2">DESIGNATION</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>




                                <div class="filder_widht">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="row">


                                            <div class="network_heading">NETWORK</div>


                                            <div class="commny_chack_box">

                                                <div class="admin_input margin_t">
                                                    <input id="Partners" type="checkbox" class="check_box check_box_1">
                                                    <label for="Partners">Follow</label>
                                                </div>
                                                <div class="admin_input margin_t">
                                                    <input id="NairTrans" type="checkbox" class="check_box check_box_1">
                                                    <label for="NairTrans">Follower</label>
                                                </div>
                                                <div class="admin_input margin_t">
                                                    <input id="NairTrans" type="checkbox" class="check_box check_box_1">
                                                    <label for="NairTrans">Connections</label>
                                                </div>

                                                <div class="admin_input margin_t">
                                                    <input id="NairTrans" type="checkbox" class="check_box check_box_1">
                                                    <label for="NairTrans">All</label>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>                           
                        </div>

                        <div class="cell-1">
                            <ul class="list-inline list-inline1 pull-right m-bottom-0 p-up-down">
                                <li> <a href="javascript:void(0)" class="link-zindex collapsed" ng-click="is_active = !is_active">Filters <i class="fa fa-bars"></i></a> </li>
                            </ul>
                        </div>

                    </div>
                    <!-- Search Block Ends Here -->
                    <!-- Table Starts Here -->


                    <div class="bg-block" ng-repeat="(key,value) in allusers">
                        <div class="linkdin_pro">
                            <div class="col-md-6 padding-left-none">
                                <img src="../intracity/images/kapil.png" class="pull-left m-r-10">
                                <div class="pull-left col-md-10 padding-none">
                                    <div class="down-link">
                                        <strong style="font-size:17px; color: #333; padding: 0px 5px;"><a style="color:#333; text-decoration:none;" href="#/community/profile/{{value | getSlug }}">{{value.username}}</a></strong>
                                        <p>Partners <span> {{ value.partners.length }} </span></p>
                                        <p>Connections <span> {{ value.connections.length }} </span></p>
                                        <div class="rating_link_new">
                                            <a href="#" class="rating_linlk_1">Rating</a>
                                            <a href="#" class="rating_linlk_1">Recommendation</a>
                                            <a href="#" class="rating_linlk_2">Professional Status</a>
                                        </div>
                                        <p class="brifer"><a href="javascript:void(0)">Brief</a></p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 padding-left-none">
                                <div class="right-side-div">
                                    <button class="add_btn_Register" ng-click="sendInvitationForConnection('individual',value)">Connect</button>
                                    <div class="follows-s">
                                        <a href="" ng-show="value.follower">
                                            <p class="bold">Following</p>
                                        </a>
                                        <a href="" ng-show="!value.follower">
                                            <p class="bold" ng-click="follow(value.id)"><span><i class="fa fa-plus" aria-hidden="true"></i></span>Follow</p>
                                        </a>
                                    </div>

                                </div>
                            </div>

                            <div class="contett-brie">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            </div>

                        </div>
                    </div>


                    <!-- <div class="bg-block1">
                        <div class="linkdin_pro">
                            <div class="col-md-12 ">
                                <div class="view-more-deatilse">
                                    <button class="view-more-deatils" data-ember-action="">View More</button>
                                </div>
                            </div>
                        </div>
                    </div>   -->
                    <!-- Table Starts Here -->
                </div>
            </div> <!--end of right_search_p-->
        </div>
    </div>
</div>