<style type="text/css">
    .filter-result {
        display: none;
    }

    .no-border {
        border: 0px;
    }

    .mb15 {
        margin-bottom: 15px;
        width: 100%;
        float: left;
    }

    .filter-result-toggle {
        cursor: pointer;
    }

    .no-padding {
        padding: 0px;
    }

    .pop-edit-btn,
    .pop-delete-btn {
        cursor: pointer;
    }
</style>
<style>
    .Modify-btn {
        background: none;
        border: none;
    }

    .modal-dialog {
        width: 95%;
        margin: 30px auto;
        padding: 30px;
    }

    .padlr-5 {
        padding: 0 5px;
        box-sizing: border-box;
    }

    .Modify-btn {
        background-color: #fff;
        border: 2px solid #ed3237;
        border-radius: 5px;
        color: #555;
        cursor: pointer;
        display: block;
        font-size: 20px;
        font-weight: 500;
        margin: auto 0 auto auto;
        padding: 2px 19px;
        position: relative;
        width: auto;
        z-index: 9;
        font-size: 15px;
    }
    .detail-data-form-4{width: 100%;
    float: left;}

    .Modify-btn:hover {
        background: #ed3237;
        color: #fff;
        font-weight: 500;
    }

    .vi_text {
        padding-top: 13px;
    }

    .modify_search_detail .modal-header {
        border-bottom: 0px;
    }
    /*.modify_search_detail .modal-body {padding: 40px 30px 20px;}*/

    .pop-pad {
        padding: 40px 30px 20px;
        border-radius: 0px;
    }

    .mb-24 {
        margin-bottom: 24px;
        width: 100%;
        float: left;
    }

    .pop-pad .vi_text {
        font-size: 16px;
    }

    .user_search_result {
        width: 100%;
        float: left;
        font-size: 16px;
        margin-bottom: 10px;
        letter-spacing: 1px;
    }

    .user_search_result_modify {
        width: 100%;
        float: left;
        margin-top: 15px;
    }

    .user_search_result_modify li {
        margin-bottom: 10px;
    }


    .right_search_bar {
        width: 100%;
        float: left;
        padding: 10px 0;
    }

    .right_search_bar .search_bar_tab {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .right_search_bar .search_bar_tab li {
        display: inline-block;
        padding: 10px 19px;
        position: relative;
    }

    .right_search_bar .search_bar_tab li a {
        text-decoration: none;
        font-size: 18px;
        color: #616161;
    }

    .right_search_bar .search_bar_tab li a.active_c {
        color: #333;
        font-size: 18px;
        font-weight: bold;
    }

    .hyperlocal-rc-flow {
        width: 100%;
        float: left;
        background: #fff;
        margin: 0 0 15px 0;
    }

    .hyperlocal-rate-card {
        width: 100%;
        float: left;
    }

    .select_form_hyperlocal {
        width: 100%;
        float: left;
        padding: 6px 0;
        position: relative;
    }

    .select_form_hyperlocal select {
        width: 100%;
        float: left;
        padding: 13px 2px;
        border-radius: 3px;
        font-size: 14px;
        color: #666;
        border: none;
        border-bottom: #ccc solid 1px;
        outline: none;
    }

    .select_form_hyperlocal input {
        border: none;
        width: 100%;
        float: left;
        position: relative;
        padding: 13px 38px;
        outline: none;
        border-bottom: solid 1px #e0e0e0;
    }

    .select_form_hyperlocal .input_ani:focus~label,
    .input_ani:valid~label {
        top: 0px;
        font-size: 12px;
        color: #666;
    }

    .select_form_hyperlocal .input_ani {
        padding: 20px 0 5px 5px;
        border: none;
        outline: none;
        border-bottom: solid 1px #e0e0e0;
        font-size: 16px;
        -moz-transition: .3s;
        -o-transition: .3s;
        -webkit-transition: .3s;
        transition: .3s;
        width: 100%;
        float: left;
    }

    .select_form_hyperlocal .lbl_text2 {
        position: absolute;
        font-size: 14px;
        left: 5px;
        pointer-events: none;
        top: 20px;
        -moz-transition: .3s;
        -o-transition: .3s;
        -webkit-transition: .3s;
        transition: .3s;
        font-weight: 400;
        color: #666;
    }

    .select_form_hyperlocal input.date_p {
        background: url(images/datepicker.png) no-repeat left -3px;
        background-position: 0 13px;
    }

    .select_form_hyperlocal .padg_l {
        padding: 0 35px;
    }

    .hyperlocal-rate-card .load_type {
        width: 100%;
        float: left;
        margin: 5px 0;
    }

    .hyperlocal-rate-card .file-upload,
    .hyperlocal-rate-card .file-download {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 4px solid #FFFFFF;
        overflow: hidden;
        background-image: linear-gradient(to bottom, #ed3237 50%, #FFFFFF 50%);
        background-size: 100% 200%;
        transition: all 1s;
        color: #FFFFFF;
        font-size: 15px;
        float: left;
    }

    .hyperlocal-rate-card input[type='file'] {
        height: 50px;
        width: 50px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
    }

    .hyperlocal-rate-card .lbl_text3 {
        float: left;
        color: #666;
        font-size: 14px;
        font-weight: 500;
        line-height: 45px;
    }

    .hyperlocal-rate-card .Discounts_btn {
        display: block;
        color: #3c3c3c;
        border: none;
        outline: none;
        text-decoration: none;
        font-size: 18px;
        padding: 10px 15px;
        float: right;
        cursor: pointer;
        text-align: center;
        margin-bottom: 10px;
    }

    .hyperlocal-rate-card .add_btn_gray {
        background-color: #747474;
        color: #fff;
        font-size: 17px;
        padding: 6px 10px;
        text-transform: capitalize;
        border: 1px solid #6c6c6c;
        margin-top: 15px;
        outline: none;
    }

    .on_time {
        width: 100%;
        float: left;
    }

    .on_time .p_details {
        width: 30%;
        float: left;
        padding: 8px 0;
    }

    .on_time .p_details .pro_img {
        width: 30%;
        float: left;
    }

    .on_time .p_details .pro_img span {
        width: 100%;
        float: left;
        padding: 0 10px;
    }

    .on_time .p_details .pro_img .bottom_img {
        width: 100%;
        float: left;
    }

    .on_time .p_details .pro_img .bottom_img ul {
        list-style: none;
        margin: 0;
        padding: 0 10px;
        width: 100%;
        float: left;
    }

    .on_time .p_details .pro_img .bottom_img ul li {
        display: inline-block;
        padding: 4px 1px;
    }

    .on_time .p_details .pro_img .bottom_img .text_pr {
        width: 100%;
        float: left;
    }

    .on_time .p_details .pro_img .bottom_img .text_pr span {
        width: 23px;
        float: left;
        padding: 0 10px;
        font-size: 10px;
        color: #8b8b8e;
    }

    .on_time .p_details .pro_disc {
        width: 70%;
        float: left;
    }

    .on_time .p_details .pro_disc ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .on_time .p_details .pro_disc ul li {
        padding: 0 14px;
        display: block;
        float: left;
        width: 100%;
        color: #747578;
        font-size: 14px;
        position: relative;
    }

    .on_time .p_details .pro_disc ul li span {
        width: 100%;
        float: left;
    }

    .on_time .p_details .pro_disc ul li span {
        width: 100%;
        float: left;
    }

    .on_time .p_discerption {
        width: 70%;
        float: right;
    }

    .on_time .p_discerption .p_disc_sub {
        width: 100%;
        float: left;
        padding: 4px 0;
        margin-top: 6px;
        margin-bottom: 20px;
    }

    .on_time .p_discerption .p_disc_sub .price_t {
        padding: 0;
        margin: 0;
        color: #747578;
        font-size: 16px;
        line-height: 22px;
        margin: 0 0 8px 0;
    }

    .on_time .p_discerption .table_detail {
        width: 100%;
        float: left;
    }

    .on_time .p_discerption .table_detail .p_terms_t {
        width: 25%;
        float: left;
        min-height: 80px;
    }

    .on_time .p_discerption .table_detail .p_terms_t h2 {
        display: block;
        font-weight: bold;
        color: #000;
        font-size: 15px;
        line-height: 22px;
        text-transform: uppercase;
        padding: 5px 0;
    }

    .on_time .p_discerption .table_detail .p_terms_t p {
        font-size: 13px;
        color: #a2a1a1;
        padding: 0;
        margin: 0;
    }

    .p_terms_t {
        width: 25%;
        float: left;
        min-height: 80px;
    }

    .p_terms_t h2 {
        display: block;
        font-weight: bold;
        color: #000;
        font-size: 15px;
        line-height: 22px;
        text-transform: uppercase;
        padding: 5px 0;
    }

.detail-minus:after {
        content: "";
        display: none;
}
    .p_terms_t p {
        font-size: 13px;
        color: #a2a1a1;
        padding: 0;
        margin: 0;
    }

    .detail_b1 {
        float: left;
        margin-top: 1px;
        padding: 4px 0px 0 62px;
        font-size: 17px;
        cursor: pointer;
        position: relative;
        width: 85%;
        margin-right: 0;
    }

    .detail_b1:before {
        content: "";
        position: absolute;
        left: 40px;
        top: 14px;
        width: 12px;
        height: 1px;
        background: #808080;
    }

    .detail_b1:after {
        content: "";
        position: absolute;
        left: 46px;
        top: 9px;
        height: 12px;
        width: 1px;
        background: #808080;
    }

    .msg-icon {
        outline: none;
        line-height: 35px;
        float: left;
        width: 15%;
    }

    .msg-icon .fa {
        font-size: 16px;
        padding: 0 0 0 5px;
        border-left: 1px solid #bfbfbf;

    }
  .routes-list{
    width: 100%;
    float: left;
    padding: 15px 0;
    border-top: 4px solid #f7f8f8;    
    border-bottom: 4px solid #f7f8f8;
} 
.white_bg-one{
    width: 100%;
    float: left;background: #fff;
}
.has-error {
    color: red;
}


</style>

<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="right_serch_p">
        <div class="right_search_bar">
            <ul class="search_bar_tab">
                <li><a href="#">Seller</a><span class="crum-2"><i class="fa  fa-angle-right"></i></span></li>
                <li><a href="#">Intacity</a><span class="crum-2"><i class="fa  fa-angle-right"></i></span></li>
                <li><a href="#">Post Master</a><span class="crum-2"></span></li>

              

            </ul>
        </div>

        <div class="intra_city_list">

            <!--  {{buyerSearch}}  -->
            <!--    {{buyerSearch.location[0].distance|json}}  -->

            <div class="loc_det">

                <div class="col-lg-9">
                    
                </div>

                <div class="col-lg-3">
                    <div class="right_setg space_top">
                        <div class="cell-1">
                            <ul class="list-inline pull-right m-bottom-0">
                                <li></li>
                               
                                <li>
                                    <!-- <a href="#/hp-buyer-post">
                                        <div class="search-modify"><span>Post65</span></div>
                                    </a> -->
                                    <div class="search-modify"><span><i class="fa fa-plus puls_icon" aria-hidden="true"></i>  <a href="#/seller-rate-card">Post</a></span></div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>


            </div>


            <div class="loc_det">
                <ul class="filter_s" id="loc_det_filters_click">
                    <!-- <li>CITY</li>
                    <li>FROM LOCATION</li>
                    <li>TO LOCATION</li> -->
                    <li>VEHICLE TYPE</li>
                    <li>POST TYPE</li>
                    <li>DISPATCH DATE</li>
                    <li>POST END DATE</li>
                    <li>SELLERS</li>
                    <li>POST STATUS</li>
                </ul>
                <span class="rilters_right" id="filters_click"><i class="fa fa-bars"></i> Filters </span>
            </div>
            <div class="white_bg overflow" id="filters_show">
                <div class="scroller-div">
                    <div class="fillter_div">
                        <!-- <div class="scroll_div">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="">
                                    <input type="text" id="buyer" class="input_ani" autocomplete="off"
                                           typeahead-on-select="onSelect($item, $model, $label)"
                                           ng-model="data.city_id.id" required=""
                                           typeahead="city as (city.city_name) for city in cities | filter:$viewValue"/>
                                    <label class="lbl_text2">SELECT CITY</label>
                                    <span class="search_icon"><i class="fa fa-search"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="scroll_div">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="select_form_intra">
                                        <input type="text" id="buyer" class="input_ani" autocomplete="off"
                                               ng-model="data.d_from_location" required=""/>
                                        <label class="lbl_text2">FROM LOCATION</label>
                                        <span class="search_icon"><i class="fa fa-search"></i></span>
                                    </div>
                                    <div class="filter_from_location">
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <ul class="post_inline">
                                                    <li ng-repeat="(key,value) in locations |filter:data.d_from_location">
                                                        <div class="admin_input">
                                                            <input ng-click="selectNewFromLocation(value.locality_name);addFilterData(filterData.fromLocation,value.id)"
                                                                   id="from{{value.id}}" name="value.id"
                                                                   ng-model="data.locality_name[key]"
                                                                   autocomplete="off" type="checkbox"
                                                                   value="{{value.id}}"
                                                                   class="check_box check_box_1">
                                                            <label for="from{{value.id}}">
                                                                <label for="Cash">{{value.locality_name}}</label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="scroll_div">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="select_form_intra">
                                        <input type="text" id="buyer" class="input_ani d_to_location"
                                               autocomplete="off" ng-model="data.d_to_location" required=""/>
                                        <label class="lbl_text2">TO LOCATION</label>
                                        <span class="search_icon"><i class="fa fa-search"></i></span>
                                    </div>
                                    <div class="filter_from_location">
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <ul class="post_inline">
                                                    <li>
                                                        <div class="admin_input"
                                                             ng-repeat="(key,value) in locations | filter:data.d_to_location">
                                                            <input ng-click="selectNewToLocation(value.locality_name);addFilterData(filterData.toLocation,value.id)"
                                                                   autocomplete="off" type="checkbox"
                                                                   id="to{{value.id}}" class="check_box">
                                                            <label for="to{{value.id}}">{{ value.locality_name
                                                                }}</label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="scroll_div">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="select_form_intra">
                                        <input type="text" class="input_ani" ng-model="data.vehicle_type"
                                               required=""/>
                                        <label class="lbl_text2">VEHICLE TYPE</label>
                                        <span class="search_icon"><i class="fa fa-search"></i></span>
                                    </div>
                                    <div class="filter_from_location">
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <ul class="post_inline">
                                                    <li>
                                                        <div class="admin_input"
                                                             ng-repeat="vehicle in vehicles | filter:data.vehicle_type">
                                                            <input type="checkbox" class="check_box"
                                                                   ng-click="selectNewVehicleType(vehicle.vehicle_type);addFilterData(filterData.vehicleType,vehicle.id)"
                                                                   id="vl{{vehicle.id}}">
                                                            <label for="vl{{vehicle.id}}">{{ vehicle.vehicle_type
                                                                }}</label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="scroll_div">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="select_form_intra">
                                        <input type="text" class="input_ani" ng-model="data.post_type" required="">
                                        <label class="lbl_text2">Post Type</label>
                                        <span class="search_icon"><i class="fa fa-search"></i></span>
                                    </div>
                                    <div class="filter_from_location">
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <ul class="post_inline">
                                                    <li ng-repeat="type in type_basis | filter: data.post_type">
                                                        <div class="admin_input">
                                                            <input type="checkbox"
                                                                   ng-click="selectNewPostType(type.id);addFilterData(filterData.postType,type.id)"
                                                                   id="type{{type.id}}" class="check_box">
                                                            <label for="type{{type.id}}">{{type.value}}</label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="scroll_div">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="select_form_intra">
                                        <input type="text" class="input_ani" ng-model="data.post_status" required="">
                                        <label class="lbl_text2">Post Status</label>
                                        <span class="search_icon"><i class="fa fa-search"></i></span>
                                    </div>
                                    <div class="filter_from_location">
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <ul class="post_inline">
                                                    <li ng-repeat="status in post_Status | filter: data.post_status"
                                                        ng-show="status.id==3 || status.id==1">
                                                        <div class="admin_input">
                                                            <input type="checkbox" ng-click="postStatus(status.id);addFilterData(filterData.postStatus,status.id)"
                                                                   id="status{{status.id}}" class="check_box">
                                                            <label for="status{{status.id}}">{{status.value}}</label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="scroll_div">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="select_form_intra ">
                                        <input type="text" class="input_ani" required="" ng-model="data.name">
                                        <label class="lbl_text2">SELLER NAME</label>
                                        <span class="search_icon"><i class="fa fa-search"></i></span>
                                    </div>
                                    <div class="filter_from_location sellers_det">
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <ul class="post_inline">
                                                    <li ng-repeat="(key,value) in sellerList |filter:data.name">
                                                        <div class="admin_input">
                                                            <input ng-click="selectNewSellerName(value.username);addFilterData(filterData.sellerType,value.id)"
                                                                   id="s{{value.id}}" name="value.id"
                                                                   ng-model="data.username[key].username"
                                                                   type="checkbox" value="{{value.id}}"
                                                                   class="check_box check_box_1">
                                                            <label for="s{{value.id}}">
                                                                <label for="Cash">{{value.username}}</label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="scroll_div">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="date_selection select_form_intra">
                             <span class="left_v_from">
                             <input type="text" id="from_calendar" ng-model="data.dispatchdate" ng-change="addFilterData(filterData.fromDate,data.dispatchdate)" fromcalendar
                                    class="date_p input_ani" required="">
                             <label class="lbl_text2 padg_l">Dispatch Date </label>
                             </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="scroll_div">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="date_selection select_form_intra">
                             <span class="left_v_from">
                             <input type="text" id="to_date" ng-model="data.lastdate" ng-change="addFilterData(filterData.toDate,data.lastdate)" tocalendar
                                    class="date_p input_ani" required="">
                             <label class="lbl_text2 padg_l">Post End Date</label>
                             </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="loc_det">                
              
                <div class="hyperlocal_gray">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <div class="vendor_name_heading">From </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="vendor_name_heading">Title</div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <div class="vendor_name_heading">Valid From</div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <div class="vendor_name_heading">Valid To</div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                       <!--  <div class="vendor_name_heading">Notification</div> -->
                    </div>
                     
                </div>
              
                <div class="data_box_bg">
                    <div ng-show="value.lead_type == 1" class="white_bg-one" ng-repeat="(key, value) in spotsList.payload" ng-if="value.routes.length">
                        <div class="routes routes-list " ng-repeat="(routeKey, route) in value.routes">

                        
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="vendor_img_box">
                                
                                <div class="vendor_detail">{{ value.buyer.username }} </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="vendor_img_box">
                                 {{ value.title }}
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="vendor_date">
                                {{ route.valid_from  |  date:'dd/MM/yyyy'}}
                               
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="vendor_date">
                                
                                {{  !empty(route.last_date) && (route.last_date !='0000-00-00') && (route.last_date !='1970-01-01') && route.last_date | date:'dd/MM/yyyy' || 'N/A' }}                                
                            </div>
                        </div>
                        

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">                                
                            <div class="sep_div1">                                
                                <input id="Submit1" ng-show="(value|isBidElapsed)" type="submit" ng-click="viewFormNow(route,route.id)" value="Bid Elapsed" class="book_btn no-border pull-right">

                                <input id="Submit1" ng-show="!(value|isBidElapsed) && route.quote.status == null " type="submit" ng-click="viewFormNow(route,route.id)" value="Quote" class="book_btn no-border pull-right">
                                
                                <input id="Submit1" type="submit" ng-show="!(value|isBidElapsed) && route.quote.status == 1" ng-click="viewFormNow(route,route.id)" value="Initial Quote Submitted" class="book_btn no-border pull-right">

                                <input id="Submit1" type="submit" ng-show="!(value|isBidElapsed) && route.quote.status == 2" ng-click="viewFormNow(route,route.id);sellerQuoteAction(key,routeKey,'ACCEPTED_QUOTE')" value="Accept" class="book_btn no-border pull-right">
                                <input id="Submit1" type="submit" ng-show="!(value|isBidElapsed) && route.quote.status == 4" ng-click="viewFormNow(route,route.id)" value="Quote Accepted" class="book_btn no-border pull-right">
                                
                                <input id="Submit1" type="submit" ng-show="!(value|isBidElapsed) && route.quote.status == 3" ng-click="viewFormNow(route,route.id)" value="Final Quote Submitted" class="book_btn no-border pull-right">
                                <input id="Submit1" type="submit" ng-show="!(value|isBidElapsed) && route.quote.status == 5" ng-click="viewFormNow(route,route.id)" value="Quote Declined" class="book_btn no-border pull-right">
                                
                            </div>
                            <div class="detail_b1 toggle-minus-{{ route.id }}" ng-click="showHideDetail(route.id)" data-id="{{ route.id }}">Detail
                            </div>
                            <a href="javascript:void(0)" ng-click="sendMessageModal(value)" data-toggle="modal" data-target="#messageModal" class="pull-right msg-icon">
                                <i class="fa fa-envelope-o"></i>
                            </a>
                        </div>


                        <div class="on_time filter-result" id="detail-{{ route.id }}" style="display:none;">
                            <div class="detail_vich">
                                <div class="col-md-3">
                                    <span class="data-head">VEHICLE TYPE </span>
                                    <span class="data-value">{{!empty(route.vehicle_type) && route.vehicle_type.vehicle_type || 'N/A'}}</span>
                                </div>
    
    
                                <div class="col-md-2">
                                    <span class="data-head">DISPATCH DATE</span>
                                    <span class="data-value"> {{ route.valid_from }}  </span>
                                </div>
    
                                <div class="col-md-1">
                                    <!--<span class="data-head">DELIVERY DATE</span>
                                    <span class="data-value">09/06/2017</span>-->
                                </div>
    
    
                                <div class="col-md-3">
                                    <span class="data-head">LAST DATE FOR QUOTE</span>
                                    <span class="data-value">{{ value.last_date }} {{ value.last_time }} </span>
                                </div>
    
                                <div class="col-md-3">
                                    <span class="data-head">PRICE TYPE </span>
                                    <span class="data-value" ng-if="route.price_type == 0">N/A</span>
                                    <span class="data-value" ng-if="route.price_type == 2">FIRM</span>
                                    <span class="data-value" ng-if="route.price_type == 1">Competitive</span>
                                </div>
                            </div>
                            <div class="detail_vich">
                                
                                <div class="col-md-3">
                                    <span class="data-head">INITIAL QUOTE PRICE </span>
                                    <span class="data-value" ng-if="route.quote.initial_quote_price">
                                    RS. {{ route.quote.initial_quote_price }} /-
                                </span>
                                    <span class="data-value" ng-if="!route.quote.initial_quote_price">
                                    N/A
                                </span>
                                </div>
                                <div class="col-md-3">
                                    <span class="data-head">Transit Days </span>
                                    <span class="data-value" ng-if="route.quote.transit_day">
                                    {{ route.quote.transit_day }} days
                                </span>
                                    <span class="data-value" ng-if="!route.quote.transit_day">
                                    N/A
                                </span>
                                </div>

                                <div class="col-md-3" ng-show="route.quote.buyer_quote_price">
                                    <span class="data-head">BUYER QUOTE PRICE</span>
                                    <span class="data-value">RS {{ route.quote.buyer_quote_price }} /- </span>
                                </div>
                                

                            </div>

                            <div class="detail_vich" ng-show="route.quote.seller_quote_price">
                                
                                <div class="col-md-3">
                                    <span class="data-head">FINAL QUOTE PRICE </span>
                                    <span class="data-value" ng-if="route.quote.seller_quote_price">
                                        RS. {{ route.quote.seller_quote_price }} /-
                                    </span>
                                    <span class="data-value" ng-if="!route.quote.seller_quote_price">
                                        N/A
                                    </span>
                                </div>

                                <div class="col-md-3">
                                    <span class="data-head">Final Transit Days </span>
                                    <span class="data-value" ng-if="route.quote.seller_final_transit_days">
                                        {{ route.quote.seller_final_transit_days }} days
                                    </span>
                                    <span class="data-value" ng-if="!route.quote.seller_final_transit_days">
                                        N/A
                                    </span>
                                </div>                                
                                

                            </div>

                            <div ng-include="'templates/seller/quote-form.html'"></div>
                        </div>                    


                        
                        </div>
                    </div> <!-- End routes  -->
                    </div> 
                    
                </div>
                <div class="white_bg" ng-if="searchResult == ''" style="text-align:center">
                    <h3>Data not available</h3>
                </div>
                

            </div>
            
        </div>
     
        </div>

        </div>

    </div>
</div>
<!--model box end here-->

<div class="modal fade msgbox" id="initialquotemodel" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content border_r">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
        <div class="modal-body">
          <p>Initial Quote given successfully.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="closeQuoteModel()" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>


<!-- Message Modal start -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="MessageData">
                <div class="modal-header">
                    <h3 style="float:left" id="status">

                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">

                    <h4 class="sub-head red margin-left-none margin-bottom">New Message</h4>
                    <div>
                        <input id="quoteObject" class="form-control form-control1" placeholder="Form Object" readonly="readonly" name="quoteObject"
                            type="hidden" value="">

                        <input id="from_name" class="form-control form-control1" placeholder="From: ABC co ltd PVT" readonly="readonly" name="message_from"
                            type="text" value="">
                    </div>
                    <div>
                        <input id="to_name" class="form-control form-control1" placeholder="To: XYZ co ltd PVT" readonly="readonly" name="message_to"
                            type="text" value="">
                    </div>

                    <div>
                        <input id="message_subject" class="form-control form-control1 margin-bottom-4 valid" placeholder="Subject *" readonly="readonly"
                            name="message_subject" type="text" value="message_subject">


                    </div>

                    <div><textarea id="message_body" class="form-control form-control1 message-body" placeholder="Body *" name="message_body"
                            cols="50" rows="10"></textarea></div>

                    <div class=""><i class="fa fa-paperclip"></i>

                        <label for="message_attachment" class="">Attachment </label>
                        <div>
                            <!--Removed [] in name attribute for below message attachment field because attachment not saving in ajax, If you need add in conditional -- Ramu-->
                            <!--<input id="message_attachment" class="filestyle btn-file file-upload" multiple="1" name="message_attachment"  type="file">-->
                            <!-- <input id="r_message_attachment"
                                       class="filestyle btn-file file-upload"
                                       multiple="1" name="r_message_attachment"
                                       ng-model-instant onchange="angular.element(this).scope().setDocument(this)"
                                       type="file"> -->
                            <input id="r_message_attachment" class="filestyle btn-file file-upload" name="message_attachment" fileread="message_attachment"
                                type="file">
                            <div id="message_attachment_display"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn red-btn flat-btn ok-btn message_send_button" ng-click="sendMessage(message_attachment)">Send message
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {
        $('.filter-result-toggle').click(function () {
            $(".filter-result").slideToggle();
        });
    });

</script>

<script>
    $(document).ready(function () {
        $("#filters_click").click(function () {
            $("#filters_show").toggle('fast');

        });
    });

</script>
<script>
    $(document).ready(function () {
        $(".click-detail-data").load("click", function () {

            $("#detail-0").slideToggle('fast');
        });
    });

</script>


<script>
    $(".subresult").hide();
    $(document).on('click', ".show_hide", function () {

        var id = $(this).attr('data-id');


        $("#open_show" + id).toggle();
        $(this).find('i').toggleClass('fa fa-plus fa fa-minus');
    });

</script>



<script>
    $(document).ready(function () {
        $(".search_i").click(function () {
            $(".open_search").show();
        });

        $(".close_btn_close").click(function () {
            $(".open_search").hide();
        });
        var gwid = $(".scroll_div").width();
        var twid = $(".loc_det").width();
        var acwid = gwid / twid * 100;
        var len = $(".scroll_div").length;
        var towid = acwid * len + 9;
        $(".fillter_div").css({ "width": "" + towid + "%" });
    });

</script>
