<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="right_serch_p">
        <div class="right_search_bar">
            <ul class="search_bar_tab">
                <li><a href="javascript:void(0)">{{getUserActiveRole}}</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li><a href="#services">Services</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li><a href="javascript:void(0)" class="active_c">Buyer Post</a></li>
            </ul>
        </div>

        <div class="location_sec">
            <form method="post" name="buyerTerm" id="BuyerPostForm" ng-app>
                <!--{{ dataSpot.type }} {{ dataSpot.type_basis }}-->
                <div class="spot_t" ng-init="dataSpot.type='spot'">
                    <ul>
                        <li>
                            <input type="radio" ng-checked="true" ng-click="showHideType('spot')"
                                   ng-model="dataSpot.type" value="spot" id="spot" data-target="spot_d"/>
                            <label for="spot">Spot</label>
                            <span></span>
                        </li>
                        <li>
                            <input type="radio" ng-model="dataSpot.type" ng-click="showHideType('term')" value="term"
                                   id="term" data-target="term_d"/>
                            <label for="term">Term</label>
                            <span></span>
                        </li>
                    </ul>
                </div>
                <div class="main_intra intra_main activeintra" id="spot_d">
                    <div class="spot_t" ng-init="dataSpot.type_basis='hours'">
                        <ul>
                            <li>
                                <input type="radio" ng-checked="true" value="hours" ng-model="dataSpot.type_basis"
                                       ng-click="showHideSpot('hours')" id="Hour" name="type_basis"
                                       data-target="Hour_cont1"/>
                                <label for="Hour">Hour Basis</label>
                                <span></span>
                            </li>

                            <li>
                                <input type="radio" value="distance_basis" ng-click="showHideSpot('distance_basis')"
                                       ng-model="dataSpot.type_basis" id="Distance" name="type_basis"
                                       data-target="Distance_cont1"/>
                                <label for="Distance">Distance Basis</label>
                                <span></span>
                            </li>
                        </ul>
                    </div>

                    <div id="Hour_cont1" class="intra_main activeintra">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="select_form_intra"
                                 ng-class="{true: 'error'}[submitted && buyerTerm.city.$invalid]">
                                <select ng-model="dataSpot.city" class="city" name="city"
                                        ng-options="y.id as y.city_name for (x, y) in cities" required>
                                    <option value=""> Select City *</option>
                                </select>
                                <span class="help-inline" style="color:red;"
                                      ng-show="submitted && buyerTerm.city.$error.required">Please select city </span>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="date_selection"
                                 ng-class="{true: 'error'}[submitted && buyerTerm.departure.$invalid]">

                                <span class="left_v_from">
                                <input type="text" ng-model="dataSpot.departure" fromcalendar name="departure"
                                       id="departing_56" class="departure date_p" placeholder="Date" required>
                            </span>
                                <span class="help-inline" style="color:red;"
                                      ng-show="submitted && buyerTerm.departure.$error.required">Please enter Departure *</span>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="select_form_intra"
                                 ng-class="{true: 'error'}[submitted && buyerTerm.hd_slab.$invalid]">

                                {{ dataSpot.hd_slab }}

                                <select ng-model="dataSpot.hd_slab" class="hd_slab" name="hd_slab"
                                        ng-options="y.distance_hour for (x,y) in hourDistanceSlabs" required>
                                    <option value="">Hour Distance Slab*</option>
                                </select>
                                <span class="help-inline" style="color:red;"
                                      ng-show="submitted && buyerTerm.hd_slab.$error.required">Please enter Hours and Distance</span>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="select_form_intra"
                                 ng-class="{true: 'error'}[submitted && buyerTerm.hd_slab.$invalid]">
                                <input type="text" id="no_of_vehicles" ng-model="dataSpot.no_of_vehicles"
                                       name="no_of_vehicles" maxlength="5" class="input_ani valid-number no_of_vehicles"
                                       required>

                                <label class="lbl_text2">Number of Vehicles Needed * </label>
                                <span class="help-inline" style="color:red;"
                                      ng-show="submitted && buyerTerm.no_of_vehicles.$error.required">Please enter Number of Vehicle</span>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="select_form_intra"
                                 ng-class="{true: 'error'}[submitted && buyerTerm.vehicle_reporting_time.$invalid]">
                                <input type="text" ng-model="dataSpot.vehicle_reporting_time"
                                       name="vehicle_reporting_time" class="input_ani vehicle_reporting_time"
                                       id="vehicle_reporting_time" required>
                                <label class="lbl_text2">Vehicle Reporting Time *</label>
                                <span class="help-inline" style="color:red;"
                                      ng-show="submitted && buyerTerm.vehicle_reporting_time.$error.required">Please enter Vehicle Reporting Time</span>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="select_form_intra"
                                 ng-class="{true: 'error'}[submitted && buyerTerm.vehicle_reporting_location.$invalid]">
                                <input type="text" ng-model="dataSpot.vehicle_reporting_location"
                                       name="vehicle_reporting_location" class="input_ani vehicle_reporting_location"
                                       id="vehicle_reporting_location" required>
                                <label class="lbl_text2">Vehicle Reporting Location *</label>
                                <span class="help-inline" style="color:red;"
                                      ng-show="submitted && buyerTerm.vehicle_reporting_location.$error.required">Please enter Vehicle Reporting Location</span>
                            </div>
                        </div>

                    </div>

                    <div id="Distance_cont1" class="intra_main" ng-if="dataSpot.type_basis=='distance_basis'">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="select_form_intra"
                                 ng-class="{true: 'error'}[submitted && buyerpost.city.$invalid]">
                                <select ng-model="dataSpot.city" class="d_city" ng-click="selectLocation(dataSpot.city)"
                                        name="city" ng-options="y.id as y.city_name for (x, y) in cities" required>
                                    <option value=""> Select City</option>
                                </select>
                                <span class="help-inline" style="color:red;"
                                      ng-show="submitted && buyerpost.city.$error.required">Please select city</span>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="select_form_intra">
                                <input type="text" ng-model="dataSpot.d_vehicle_reporting_time"
                                       class="input_ani d_vehicle_reporting_time" required="">
                                <label class="lbl_text2">Vehicle Reporting Time </label>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="select_form_intra"
                                 ng-class="{true: 'error'}[submitted && buyerpost.from_location.$invalid]">

                                <select ng-model="dataSpot.d_from_location" class="d_from_location"
                                        ng-options="y.id as y.locality_name for (x, y) in locations">
                                    <option value="">From Location</option>
                                </select>

                                <span class="help-inline" style="color:red;"
                                      ng-show="submitted && buyerpost.from_location.$error.required">Please select From Location</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="select_form_intra"
                                 ng-class="{true: 'error'}[submitted && buyerpost.to_location.$invalid]">
                                <select ng-model="dataSpot.d_to_location" class="d_to_location"
                                        ng-options="y.id as y.locality_name for (x, y) in locations">
                                    <option value="">To Location</option>
                                </select>
                                <span class="help-inline" style="color:red;"
                                      ng-show="submitted && buyerpost.to_location.$error.required">Please select To Location</span>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="date_selection"
                                 ng-class="{true: 'error'}[submitted && buyerpost.valid_from.$invalid]">
                                <span class="left_v_from">
                                    <input type="text" fromcalendar ng-model="dataSpot.d_valid_from" name="valid_from"
                                           id="departing" placeholder="Valid From">
                                </span>
                                <span class="help-inline" style="color:red;"
                                      ng-show="submitted && buyerpost.valid_from.$error.required">Please enter Valid From</span>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="date_selection"
                                 ng-class="{true: 'error'}[submitted && buyerpost.valid_to.$invalid]">
                                <span class="rihgt_v_to">
                                    <input type="text" tocalendar ng-model="dataSpot.d_valid_to" name="valid_to"
                                           id="returning" class="d_valid_to date_p" placeholder="Valid To">
                                </span>
                                <span class="help-inline" style="color:red;"
                                      ng-show="submitted && buyerpost.valid_to.$error.required">Please enter Valid To</span>
                            </div>
                        </div>


                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="select_form_intra"
                                 ng-class="{true: 'error'}[submitted && buyerpost.no_of_vehicle.$invalid]">
                                <input type="text" class="input_ani d_no_of_vehicle valid-number" maxlength="5"
                                       ng-model="dataSpot.d_no_of_vehicle" name="d_no_of_vehicle" required>
                                <label class="lbl_text2">Number of Vehicles Needed</label>
                                <span class="help-inline" style="color:red;"
                                      ng-show="submitted && buyerpost.no_of_vehicle.$error.required">Please enter Number of Vehicle</span>
                            </div>
                        </div>


                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="select_form_intra"
                                 ng-class="{true: 'error'}[submitted && buyerpost.weight.$invalid]">
                                <input type="text" class="input_ani d_weight valid-number" ng-model="dataSpot.d_weight"
                                       name="weight" maxlength="5" required>
                                <label class="lbl_text2">Weight </label>
                                <span class="help-inline" style="color:red;"
                                      ng-show="submitted && buyerpost.weight.$error.required">Please enter Weight</span>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                            <div class="select_form_intra"
                                 ng-class="{true: 'error'}[submitted && buyerpost.material_type.$invalid]">
                                <select ng-model="dataSpot.d_material_type" name="material_type" class="d_material_type"
                                        required>
                                    <option value="">Material Type</option>
                                    <option value="1">100 kg</option>
                                    <option value="2">150 kg</option>
                                </select>
                                <span class="help-inline" style="color:red;"
                                      ng-show="submitted && buyerpost.material_type.$error.required">Please enter Material Type</span>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
                            <div class="select_form_intra"
                                 ng-class="{true: 'error'}[submitted && buyerpost.vehicle_type_any.$invalid]">

                                <select ng-model="dataSpot.d_vehicle_type_any" class="d_vehicle_type_any"
                                        name="vehicle_type_any" required
                                        ng-options="y.id as y.vehicle_type for (x,y) in vehicles">
                                    <option value="">Vehicle Type (Any)</option>
                                </select>
                                <span class="help-inline" style="color:red;"
                                      ng-show="submitted && buyerpost.vehicle_type_any.$error.required">Please enter Vehicle Type</span>

                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="row">
                                <div class="select_form_intra">
                                    <div class="vichel_dimensin">
                                        <span class="v_images"><img src="images/dimension_v.png"/></span>
                                        <div class="vi_text">
                                            <span class="v_text">Vehicle Dimensions<span>*</span></span><br/>

                                            <span class="w_fullwidth" ng-if="dataSpot.d_vehicle_type_any"
                                                  ng-repeat="vehicle in vehicles | filter:{id:dataSpot.d_vehicle_type_any}:true | filter:search:strict">
                                            {{ vehicle.dimension }}
                                        </span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="load_type">

                        <div class="add_more_btn">
                            <div class="add_m_b">
                                <input type="button" class="button_serch" ng-click="addMore(dataSpot)" name="button"
                                       value="Add"/>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="c_details">
                                <div class="c_sub">
                                    <div class="c_type">
                                        <div class="col-md-2"><span class="w_fullwidth">CITY</span></div>
                                        <div class="col-md-2">
                                            <span class="w_fullwidth" ng-if="dataSpot.type_basis == 'distance_basis'">FROM</span>

                                            <span class="w_fullwidth" ng-if="dataSpot.type_basis == 'hours'">Date &amp; Time</span>

                                        </div>
                                        <div class="col-md-2">
                                            <span class="w_fullwidth"
                                                  ng-if="dataSpot.type_basis == 'distance_basis'">TO</span>

                                            <span class="w_fullwidth" ng-if="dataSpot.type_basis == 'hours'">Distance Hours</span>
                                        </div>
                                        <div class="col-md-2">
                                            <span class="w_fullwidth" ng-if="dataSpot.type_basis == 'distance_basis'">MATERIAL TYPE</span>

                                            <span class="w_fullwidth"
                                                  ng-if="dataSpot.type_basis == 'hours'">Location</span>
                                        </div>
                                        <div class="col-md-2">
                                            <span class="w_fullwidth" ng-if="dataSpot.type_basis == 'distance_basis'">VEHICLE TYPE</span>
                                            <span class="w_fullwidth" ng-if="dataSpot.type_basis == 'hours'">Number of Vehicle</span>
                                        </div>
                                        <!--<div class="col-md-2"><span class="w_fullwidth">PRICE</span></div>-->
                                        <div class="col-md-2"><span class="w_fullwidth">Action</span></div>
                                    </div>
                                    <!-- Listing of Hour Basis start -->
                                    <div class="row" ng-if="dataSpot.type_basis=='hours'"
                                         ng-repeat="(key, value) in listdataSpot track by $index">
                                        <div class="col-md-2">
                                            <span class="w_fullwidth" ng-if="value.city"
                                                  ng-repeat="city in cities | filter: {id:value.city} : true | filter:search:strict">
                                                {{ city.city_name }}
                                            </span>
                                        </div>
                                        <div class="col-md-2">
                                            <span class="w_fullwidth">
                                                {{ value.departure }} &amp;                                        
                                                {{ value.vehicle_reporting_time }}
                                            </span>
                                        </div>
                                        <div class="col-md-2">
                                            <span class="w_fullwidth" ng-if="value.hd_slab"
                                                  ng-repeat="hd in hourDistanceSlabs | filter: {id:value.hd_slab} : true | filter:search:strict">
                                            {{ hd.distance_hour }}
                                        </span>
                                        </div>
                                        <div class="col-md-2">
                                            <span class="w_fullwidth">
                                            {{ value.vehicle_reporting_location }}                                 
                                        </span>
                                        </div>


                                        <div class="col-md-2">
                                            <span class="w_fullwidth">
                                            {{ value.no_of_vehicles }}
                                        </span>
                                        </div>


                                        <div class="edit_del">
                                            <span ng-click="editSpotDistance(key,value)">EDIT

                                            </span>
                                            <span class="delete_img" ng-click="deleteSpotDistance(key)">
                                                <img src="images/delete_icons.png"/>
                                            </span>

                                        </div>
                                    </div>
                                    <!-- Listing of Hour Basis end -->

                                    <!-- Listing of Distance Basis start -->
                                    <div class="row" ng-if="dataSpot.type_basis=='distance_basis'"
                                         ng-repeat="(key, value) in listDistancedataSpot track by $index">
                                        <div class="col-md-2">
                                            <span class="w_fullwidth" ng-if="value.city"
                                                  ng-repeat="city in cities | filter: {id:value.city} : true | filter:search:strict">
                                                {{ city.city_name }}
                                            </span>
                                        </div>
                                        <div class="col-md-2">
                                            <span class="w_fullwidth" ng-if="value.d_from_location"
                                                  ng-repeat="location in locations | filter: {id:value.d_from_location} : true | filter:search:strict">
                                            {{ location.locality_name }}
                                        </span>
                                        </div>
                                        <div class="col-md-2">
                                            <span class="w_fullwidth" ng-if="value.d_to_location"
                                                  ng-repeat="location in locations | filter: {id:value.d_to_location} : true | filter:search:strict">
                                            {{ location.locality_name }}
                                        </span>
                                        </div>
                                        <div class="col-md-2">
                                            <span class="w_fullwidth">
                                            {{ value.d_material_type }}
                                        </span>
                                        </div>

                                        <div class="col-md-2">
                                            <span class="w_fullwidth" ng-if="value.d_vehicle_type_any"
                                                  ng-repeat="vehicle in vehicles | filter:{id:value.d_vehicle_type_any}:true | filter:search:strict">
                                            {{ vehicle.vehicle_type }}
                                        </span>
                                        </div>
                                        <!--<div class="col-md-2"><span class="w_fullwidth">PRICE</span></div>-->
                                        <div class="edit_del">
                                            <span ng-click="editSpotDistance(key,value)">EDIT

                                            </span>
                                            <span class="delete_img" ng-click="deleteSpotDistance(key)">
                                                <img src="images/delete_icons.png"/>
                                            </span>

                                        </div>
                                    </div>
                                    <!-- Listing of Distance Basis end -->
                                </div>

                            </div>
                            <!--end of c_details-->


                            <div class="date_formt">
                                <div class="date_f_sub">
                                    <div class="col-lg-4 col-md-4 col-sm-6">

                                        <div class="last_d">Last Date/Time for Quote</div>

                                    </div>


                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="date_selection">
                                            <div class="input_date">
                                                <span class="left_v_from">
                                                    <input type="text" ng-model="dataSpot.last_date" fromcalendar
                                                           id="returning1" class="input_date_p last_date"
                                                           placeholder="Date">
                                                </span>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        <div class="date_selection">
                                            <div class="input_date">
                                                <span class="left_v_from">
                                                    <input type="text" ng-model="dataSpot.last_time" id="returning1"
                                                           class="input_date_p_time last_time" placeholder="Time">
                                                </span>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="spot_t" ng-init="dataSpot.post_type_term=2">
                                        <ul>
                                            <li>
                                                <input type="radio" id="PostPublic" ng-model="dataSpot.post_type_term"
                                                       ng-checked="true" value="2" ng-click="showHide('public')">
                                                <label for="PostPublic" class="ab_c">Post Public</label>
                                                <span></span>
                                            </li>
                                            <li>
                                                <input type="radio" id="PostPrivate" ng-model="dataSpot.post_type_term"
                                                       ng-click="showHide('private')" value="1">
                                                <label for="PostPrivate" class="ab_c">Post Private</label>
                                                <span></span>
                                            </li>

                                        </ul>
                                    </div>

                                    <div class="col-md-12 padding-none">
                                        <div class="clearfix"></div>
                                        <div class="col-md-4 m-top-10 typeahed-search" ng-show="isSellerVisible">
                                            <input type="text" class="form-control form-control1" id="sellerList"
                                                   ng-model="dataSpot.visibleToSellers" name="seller_list"
                                                   placeholder="Seller Name (Auto Search)"
                                                   ng-required="dataSpot.isPublic=='private'"/>
                                            <label ng-show="!dataSpot.visibleToSellers && errorRaised" class="error">Seller
                                                is required</label>
                                        </div>
                                    </div>

                                    <div class="terms_a">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="admin_input margin_t">
                                                <input id="Accept" ng-model="dataSpot.term_condition" type="checkbox"
                                                       class="check_box term_condition">
                                                <label for="Accept" class="term_condition">Accept Terms &amp; Conditions
                                                    (Digital Contract)</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End of date_formt-->

                        </div>

                        <div class="search_btn">

                            <div class="serch_vichel">

                                <input type="button" class="button_serch" ng-if="dataSpot.type_basis == 'hours'"
                                       ng-click="getQuote(listdataSpot)" name="button" value="Get Quote"/>
                                <input type="button" class="button_serch"
                                       ng-if="dataSpot.type_basis == 'distance_basis'"
                                       ng-click="getQuote(listDistancedataSpot)" name="button" value="Get Quote"/>
                            </div>

                        </div>
                    </div>
                    <!--End of load_type-->

                </div>
                <!--end of main_intra-->

                <!--end of main_intra-->
            </form>
        </div>
        <!--end of location_sec-->
    </div>