
<div class="col-lg-12 col-md-12 col-sm-12">
    <!--  <div class="row"> -->
            <div class="left_side_services">
            <div class="main-left1">
                <div class="head1 col-md-12">
                    <p>Article</p>
                </div>
            </div>
            <div calss="sub_right_c">
                <ul class="service_left">
                    <li class="intra_active"><a href="#/article-list/paid" ng-click="Article">Paid Articles</a></li>
                    <li><a href="#/article-list/free">Free Articles</a></li>

                </ul>
            </div>
        </div><!--End of left_side_services-->
    <!--  </div> -->
</div>
                          
