
<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
        <div class="left_side_services">
            <div class="main-left1">
                <div class="head1 col-md-12">
                    <p>Events</p>
                </div>
            </div>
            <div calss="sub_right_c">
                <ul class="service_left">
                    <li class="intra_active"><a href="#/event-list/paid">Paid Events</a></li>
                    <li><a href="#/event-list/free">Free Events</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
