<div class="col-lg-12 col-md-12 col-sm-12">
    <!--  <div class="row"> -->
            <div class="left_side_services">
            <div class="main-left1">
                <div class="head1 col-md-12">
                    <p>Jobs</p>
                </div>
            </div>
            <div calss="sub_right_c">
                <ul class="service_left">
                    <li class="intra_active">
                        <a ui-sref-active="active" class="active" ui-sref="community-jobs({type:'full-time'})">Full Time</a>
                    </li>
                    <li><a ui-sref-active="active" class="active" ui-sref="community-jobs({type:'part-time'})">Part Time</a></li>
                    <li><a ui-sref-active="active" class="active" ui-sref="community-jobs({type:'contract'})">Contract</a></li>
                </ul>
            </div>
        </div><!--End of left_side_services-->
    <!--  </div> -->
</div>
                          
