  <div class="modal fade in" area-hidden="false" id="change-service" role="dialog" ng-controller="TopHeaderCtrl">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <ul class="note-fic clickpop">           
                 <li  ng-class="{'active-post': $index == selectedT}" data-id="{{ nav.name.split(' ').join('') }}" ng-repeat="(key, nav) in PostPopupMenu" ng-click="tabclick($event,$index)">{{nav.name}}</li> 
           </ul>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
            <!-- {{PostPopupMenu}} -->
           <div class="home-menu">
            <div class="col-md-12 home-block">
              <div class="tab-content_pop"> 
               <div class="tab-firsts" ng-class="{'active-t1': $index == 0}" id="{{ group.name.split(' ').join('') }}" ng-repeat="(gkey, group) in PostPopupMenu">  
                <div class="col-lg-3 col-md-3" ng-repeat="(gcKey, subgroup) in group.groups" >
                  <div class="home-menu"> 
                    <div class="service-div-block height_servp">
                    <div id="" ng-class="{'checkserviceseller': subgroup.url == ''}" class="service-div service-icon-div">
                    <a ng-if="subgroup.url == ''" href="javascript:void(0);" ng-click="popconfirmbox();" class="active-inner">        
                        <img src="{{serviceImage}}{{ subgroup.imagePath }}" title="{{subgroup.name}}">{{ subgroup.name }}</a>
                        <a ng-if="subgroup.url != ''" href="javascript:void(0);" class="active-inner" ng-click="getHeaderNavigation(subgroup.name.toUpperCase())">          
                        <img src="{{serviceImage}}{{ subgroup.imagePath }}" title="{{subgroup.name}}">{{ subgroup.name }}</a>
                    </div>
                    </div>
                    </div>
                    </div>
                   </div> <!--end of domestic tab-->
                     </div> <!--end of tab-content-->

            

                </div>
            </div>
        </div>
    </div>
</div>
