<script>
    $('.child').hide(); //Hide children by default

    $('.parent').children().click(function () {
        event.preventDefault();
        $(this).children('.child').slideToggle('slow');
    });
</script>
<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="left_side_services">
        <div calss="sub_right_c">
            <h2>SERVICES</h2>
            <ul class="service_left parent">
             
                <li class="submenu-dropdown" ng-repeat="(key, nav) in leftSideMenu">
                    <a href="javascript:void(0)">{{ nav.name }}</a>
                    <ul class="sub_service child">
                        <li ng-repeat="(gKey, group) in nav.groups">
                            <a href="javascript:void(0);" ng-click="cmtServiceRedirect(group.serviceId,group.url)">{{ group.name }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<style>
    .intra_active > .sub_service {
        display: block!important;
    }
</style>


