<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="right_serch_p">
        <div class="right_search_bar">
            <ul class="search_bar_tab">
                <li><a href="#">Buyer</a><span class="glyphicon glyphicon-chevron-right"></span></li>
                <li><a href="#">Services</a><span class="glyphicon glyphicon-chevron-right"></span></li>
                <li><a href="#">Hyperlocal</a><span class="glyphicon glyphicon-chevron-right"></span></li>
                <li><a href="#" class="active_c">{{post[0].post_transaction_id}}</a></li>
            </ul>
        </div>


        <div class="div_100">
            <div class="col-lg-9">
                <div class="row">
                    <ul class="buyer_ul">
                        <li class="tab_10 active_buyer" data-tab="Messages">
                            <a href="javascript:void(0);">All</a>
                        </li>
                        <li class="tab_10" data-tab="Offers">
                            <a href="javascript:void(0);">PUBLIC</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="back_post">
                    <a href="#/hp-buyer-list" class="back_red_btn">Back to Post</a>
                    
                    <a href="javascript:void(0);" class="delete_gray"><i ng-click="deletePost(post[0].id);"
                                                                         class="fa fa-trash" title="Delete"></i></a>
                </div>
            </div>

        </div>
        <div class="white_bg">

            <!-- <div class="c_6">
                <div class="col-md-2 data-fld">
                    <span class="data-head">POST TO:</span>
                    <span class="data-value break-word">

                                                   {{ post[0].is_private_public==0 && 'Public' || 'Private' }}
                                                    </span>
                </div>

                

                <div class="col-md-2 data-fld">
                    <span class="data-head">ROUTES</span>
                    <span class="data-value break-word">{{ post[0].get_all_route.length}}</span>
                </div>

                <div class="clearfix"></div>


            </div> -->

           <!--  <div class="div_100 space10">
                 <div class="c_8">
<ul class="filter_list">
    <li>NOTIFICATIONS</li>
    <li> <i class="fa fa-envelope-o"> </i> MESSAGES </li>
    <li> <i class="fa fa-file-text-o"> </i> OFFER </li>
    <li> <i class="fa fa-thumbs-o-up"> </i> LEADS</li>
    <li> <i class="fa fa-line-chart"> </i>  Market Analytics </li>
    <li> <i class="fa fa-file-text-o"> </i> Documentation</li>
   
</ul>
</div>
                <div class="c_8">
                    <ul class="filter_list">
                     
                        <li>FROM LOCATION</li>
                        <li>TO LOCATION</li>
                        
                    </ul>
                </div>
                <div class="c_2">

                    <span class="rilters_click click_a contact_click1"><i class="fa fa-bars"></i> Filters </span>

                </div>
            </div>  
        </div>-->

        <!--<div class="white_bg overflow open_a d_box1" style="display:none;">
            <div class="scroller-div">
                <div class="fillter_div">
                    <div class="scroll_div">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="select_form_intra">
                                    <input type="text" ng-model="data.fromlocation" class="input_ani" required="">
                                    <label class="lbl_text2">From Location</label>
                                    <span class="search_icon"><i class="fa fa-search"></i></span>
                                </div>

                                <div class="filter_from_location">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <ul class="post_inline">
                                                <li ng-repeat="type in locations |filter:data.fromlocation">
                                                    <div class="admin_input">
                                                        <input type="checkbox" ng-click="selectfromlocation(type.id)"
                                                               id="l{{type.id}}" class="check_box">
                                                        <label for="l{{type.id}}">{{type.locality_name}}</label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="scroll_div">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="select_form_intra">
                                    <input ng-model="tolocation" type="text" class="input_ani" ng-model="data.value"
                                           required="">
                                    <label class="lbl_text2">To Location</label>
                                    <span class="search_icon"><i class="fa fa-search"></i></span>
                                </div>

                                <div class="filter_from_location">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <ul class="post_inline">
                                                <li ng-repeat="type in locations |filter:tolocation">
                                                    <div class="admin_input">
                                                        <input type="checkbox" ng-click="selectlocationto(type.id)"
                                                               id="type{{type.id}}" class="check_box">
                                                        <label class="text-capitalize" for="type{{type.id}}">{{type.locality_name}}</label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="scroll_div">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">

                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div> -->

    <div class="cart heght_100">

        <!-- <div class="loc_det">
            <div class="gray_bg">

                <div class="col-lg-9">
                    <div class="row">

                        <div class="col-lg-2">
                            <div class="heading_text">City</div>
                        </div>

                        <div class="col-lg-2">
                            <div class="heading_text">Service</div>
                        </div>

                        <div class="col-lg-2">
                            <div class="heading_text">Category</div>
                        </div>
                        <div class="col-lg-1">
                            <div class="heading_text">STATUS</div>
                        </div>


                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="row">
                        <div class="heading_text padding_left">NOTIFICATIONS</div>

                    </div>
                </div>

            </div>
        </div> -->

        <!-- <div class="white_bg" ng-repeat="(key, value) in post">
            <div ng-repeat="(key, val) in value.get_all_route |filter:fromFilter|filter:toFilter|filter:statusFilter">
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="normal_text">{{ val.city_name}}</div>

                        </div>


                        <div class="col-lg-2">
                            <div class="normal_text">{{value.servicetype|getobjectvalue:servicetype}}</div>
                        </div>


                        <div class="col-lg-2">
                            <div class="normal_text">{{value.category|getName:categories}}</div>
                        </div>

                        <div class="col-lg-1">
                            <div class="normal_text" ng-if="value.post_status==0">Draft</div>
                            <div class="normal_text" ng-if="value.post_status==1">Open</div>
                            <div class="normal_text" ng-if="value.post_status==2">Deleted</div>
                        </div>

                    </div>

                </div>

                <div class="col-lg-3">

                    <div class="info_links">
                        <a href=""><i class="fa fa-envelope-o"></i></a>
                        <a href=""><i class="fa fa-file-text-o"></i><span class="vlue">1</span></a>
                        <a href=""><i class="fa fa-bullseye"></i><span class="vlue">0</span></a>
                        <a href=""><i class="fa fa-line-chart"><span class="vlue">0</span></i></a>
                        <a href=""><i class="fa fa-file-text-o"></i><span class="vlue">1</span></a>
                    </div>
                </div>

            </div>
        </div> -->


    </div> <!--end of location_sec-->

<div class="cart heght_100">
      <!-- for spot only start here-ng-show="quotedata[0].post.lead_type==1" -->  
    <div class="cart heght_100 ng-scope" ng-show="quotedata[0].post.lead_type==1" > 
    
    <div class="loc_det" >
        <div class="gray_bg">

            <div class="col-lg-9">
                <div class="row">

                    <div class="col-lg-2">
                        <div class="heading_text">City</div>
                    </div>
                   
                    <div class="col-lg-3">
                        <div class="heading_text">Category</div>
                    </div>

                    <div class="col-lg-3">
                    <div class="heading_text">Service</div>
                    </div>

                    <div class="col-lg-2">
                        <div class="heading_text">PRICE</div>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="heading_text padding_left"></div>

                </div>
            </div>

        </div>
    </div>

    <div class="white_bg">
      
        <div  class="ng-scope" ng-repeat=" value in quotedata[0].quotes">
            <div class="col-lg-9"> 
                <div class="row" >
                  
                    <div class="col-lg-2">
                        <div class="normal_text ng-binding">Hyderabad
                        </div>
                    </div>

                    <div class="col-lg-3"> 
                        <div class="normal_text"><span class="ng-binding">{{quotedata[0].post.category|getName:categories}}</span>
                        </div>
                    </div>

                    <div class="col-lg-2">
                            <div class="normal_text"><span class="ng-binding">{{quotedata[0].post.servicetype|getobjectvalue:servicetype}}</span>
                            </div>
                        </div>
    
                        
                    <div class="col-lg-2">

                        <div class="normal_text">
                            <span  class="ng-binding"> 
                           Rs. {{value.initial_quote_price}}
                            </span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-3">
                <div class="ml-5">
                    <div class="row mb-5">
                        <a class="seller_btn_submit text-center pull-right ng-scope" ng-if="value.buyer_status != 'DENY'" ng-click="firmQuoteAction($index, 'ACCEPT')"> Counter Offer  </a>
                        
                    </div>
                    <div class="row mb-5">
                           <a class="ng-scope" ng-if="value.buyer_status != 'DENY'" ng-click="firmQuoteAction($index, 'ACCEPT')"> Decline  </a>
                           <a class="seller_btn_submit text-center pull-right ng-scope"  ng-click="bookNow(quotedata[0], value)"> Book Now  </a>
                    </div>
                </div>
            </div>

           
          <div class="row nm ng-scope" ng-if="true">
                <div class="col-sm-3"> 
                    <h5> <strong> Quote </strong> </h5>
                    <p class="ng-binding">
                        Rs. {{value.initial_quote_price}}
                    </p>
                </div>
                <div class="col-sm-3"> 
                    <input class="input_ani ng-pristine ng-untouched ng-valid"  placeholder="Counter Offer "> 
                </div>
                
            </div>

        </div>
            <!-- for spot only end  here-->  
    </div>
</div>
    
    <!--include indendt-->
       <!-- <div ng-show="quotedata[0].post.lead_type==2" ng-include="'modules/hyperlocal/buyer/templates/orderindent.htm'"> -->
       <div class="loc_det bg-white-new">
        <div class="col-md-10">
            <div class="col-md-2 data-fld npl">
                <span class="data-head">CONTRACT TYPE:</span>
                <span class="data-value break-word ng-binding">Private</span>
            </div>
            <div class="col-md-2 data-fld">
                <span class="data-head">TITLE:</span>
                <span class="data-value break-word ng-binding">N/A</span>
            </div>
            <div class="col-md-2 data-fld">
                <span class="data-head">VALID FROM:</span>
                <span class="data-value break-word ng-binding">{{quotedata[0].valid_from}}</span>
            </div>
            <div class="col-md-2 data-fld">
                <span class="data-head">VALID TO:</span>
                <span class="data-value break-word ng-binding">{{quotedata[0].valid_from}}</span>
            </div>
            <div class="col-md-2 data-fld">
                <span class="data-head">NO. OF ROUTES:</span>
                <span class="data-value break-word ng-binding"></span>
            </div>
            <div class="col-md-2 data-fld">
                <span class="data-head">EMD :</span>
                <span class="data-value break-word ng-binding">Private</span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="col-md-12 text-right">
                <div class="views_font">Views 0</div>
                <div class="a_link" id="detail_click">


                    <a href="javascript:void"><i class="fa-plus fa" aria-hidden="true"></i>
                        Details</a>
                </div>
            </div>
        </div>
    </div>
    <div id="click-data-detail" class="detail-click-data d_box">
        <div class="col-md-2 data-fld npl">
            <span class="data-head">EMD MODE:</span>
            <span class="data-value break-word ng-binding">Private</span>
        </div>
        <div class="col-md-2 data-fld npl">
            <span class="data-head">AWARD CRITERIA:</span>
            <span class="data-value break-word ng-binding">Private</span>
        </div>
        <div class="col-md-2 data-fld npl">
            <span class="data-head">CONTRACT ALLOTMENT:</span>
            <span class="data-value break-word ng-binding">Private</span>
        </div>
        <div class="col-md-2 data-fld npl">
            <span class="data-head">PAYMENT TERMS:</span>
            <span class="data-value break-word ng-binding">Private</span>
        </div>
        <div class="col-md-2 data-fld npl">
            <span class="data-head">PAYMENT METHOD:</span>
            <span class="data-value break-word ng-binding">Private</span>
        </div>
        <div class="col-md-2 data-fld npl">
            <span class="data-head">PRICE INCLUSIVE:</span>
            <span class="data-value break-word ng-binding">{{quotedata[0].post.no_of_years}}</span>
        </div>
         
        <div class="clearfix"></div>
        <div class="col-md-2 data-fld npl">
            <span class="data-head">PRICE EXCLUSIVE:</span>
            <span class="data-value break-word ng-binding">{{quotedata[0].post.no_of_years}}</span>
        </div>
        <div class="col-md-2 data-fld npl">
            <span class="data-head">NO. OF OWN TRUCKS:</span>
            <span class="data-value break-word ng-binding">{{quotedata[0].post.no_of_trucks}}</span>
        </div>
        <div class="col-md-2 data-fld npl">
            <span class="data-head">AVERAGE TURN OVER LAST THREE YEARS:</span>
            <span class="data-value break-word ng-binding">{{quotedata[0].post.average_turn_over}}</span>
        </div>
        <div class="col-md-2 data-fld npl">
            <span class="data-head">NO. OF YEARS IN BUSINESS:</span>
            <span class="data-value break-word ng-binding">{{quotedata[0].post.no_of_years}}</span>
        </div>
        <div class="col-md-2 data-fld npl">
            <span class="data-head">TERM CONTRACT WITH OTHER COMPANIES:</span>
            <span class="data-value break-word ng-binding">Private</span>
        </div>
        <div class="col-md-2 data-fld npl">
            <span class="data-head">LAST DATE/TIME FOR QUOTE:</span>
            <span class="data-value break-word ng-binding">{{quotedata[0].post.last_date}}{{quotedata[0].post.last_time}}</span>
        </div>
         
        <div class="clearfix"></div>
         <div class="col-md-2 data-fld npl">
            <span class="data-head">POST PUBLIC/PRIVATE:</span>
            <span class="data-value break-word ng-binding">Private</span>
        </div>
        <div class="col-md-2 data-fld npl">
            <span class="data-head">BID DOCUMENTS:</span>
            <span class="data-value break-word ng-binding">Private</span>
        </div>
        <div class="col-md-2 data-fld npl">
            <span class="data-head">BID NOTES:</span>
            <span class="data-value break-word ng-binding">Private</span>
        </div>
    </div>
    <div class="bg-white-new">
      <div class="info-links font-bold-black text-uppercase wp-100">
         <h4 class="pull-left mlr">NOTIFICATIONS</h4>
         <a href="#" class=" tab-data-show tabs-showdiv" data-showdiv="ftl-buyer-messages"><i class="fa fa-envelope-o"></i>  Messages<span class="badge" style="display: none;">0</span></a>
         <a href="#" class=" tab-data-show active tabs-showdiv" data-showdiv="ftl-buyer-quotes"><i class="fa fa-file-text-o"></i> Offers<span class="badge ml-5">1</span></a>
         <a href="#" class=" tab-data-show tabs-showdiv"><i class="fa fa-bullseye "></i> Leads<span class="badge"></span></a>
         <a href="#" class=" tab-data-show tabs-showdiv"><i class="fa fa-line-chart"></i> Market Analytics</a>
         <a href="#" class="tab-data-show tabs-showdiv"><i class="fa fa-file-text-o"></i> Documentation</a>
      </div>
   </div>
    <div class="bg-white-new">
        <div class="col-md-10"> 
            <div class="heading_text-new">
                SELLER
            </div>
        </div>
        <div class="col-md-2">            
            <span class="rilters_click click_a" id="filters_click"><i class="fa fa-bars"></i> Filters </span>            
        </div>
    </div>
    <div class="loc_det" id="filters_show">
        <div class="scroller-div">
                                    <div class="fillter_div">
                                        <div class="scroll_div">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="row">
                                                    <div class="select_form_intra">
                                                        <input type="text" class="input_ani" required="">
                                                        <label class="lbl_text2">SELLERS</label>
                                                        <span class="search_icon"><i class="fa fa-search"></i></span>
                                                    </div>

                                                    <div class="filter_from_location location_scroller">
                                                        <div class="col-lg-12">
                                                            <div class="row">
                                                                <ul class="post_inline">
                                                                    <li>
                                                                        <div class="admin_input">
                                                                            <div class="admin_input ng-scope" ng-repeat="seller in sellerList | filter:data.username">
                                                                                <input type="checkbox" class="check_box check_box_1" ng-click="selectNewSellerName(seller.id)" id="vl1044">
                                                                                <label for="vl1044" class="ng-binding">Nair Transport</label>
                                                                            </div><div class="admin_input ng-scope" ng-repeat="seller in sellerList | filter:data.username">
                                                                                <input type="checkbox" class="check_box check_box_1" ng-click="selectNewSellerName(seller.id)" id="vl1051">
                                                                                <label for="vl1051" class="ng-binding">nfcl ten</label>
                                                                            </div><div class="admin_input ng-scope" ng-repeat="seller in sellerList | filter:data.username">
                                                                                <input type="checkbox" class="check_box check_box_1" ng-click="selectNewSellerName(seller.id)" id="vl1034">
                                                                                <label for="vl1034" class="ng-binding">nikhil pvt ltd</label>
                                                                            </div><div class="admin_input ng-scope" ng-repeat="seller in sellerList | filter:data.username">
                                                                                <input type="checkbox" class="check_box check_box_1" ng-click="selectNewSellerName(seller.id)" id="vl1054">
                                                                                <label for="vl1054" class="ng-binding">Prince</label>
                                                                            </div><div class="admin_input ng-scope" ng-repeat="seller in sellerList | filter:data.username">
                                                                                <input type="checkbox" class="check_box check_box_1" ng-click="selectNewSellerName(seller.id)" id="vl1040">
                                                                                <label for="vl1040" class="ng-binding">R One Industries</label>
                                                                            </div><div class="admin_input ng-scope" ng-repeat="seller in sellerList | filter:data.username">
                                                                                <input type="checkbox" class="check_box check_box_1" ng-click="selectNewSellerName(seller.id)" id="vl1048">
                                                                                <label for="vl1048" class="ng-binding">Raj Transport </label>
                                                                            </div><div class="admin_input ng-scope" ng-repeat="seller in sellerList | filter:data.username">
                                                                                <input type="checkbox" class="check_box check_box_1" ng-click="selectNewSellerName(seller.id)" id="vl1045">
                                                                                <label for="vl1045" class="ng-binding">VASAN EXPORTS</label>
                                                                            </div><div class="admin_input ng-scope" ng-repeat="seller in sellerList | filter:data.username">
                                                                                <input type="checkbox" class="check_box check_box_1" ng-click="selectNewSellerName(seller.id)" id="vl1037">
                                                                                <label for="vl1037" class="ng-binding">Virtual Dimension Softs Pvt. Ltd.</label>
                                                                            </div>
                                                                        </div>
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="scroll_div">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="row">
                                                    <div class="select_form_intra">
                                                        <input type="text" autocomplete="off" class="input_ani ng-pristine ng-untouched ng-invalid ng-invalid-required">   
                                                        <label class="lbl_text2">CITY</label>
                                                        <span class="search_icon"><i class="fa fa-search"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="scroll_div">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="row">

                                                    <div class="select_form_intra">
                                                        <input type="text" id="buyer" class="input_ani d_to_location ng-pristine ng-untouched ng-invalid ng-invalid-required" ng-model="data.d_to_location" required="">
                                                        <label class="lbl_text2">FROM LOCATION</label>
                                                        <span class="search_icon"><i class="fa fa-search"></i></span>
                                                    </div>

                                                    <div class="filter_from_location">
                                                        <div class="col-lg-12">
                                                            <div class="row">
                                                                <ul class="post_inline">
                                                                    <!-- ngRepeat: (key,value) in locations |filter:data.d_from_location -->
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="scroll_div">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="row">

                                                    <div class="select_form_intra">
                                                        <input type="text" id="buyer" class="input_ani ng-pristine ng-untouched ng-invalid ng-invalid-required" ng-model="data.d_from_location" required="">
                                                        <label class="lbl_text2">TO LOCATION</label>
                                                        <span class="search_icon"><i class="fa fa-search"></i></span>
                                                    </div>

                                                    <div class="filter_from_location">
                                                        <div class="col-lg-12">
                                                            <div class="row">
                                                                <ul class="post_inline">
                                                                    <!-- ngRepeat: (key,value) in locations |filter:data.d_from_location -->
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="scroll_div">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="row">

                                                    <div class="select_form_intra">
                                                        <input type="text" class="input_ani ng-pristine ng-untouched ng-invalid ng-invalid-required" ng-model="data.vehicle_type" required="">
                                                        <label class="lbl_text2">VEHICLE TYPE</label>
                                                        <span class="search_icon"><i class="fa fa-search"></i></span>
                                                    </div>

                                                    <div class="filter_from_location">
                                                        <div class="col-lg-12">
                                                            <div class="row">
                                                                <ul class="post_inline">
                                                                    <li>
                                                                        <div class="admin_input">
                                                                            <!-- ngRepeat: vehicle in vehicles | filter:data.vehicle_type --><div class="admin_input ng-scope" ng-repeat="vehicle in vehicles | filter:data.vehicle_type">
                                                                                <input type="checkbox" class="check_box check_box_1" ng-click="selectNewVehicleType(vehicle.vehicle_type)" id="vl22">
                                                                                <label for="vl22" class="ng-binding">Mahindra Jeeto</label>
                                                                            </div><!-- end ngRepeat: vehicle in vehicles | filter:data.vehicle_type --><div class="admin_input ng-scope" ng-repeat="vehicle in vehicles | filter:data.vehicle_type">
                                                                                <input type="checkbox" class="check_box check_box_1" ng-click="selectNewVehicleType(vehicle.vehicle_type)" id="vl23">
                                                                                <label for="vl23" class="ng-binding">Mahindra Jeeto Plus</label>
                                                                            </div><!-- end ngRepeat: vehicle in vehicles | filter:data.vehicle_type --><div class="admin_input ng-scope" ng-repeat="vehicle in vehicles | filter:data.vehicle_type">
                                                                                <input type="checkbox" class="check_box check_box_1" ng-click="selectNewVehicleType(vehicle.vehicle_type)" id="vl21">
                                                                                <label for="vl21" class="ng-binding">Mahindra Maximoo</label>
                                                                            </div><!-- end ngRepeat: vehicle in vehicles | filter:data.vehicle_type --><div class="admin_input ng-scope" ng-repeat="vehicle in vehicles | filter:data.vehicle_type">
                                                                                <input type="checkbox" class="check_box check_box_1" ng-click="selectNewVehicleType(vehicle.vehicle_type)" id="vl2">
                                                                                <label for="vl2" class="ng-binding">Tata 207</label>
                                                                            </div><!-- end ngRepeat: vehicle in vehicles | filter:data.vehicle_type --><div class="admin_input ng-scope" ng-repeat="vehicle in vehicles | filter:data.vehicle_type">
                                                                                <input type="checkbox" class="check_box check_box_1" ng-click="selectNewVehicleType(vehicle.vehicle_type)" id="vl1">
                                                                                <label for="vl1" class="ng-binding">Tata Ace</label>
                                                                            </div><!-- end ngRepeat: vehicle in vehicles | filter:data.vehicle_type -->
                                                                        </div>
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
        </div>
    </div>
     <div class="loc_det">
         <span ng-repeat=" (key,quotevalue) in quotedata[0].quotes">
        <table class="table tbl_t orderMaster">
            <thead>
                <tr>
                    <th> NAME </th>                    
                    <th> QUOTED ROUTES </th>
                    <th> PERCENTAGE</th>
                    <th> L1 </th>                    
                    <th> L2</th>
                    <th> OTHERS</th>                   
                    <th>
                        <div class="info_links"> NOTIFICATIONS</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{quotevalue.postedto.username}}</td>
                    <td>1/1</td>
                    <td>N/A</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td> 
                    <div class="contract-data">                       
                        <div class="sep_div1">
                            <!-- <input id="Submit1" type="submit"  value="Cancel Contract" class="book_btn"> -->
                        </div>
                        <div class="main-over-lap">
                        <div class="detail_b1 toggle-minus-{{key}}"  ng-click="showHideDetail(key)" id="buyer-post-detail-btn{{key}}" data-id="">Detail
                        </div>
                        <a href="javascript:void(0)"  data-toggle="modal" data-target="#messageModal" class="pull-right msg-icon">
                            <i class="fa fa-envelope-o"></i>
                        </a>
                    </div>                           
                    </td>
                </tr>
            </tbody>
        </table>
     <!--    {{quotedata[0].quotes}} -->
         <form name="contractform_{{ key }}" id="contractform">
         <table style="display:none" id="detail-tabel-data{{key}}" class="table tbl_t orderMaster" >
            <thead>
                <tr>
                    <th>FROM-TO</th>                    
                    <th>CATEGORY</th>
                    <th>SERVICE</th>
                    <th>QUANTITY</th>                    
                    <th>QUOTE</th>
                    <th>RANK</th>                   
                    <th>
                       RATE
                    </th>
                    <th>
                      QUANTITY
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{quotedata[0].city.city_name}}</td>
                    <td>{{quotedata[0].post.category|getName:categories}}</td>
                    <td>{{quotedata[0].post.servicetype|getobjectvalue:servicetype}}</td> 
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td> 
                        <div class="form-desable">
                         <input type="text"  id="contract_rate_{{ key }}" required name="contract_rate_{{ key }}" ng-model="quotevalue.contract.contract_price"  value="">  
                         <span class="help-inline" style="color:red;" ng-show="contractform_{{ key }}.contract_rate_{{ key }}.$dirty && contractform_{{ key }}.contract_rate_{{ key }}.$invalid">Please fill value </span>
                        </div>              
                    </td>                     
                        <td> 
                        <div class="form-desable">
                        <input type="text"  id="contract_qty_{{ key }}" required name="contract_qty_{{ key }}" ng-model="quotevalue.contract.contract_quantity"  value="">
                        <span class="help-inline" style="color:red;" ng-show="contractform_{{ key }}.contract_qty_{{ key }}.$dirty && contractform_{{ key }}.contract_qty_{{ key }}.$invalid">Please fill value </span>               
                        </td>
                    </div>
                </tr>
                <tr>                
                  <td td colspan="8" class="no-border">
                     <div class="generate_data">
                     
                        <div class="col-md-12 text-right" ng-show="quotevalue.contract_status!=1">
                            <div class="col-md-3">
                            <input type="file" id="contract_files{{key}}" name="contract_files{{key}}" style="display:none" class="form-control form-control1 update_txt contract_files" value="" >
                            </div>
                            <div class="col-md-9 text-right npr new-generate-data">       
                            <input type="text" placeholder="Title" required class="generate_data_input " ng-model="quotevalue.contract.contract_title"  name="contract_title_{{key}}" id="contract_title_{{key}}" value="" style="display:none"> 
                            
                            <span class="help-inline" style="color:red;" ng-show="contractform_{{ key }}.contract_title_{{ key }}.$dirty && contractform_{{ key }}.contract_title_{{ key }}.$invalid">Please fill value </span>                                                       
                            
                            <input type="button" id="generate_data{{key}}" ng-disabled="contractform_{{ key }}.$invalid" value="Generate Contract" ng-click="GenerateContract(quotedata[0],quotevalue)" style="display:none"  class="generate_data-btn"> 
                                 
                            <input  type="button"  id="Contract" value="Contract" ng-click="showcontract(key)" class="generate_data-btn"> 
                         </div>
                        </div>
                        
                         <input ng-show="quotevalue.contract.contract_no" type="button"  id="Contract" value="Cancel Contract" ng-click="" class="generate_data-btn"> 
                    
                    </div>
                  </td> 
                   
                </tr>
            </tbody> 
           
        </table>
         </form>
    </span>
        




       </div>
     </div>
</div>
</div>


</div> <!--end of right_search_p-->
</div>

<script>


    $(document).ready(function () {
        $(".contact_click").click(function () {
            $(".d_box").slideToggle("slow");
        });

        $('.contact_click').click(function () {
            $(this).next('.d_box').slideToggle('500');
            $(this).find('i').toggleClass('fa fa-plus fa fa-minus');
        });

    });


    $(document).ready(function () {
        $(".contact_click1").click(function () {
            $(".d_box1").slideToggle("slow");
        });

        $('.contact_click1').click(function () {
            $(this).next('.d_box1').slideToggle('500');

        });
         $('#filters_click').click(function () {
            $("#filters_show").slideToggle("slow");

        });
         $('#detail_click').click(function () {
            $("#click-data-detail").slideToggle("slow");

        });
          $('#buyer-post-detail-btn').click(function () {
            $("#detail-tabel-data").slideToggle();

        });
         

    });
</script>
<script>
    $(document).ready(function () {
        var gwid = $(".scroll_div").width();
        var twid = $(".loc_det").width();
        var acwid = gwid / twid * 100;
        var len = $(".scroll_div").length;
        var towid = acwid * len + 9;
        $(".fillter_div").css({"width": "" + towid + "%"});
    });
</script>

<style>
.mb-5{ margin-bottom: 5px;}
.new-generate-data { position: relative;}
.new-generate-data input{ 
    /*float: left;
    width: 22%;*/
}
.generate_data-btn {float: right;}
.generate_data_input{width: 18%;
    position: absolute;
    right: 19%;}
</style>