<div class="loc_det bg-white-new">
        <div class="col-md-10">
            <div class="col-md-2 data-fld npl">
                <span class="data-head">CONTRACT TYPE:</span>
                <span class="data-value break-word ng-binding">Private</span>
            </div>
            <div class="col-md-2 data-fld">
                <span class="data-head">TITLE:</span>
                <span class="data-value break-word ng-binding">N/A</span>
            </div>
            <div class="col-md-2 data-fld">
                <span class="data-head">VALID FROM:</span>
                <span class="data-value break-word ng-binding">{{quotedata[0].valid_from}}</span>
            </div>
            <div class="col-md-2 data-fld">
                <span class="data-head">VALID TO:</span>
                <span class="data-value break-word ng-binding">{{quotedata[0].valid_from}}</span>
            </div>
            <div class="col-md-2 data-fld">
                <span class="data-head">NO. OF ROUTES:</span>
                <span class="data-value break-word ng-binding"></span>
            </div>
            <div class="col-md-2 data-fld">
                <span class="data-head">EMD :</span>
                <span class="data-value break-word ng-binding">Private</span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="col-md-12 text-right">
                <div class="views_font">Views 0</div>
                <div class="a_link" id="detail_click">
                    <a href="javascript:void"><i class="fa-plus fa" aria-hidden="true"></i>
                        Details</a>
                </div>
            </div>
        </div>
    </div>
    <div id="click-data-detail" class="detail-click-data d_box">
        <div class="col-md-2 data-fld npl">
            <span class="data-head">EMD MODE:</span>
            <span class="data-value break-word ng-binding">Private</span>
        </div>
        <div class="col-md-2 data-fld npl">
            <span class="data-head">AWARD CRITERIA:</span>
            <span class="data-value break-word ng-binding">Private</span>
        </div>
        <div class="col-md-2 data-fld npl">
            <span class="data-head">CONTRACT ALLOTMENT:</span>
            <span class="data-value break-word ng-binding">Private</span>
        </div>
        <div class="col-md-2 data-fld npl">
            <span class="data-head">PAYMENT TERMS:</span>
            <span class="data-value break-word ng-binding">Private</span>
        </div>
        <div class="col-md-2 data-fld npl">
            <span class="data-head">PAYMENT METHOD:</span>
            <span class="data-value break-word ng-binding">Private</span>
        </div>
        <div class="col-md-2 data-fld npl">
            <span class="data-head">PRICE INCLUSIVE:</span>
            <span class="data-value break-word ng-binding">{{quotedata[0].post.no_of_years}}</span>
        </div>
         
        <div class="clearfix"></div>
        <div class="col-md-2 data-fld npl">
            <span class="data-head">PRICE EXCLUSIVE:</span>
            <span class="data-value break-word ng-binding">{{quotedata[0].post.no_of_years}}</span>
        </div>
        <div class="col-md-2 data-fld npl">
            <span class="data-head">NO. OF OWN TRUCKS:</span>
            <span class="data-value break-word ng-binding">{{quotedata[0].post.no_of_trucks}}</span>
        </div>
        <div class="col-md-2 data-fld npl">
            <span class="data-head">AVERAGE TURN OVER LAST THREE YEARS:</span>
            <span class="data-value break-word ng-binding">{{quotedata[0].post.average_turn_over}}</span>
        </div>
        <div class="col-md-2 data-fld npl">
            <span class="data-head">NO. OF YEARS IN BUSINESS:</span>
            <span class="data-value break-word ng-binding">{{quotedata[0].post.no_of_years}}</span>
        </div>
        <div class="col-md-2 data-fld npl">
            <span class="data-head">TERM CONTRACT WITH OTHER COMPANIES:</span>
            <span class="data-value break-word ng-binding">Private</span>
        </div>
        <div class="col-md-2 data-fld npl">
            <span class="data-head">LAST DATE/TIME FOR QUOTE:</span>
            <span class="data-value break-word ng-binding">{{quotedata[0].post.last_date}}{{quotedata[0].post.last_time}}</span>
        </div>
         
        <div class="clearfix"></div>
         <div class="col-md-2 data-fld npl">
            <span class="data-head">POST PUBLIC/PRIVATE:</span>
            <span class="data-value break-word ng-binding">Private</span>
        </div>
        <div class="col-md-2 data-fld npl">
            <span class="data-head">BID DOCUMENTS:</span>
            <span class="data-value break-word ng-binding">Private</span>
        </div>
        <div class="col-md-2 data-fld npl">
            <span class="data-head">BID NOTES:</span>
            <span class="data-value break-word ng-binding">Private</span>
        </div>
    </div>
    <div class="bg-white-new">
      <div class="info-links font-bold-black text-uppercase wp-100">
      <div class="notif_list">
         <h4 class="pull-left mlr">NOTIFICATIONS</h4>
         <a href="#" class=" tab-data-show tabs-showdiv" data-showdiv="ftl-buyer-messages"><i class="fa fa-envelope-o"></i>  Messages<span class="badge" style="display: none;">0</span></a>
         <a href="#" class=" tab-data-show active tabs-showdiv" data-showdiv="ftl-buyer-quotes"><i class="fa fa-file-text-o"></i> Offers<span class="badge ml-5">1</span></a>
         <a href="#" class=" tab-data-show tabs-showdiv"><i class="fa fa-bullseye "></i> Leads<span class="badge"></span></a>
         <a href="#" class=" tab-data-show tabs-showdiv"><i class="fa fa-line-chart"></i> Market Analytics</a>
         <a href="#" class="tab-data-show tabs-showdiv"><i class="fa fa-file-text-o"></i> Documentation</a>
      </div>
   </div>
    <div class="bg-white-new">
        <div class="col-md-10"> 
            <div class="heading_text-new">
                SELLER
            </div>
        </div>
        <div class="col-md-2">            
            <span class="rilters_click click_a" id="filters_click"><i class="fa fa-bars"></i> Filters </span>            
        </div>
    </div>
    <div class="loc_det" id="filters_show">
        <div class="scroller-div">
                                    <div class="fillter_div">
                                        <div class="scroll_div">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="row">
                                                    <div class="select_form_intra">
                                                        <input type="text" class="input_ani" required="">
                                                        <label class="lbl_text2">SELLERS</label>
                                                        <span class="search_icon"><i class="fa fa-search"></i></span>
                                                    </div>

                                                    <div class="filter_from_location location_scroller">
                                                        <div class="col-lg-12">
                                                            <div class="row">
                                                                <ul class="post_inline">
                                                                    <li>
                                                                        <div class="admin_input">
                                                                            <div class="admin_input ng-scope" ng-repeat="seller in sellerList | filter:data.username">
                                                                                <input type="checkbox" class="check_box check_box_1" ng-click="selectNewSellerName(seller.id)" id="vl1044">
                                                                                <label for="vl1044" class="ng-binding">Nair Transport</label>
                                                                            </div><div class="admin_input ng-scope" ng-repeat="seller in sellerList | filter:data.username">
                                                                                <input type="checkbox" class="check_box check_box_1" ng-click="selectNewSellerName(seller.id)" id="vl1051">
                                                                                <label for="vl1051" class="ng-binding">nfcl ten</label>
                                                                            </div><div class="admin_input ng-scope" ng-repeat="seller in sellerList | filter:data.username">
                                                                                <input type="checkbox" class="check_box check_box_1" ng-click="selectNewSellerName(seller.id)" id="vl1034">
                                                                                <label for="vl1034" class="ng-binding">nikhil pvt ltd</label>
                                                                            </div><div class="admin_input ng-scope" ng-repeat="seller in sellerList | filter:data.username">
                                                                                <input type="checkbox" class="check_box check_box_1" ng-click="selectNewSellerName(seller.id)" id="vl1054">
                                                                                <label for="vl1054" class="ng-binding">Prince</label>
                                                                            </div><div class="admin_input ng-scope" ng-repeat="seller in sellerList | filter:data.username">
                                                                                <input type="checkbox" class="check_box check_box_1" ng-click="selectNewSellerName(seller.id)" id="vl1040">
                                                                                <label for="vl1040" class="ng-binding">R One Industries</label>
                                                                            </div><div class="admin_input ng-scope" ng-repeat="seller in sellerList | filter:data.username">
                                                                                <input type="checkbox" class="check_box check_box_1" ng-click="selectNewSellerName(seller.id)" id="vl1048">
                                                                                <label for="vl1048" class="ng-binding">Raj Transport </label>
                                                                            </div><div class="admin_input ng-scope" ng-repeat="seller in sellerList | filter:data.username">
                                                                                <input type="checkbox" class="check_box check_box_1" ng-click="selectNewSellerName(seller.id)" id="vl1045">
                                                                                <label for="vl1045" class="ng-binding">VASAN EXPORTS</label>
                                                                            </div><div class="admin_input ng-scope" ng-repeat="seller in sellerList | filter:data.username">
                                                                                <input type="checkbox" class="check_box check_box_1" ng-click="selectNewSellerName(seller.id)" id="vl1037">
                                                                                <label for="vl1037" class="ng-binding">Virtual Dimension Softs Pvt. Ltd.</label>
                                                                            </div>
                                                                        </div>
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="scroll_div">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="row">
                                                    <div class="select_form_intra">
                                                        <input type="text" autocomplete="off" class="input_ani ng-pristine ng-untouched ng-invalid ng-invalid-required">   
                                                        <label class="lbl_text2">CITY</label>
                                                        <span class="search_icon"><i class="fa fa-search"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="scroll_div">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="row">

                                                    <div class="select_form_intra">
                                                        <input type="text" id="buyer" class="input_ani d_to_location ng-pristine ng-untouched ng-invalid ng-invalid-required" ng-model="data.d_to_location" required="">
                                                        <label class="lbl_text2">FROM LOCATION</label>
                                                        <span class="search_icon"><i class="fa fa-search"></i></span>
                                                    </div>

                                                    <div class="filter_from_location">
                                                        <div class="col-lg-12">
                                                            <div class="row">
                                                                <ul class="post_inline">
                                                                    <!-- ngRepeat: (key,value) in locations |filter:data.d_from_location -->
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="scroll_div">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="row">

                                                    <div class="select_form_intra">
                                                        <input type="text" id="buyer" class="input_ani ng-pristine ng-untouched ng-invalid ng-invalid-required" ng-model="data.d_from_location" required="">
                                                        <label class="lbl_text2">TO LOCATION</label>
                                                        <span class="search_icon"><i class="fa fa-search"></i></span>
                                                    </div>

                                                    <div class="filter_from_location">
                                                        <div class="col-lg-12">
                                                            <div class="row">
                                                                <ul class="post_inline">
                                                                    <!-- ngRepeat: (key,value) in locations |filter:data.d_from_location -->
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="scroll_div">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="row">

                                                    <div class="select_form_intra">
                                                        <input type="text" class="input_ani ng-pristine ng-untouched ng-invalid ng-invalid-required" ng-model="data.vehicle_type" required="">
                                                        <label class="lbl_text2">VEHICLE TYPE</label>
                                                        <span class="search_icon"><i class="fa fa-search"></i></span>
                                                    </div>

                                                    <div class="filter_from_location">
                                                        <div class="col-lg-12">
                                                            <div class="row">
                                                                <ul class="post_inline">
                                                                    <li>
                                                                        <div class="admin_input">
                                                                            <!-- ngRepeat: vehicle in vehicles | filter:data.vehicle_type --><div class="admin_input ng-scope" ng-repeat="vehicle in vehicles | filter:data.vehicle_type">
                                                                                <input type="checkbox" class="check_box check_box_1" ng-click="selectNewVehicleType(vehicle.vehicle_type)" id="vl22">
                                                                                <label for="vl22" class="ng-binding">Mahindra Jeeto</label>
                                                                            </div><!-- end ngRepeat: vehicle in vehicles | filter:data.vehicle_type --><div class="admin_input ng-scope" ng-repeat="vehicle in vehicles | filter:data.vehicle_type">
                                                                                <input type="checkbox" class="check_box check_box_1" ng-click="selectNewVehicleType(vehicle.vehicle_type)" id="vl23">
                                                                                <label for="vl23" class="ng-binding">Mahindra Jeeto Plus</label>
                                                                            </div><!-- end ngRepeat: vehicle in vehicles | filter:data.vehicle_type --><div class="admin_input ng-scope" ng-repeat="vehicle in vehicles | filter:data.vehicle_type">
                                                                                <input type="checkbox" class="check_box check_box_1" ng-click="selectNewVehicleType(vehicle.vehicle_type)" id="vl21">
                                                                                <label for="vl21" class="ng-binding">Mahindra Maximoo</label>
                                                                            </div><!-- end ngRepeat: vehicle in vehicles | filter:data.vehicle_type --><div class="admin_input ng-scope" ng-repeat="vehicle in vehicles | filter:data.vehicle_type">
                                                                                <input type="checkbox" class="check_box check_box_1" ng-click="selectNewVehicleType(vehicle.vehicle_type)" id="vl2">
                                                                                <label for="vl2" class="ng-binding">Tata 207</label>
                                                                            </div><!-- end ngRepeat: vehicle in vehicles | filter:data.vehicle_type --><div class="admin_input ng-scope" ng-repeat="vehicle in vehicles | filter:data.vehicle_type">
                                                                                <input type="checkbox" class="check_box check_box_1" ng-click="selectNewVehicleType(vehicle.vehicle_type)" id="vl1">
                                                                                <label for="vl1" class="ng-binding">Tata Ace</label>
                                                                            </div><!-- end ngRepeat: vehicle in vehicles | filter:data.vehicle_type -->
                                                                        </div>
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
        </div>
    </div>
     <div class="loc_det">
        <table class="table tbl_t orderMaster">
            <thead>
                <tr>
                    <th> NAME </th>                    
                    <th> QUOTED ROUTES </th>
                    <th> PERCENTAGE</th>
                    <th> L1 </th>                    
                    <th> L2</th>
                    <th> OTHERS</th>                   
                    <th>
                        <div class="info_links"> NOTIFICATIONS</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{quotedata[0].quotes[0].postedto.username}}</td>
                    <td>1/1</td>
                    <td>N/A</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td> 
                    <div class="contract-data">                       
                        <div class="sep_div1">
                            <!-- <input id="Submit1" type="submit"  value="Cancel Contract" class="book_btn"> -->
                        </div>
                        <div class="main-over-lap">
                        <div class="detail_b1 toggle-minus-0" id="buyer-post-detail-btn" data-id="">Detail
                        </div>
                        <a href="javascript:void(0)"  data-toggle="modal" data-target="#messageModal" class="pull-right msg-icon">
                            <i class="fa fa-envelope-o"></i>
                        </a>
                    </div>                           
                    </td>
                </tr>
            </tbody>
        </table>
         <table id="detail-tabel-data" class="table tbl_t orderMaster" ng-repeat=" quotevalue in quotedata[0].quotes[0]">
            <thead>
                <tr>
                    <th> FROM-TO </th>                    
                    <th>CATEGORY</th>
                    <th>SERVICE</th>
                    <th>QUANTITY</th>                    
                    <th> QUOTE</th>
                    <th>RANK</th>                   
                    <th>
                       RATE
                    </th>
                    <th>
                      QUANTITY
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{quotedata[0].city.city_name}}</td>
                    <td>{{quotedata[0].post.category|getName:categories}}</td>
                    <td>{{quotedata[0].post.servicetype|getobjectvalue:servicetype}}</td> 
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td> 
                        <div class="form-desable">
                            <input type="text" class="" id="" name="contractprice1_4" value=""> 
                        </div>              
                    </td>                     
                        <td> 
                        <div class="form-desable">
                          <input type="text" class="" id="" name="contractprice1_4"  value="">               
                        </td>
                    </div>
                </tr>
                <tr>                
                  <td td colspan="8" class="no-border">
                     <div class="generate_data">
                        
                        <div class="col-md-12 text-right">
                            <div class="col-md-3">
                            <input type="file" name="contract_files_2673" style="display:none" class="form-control form-control1 update_txt contract_files" value="" id="contract_files_2673">
                            </div>
                            <input type="text" placeholder="Title" class="generate_data_input" id="title" name="title" value="" style="display:none">
                             <input  type="button" id="Contract" value="Contract" onclikc="showcontract()" class="generate_data-btn"> 
                             <input type="button" id="generate_data" value="Generate Contract" style="display:none"  class="generate_data-btn"> 
                        </div>
                    </div>
                  </td> 
                    
                </tr>
            </tbody> 
        </table>
       

