/***************Dynamic Colors****************/
/*************** End ****************/
/***************Dynamic bg-Colors****************/
/*************** End ****************/
.top-menu-strip {
    /*border-bottom:#383838 solid 1px;*/
}

.logo_m {
    margin-top: 7px;
    float: left;
}

.search {
    float: right;
    padding: 32px 0px;
}

.search .search_bar {
    float: left;
    position: relative;
    border: #d2d2d2 solid 1px;
}

.search .search_bar .keyword {
    position: absolute;
    width: 70px;
    padding: 5px;
}

.search .search_bar .keyword:nth-of-type(10n+1) {
    background-color: #e7e7e7;
}

.search .search_bar .keyword:nth-of-type(10n+2) {
    background-color: #f76540;
}

.search .search_bar .keyword:nth-of-type(10n+3) {
    background-color: #ffcb05;
}

.search .search_bar .keyword:nth-of-type(10n+4) {
    background-color: #62cd9f;
}

.search .search_bar .keyword:nth-of-type(10n+5) {
    background-color: #b67baa;
}

.search .search_bar .keyword:nth-of-type(10n+6) {
    background-color: #a7a7a7;
}

.search .search_bar .keyword:nth-of-type(10n+7) {
    background-color: #b02907;
}

.search .search_bar .keyword:nth-of-type(10n+8) {
    background-color: #856900;
}

.search .search_bar .keyword:nth-of-type(10n+9) {
    background-color: #2a855e;
}

.search .search_bar .keyword:nth-of-type(10n+10) {
    background-color: #723f68;
}

.search .search_bar .keyword ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.search .search_bar .keyword ul.content-open {
    position: absolute !important;
    top: 38px;
    left: -2px;
    width: 115%;
    background: #e8e8e8;
    z-index: 1;
    display: none;
}

.search .search_bar .keyword ul li {
    display: block;
    padding: 4px 10px;
    font-size: 16px;
    border-bottom: solid 1px #cecece;
}

.search .search_bar .keyword ul::after {
    content: '';
    border-bottom: #e8e8e8 solid 8px;
    border-right: solid 8px transparent;
    border-left: solid 8px transparent;
    position: absolute;
    left: 13px;
    top: -7px;
    z-index: 2;
}

.search .search_bar .keyword .menu_c {
    padding: 0px 0px;
    text-decoration: none;
    margin: 0;
}

.search .search_bar .keyword .menu_c i:nth-of-type(10n+1) {
    color: #9e9e9e;
    font-size: 16px;
}

.search .search_bar .keyword .menu_c i:nth-of-type(10n+2) {
    color: #000;
    font-size: 16px;
}

.search .search_bar .keyword .menu_c i:nth-of-type(10n+3) {
    color: #ffcb05;
    font-size: 16px;
}

.search .search_bar .keyword .menu_c i:nth-of-type(10n+4) {
    color: #62cd9f;
    font-size: 16px;
}

.search .search_bar .keyword .menu_c i:nth-of-type(10n+5) {
    color: #b67baa;
    font-size: 16px;
}

.search .search_bar .keyword .menu_c i:nth-of-type(10n+6) {
    color: #5e5e5e;
    font-size: 16px;
}

.search .search_bar .keyword .menu_c i:nth-of-type(10n+7) {
    color: black;
    font-size: 16px;
}

.search .search_bar .keyword .menu_c i:nth-of-type(10n+8) {
    color: #856900;
    font-size: 16px;
}

.search .search_bar .keyword .menu_c i:nth-of-type(10n+9) {
    color: #2a855e;
    font-size: 16px;
}

.search .search_bar .keyword .menu_c i:nth-of-type(10n+10) {
    color: #723f68;
    font-size: 16px;
}

.search .search_bar .keyword .menu_c::before {
    content: '';
    border-top: #9e9e9e solid 8px;
    border-right: solid 8px transparent;
    border-left: solid 8px transparent;
    position: absolute;
    right: 6px;
    top: 12px;
}

.search .search_bar input[type="text"] {
    width: 100%;
    padding: 4px 70px;
    border: none;
    outline: none;
    font-size: 16px;
}

.search .search_bar input[type="text"]:nth-of-type(10n+1) {
    color: #9e9e9e;
}

.search .search_bar input[type="text"]:nth-of-type(10n+2) {
    color: #000;
}

.search .search_bar input[type="text"]:nth-of-type(10n+3) {
    color: #ffcb05;
}

.search .search_bar input[type="text"]:nth-of-type(10n+4) {
    color: #62cd9f;
}

.search .search_bar input[type="text"]:nth-of-type(10n+5) {
    color: #b67baa;
}

.search .search_bar input[type="text"]:nth-of-type(10n+6) {
    color: #5e5e5e;
}

.search .search_bar input[type="text"]:nth-of-type(10n+7) {
    color: black;
}

.search .search_bar input[type="text"]:nth-of-type(10n+8) {
    color: #856900;
}

.search .search_bar input[type="text"]:nth-of-type(10n+9) {
    color: #2a855e;
}

.search .search_bar input[type="text"]:nth-of-type(10n+10) {
    color: #723f68;
}

.search .search_bar .search_inp {
    position: absolute;
    right: -1px;
    top: -1px;
    background: #ed3237;
}

.search .search_bar .search_inp input[type="button"] {
    border: none;
    background: url("../images/search-i.png") no-repeat;
    padding: 6px 19px;
    background-position: 10px 7px;
    outline: none;
}

.login_d {
    width: 100%;
    float: left;
    margin-top: 18px;
}

.login_d .contact_info {
    width: 100%;
    float: left;
    padding: 10px;
}

.login_d .contact_info .c_nt {
    width: 233px;
    float: right;
    border: #949494 solid 1px;
    border-radius: 20px;
    padding: 5px 10px;
}

.login_d .contact_info .c_nt .p_icons {
    width: 30px;
    float: left;
}

.login_d .contact_info .c_nt .p_icons i {
    font-size: 24px;
    color: #000;
}

.login_d .contact_info .c_nt .text_ph {
    float: left;
    color: #ed3338;
    font-size: 18px;
}

.login_d .log_detail {
    width: 100%;
    float: left;
    padding: 4px 17px;
}

.login_d .log_detail .login_f {
    float: right;
}

.login_d .log_detail .login_f .icons_ll {
    float: left;
}

.login_d .log_detail .login_f .icons_ll i {
    font-size: 20px;
    padding: 0 15px;
}

.login_d .log_detail .login_f .text_ll {
    font-family: FuturaBT-Book;
    font-size: 14px;
}

.login_d .log_detail .signup_f {
    float: right;
    padding: 0px 5px;
}

.login_d .log_detail .signup_f .icons_ll {
    float: left;
}

.login_d .log_detail .signup_f .icons_ll i {
    font-size: 20px;
    padding: 0 15px;
}

.login_d .log_detail .signup_f .text_ll {
    font-family: FuturaBT-Book;
    font-size: 14px;
}

.login_d .log-div-inner {
    text-align: right;
    vertical-align: middle;
}

.login_d .log-div-inner .log-div {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}

.login_d .log-div-inner .log-div .login {
    padding: 2px 15px;
    font-size: 18px;
    border-radius: 50px;
    margin: 0 0 0 5px;
    border: 1px solid #bababa;
    background-color: #ffffff;
    color: #666666;
}

.login_d .log-div-inner .log-div .login:hover {
    background-color: #747474;
    color: #ffffff;
    border-color: #747474;
}

.login_d .log-div-inner .log-div .signup {
    border: 1px solid #fe1d35;
    background-color: #fe1d35;
    color: #ffffff;
    padding: 2px 15px;
    font-size: 18px;
    border-radius: 50px;
    margin: 0 0 0 5px;
}

.login_d .log-div-inner .log-div .signup:hover {
    background-color: #d71028;
}

.login_d .log-div-inner .log-div .search {
    padding: 2px 0;
    height: 38px;
    position: relative;
    display: table;
    margin: 0 auto;
    width: auto;
    min-width: 150px;
}

.login_d .log-div-inner .log-div .phone-number {
    color: #ff0000;
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px;
}

.login_d .log-div-inner .log-div .phone-number .blacks i {
    color: #000000;
}

.slider {
    width: 100%;
    float: left;
}

.slider img {
    width: 100%;
}

.tab_content {
    width: 100%;
    float: left;
    border-bottom: solid 2px #d5d5d5;
}

.tab_content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tab_content ul.t_col li {
    opacity: 0.5;
}

.tab_content ul.t_col li.active_b {
    position: relative;
    opacity: 1;
}

.tab_content ul.t_col li.active_b::before {
    content: '';
    position: absolute;
    border-bottom: #fe2224 solid 2px;
    bottom: -2px;
    width: 100%;
    left: 0;
    transition: left 0.3s;
}

.tab_content ul li {
    display: inline-block;
    padding: 7px 0;
    width: calc(100% / 4);
    float: left;
    text-align: center;
    position: relative;
    line-height: 30px;
    height: 140px;
}

.tab_content ul li a {
    color: #585858;
    text-decoration: none;
    float: left;
    width: 100%;
    font-size: 15px;
    line-height: 20px;
}

.tab_content ul li a span {
    width: 100%;
    float: left;
    text-align: center;
}

.content-bottom {
    width: 100%;
    float: left;
}

.content-bottom .content_sub {
    width: 100%;
    float: left;
    display: none;
}

.content-bottom .content_sub.activetab {
    display: block;
}

.content-bottom .content_sub.activetab_s {
    display: block;
}

.content-bottom .content_sub .m_franchies {
    width: 100%;
    float: left;
    background: #fff;
    min-height: 300px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.content-bottom .content_sub .m_franchies h2 {
    font-size: 15px;
    padding: 15px 0px 5px 15px;
    margin: 0;
    color: #3e3e3e;
    font-family: FuturaBT-Medium;
}

.content-bottom .content_sub .m_franchies .ind_text {
    font-size: 18px;
    padding: 0px 15px;
    color: #202020;
    margin: 0;
    float: left;
    width: 100%;
}

.content-bottom .content_sub .m_franchies .icons_r {
    width: 4%;
    float: left;
}

.content-bottom .content_sub .m_franchies .icons_r i {
    color: #ed3237;
    font-size: 18px;
}

.content-bottom .content_sub .m_franchies .text_t {
    width: 95%;
    float: left;
    font-size: 13px;
    padding: 5px 0;
}

.content-bottom .content_sub .d_orgn {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
}

.content-bottom .content_sub .d_orgn li {
    padding: 5px 50px;
    display: block;
    font-size: 13px;
    position: relative;
}

.content-bottom .content_sub .d_orgn li::before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #ed3237;
    position: absolute;
    left: 35px;
    top: 12px;
}

.dealers_main {
    width: 100%;
    float: left;
}

.dealers_main .dealers_sub {
    width: 100%;
    float: left;
    position: relative;
    /* &::after {
            content: '';
            width: 100%;
            height: 1px;
            background: #b1b1b1;
            position: absolute;
            top: 35px;
            left: 0;
            z-index: -1;
        }

        &::before {
            content: '';
            width: 100%;
            height: 1px;
            background: #b1b1b1;
            position: absolute;
            bottom: 16px;
            left: 0;
            z-index: -1;
        }*/
}

.dealers_main .dealers_sub h2 {
    font-size: 15px;
    color: #ed3237;
    font-family: FuturaBT-Medium;
    padding: 15px 0px;
    width: auto;
    background: #f6f6f6;
    text-align: center;
    margin: 0;
    margin-top: 5px;
}

.dealers_main .strong_ph {
    width: 100%;
    float: left;
}

.dealers_main .strong_ph h2 {
    margin: 0;
    padding: 10px 15px;
    font-size: 15px;
    color: #ed3237;
    font-family: FuturaBT-Medium;
    position: relative;
}

.dealers_main .strong_ph h2::after {
    content: '';
    width: 15%;
    height: 2px;
    background: #ed3237;
    position: absolute;
    bottom: -6px;
    left: 14px;
}

.dealers_main .strong_ph .ph_netw {
    width: 100%;
    float: left;
}

.dealers_main .strong_ph .ph_netw .img_c {
    float: left;
    width: 100%;
    padding: 30px 13px;
}

.dealers_main .strong_ph .ph_netw .img_c img {
    width: 100%;
}

.dealers_main .strong_ph .ph_netw .text_c {
    float: left;
    width: 100%;
    padding: 26px 0px;
    font-size: 13px;
    color: #000;
    margin-left: 0px;
}

.dealers_main .loin_log {
    width: 100%;
    float: left;
}

.dealers_main .loin_log.loin_hide {
    display: none;
    width: 100%;
    float: left;
}

.dealers_main .loin_log.loin_hide.active_serv {
    display: block;
}

.dealers_main .loin_log .l_detail {
    width: 100%;
    float: left;
}

.dealers_main .loin_log .l_detail.back_bg {
    background: #fff;
    margin-bottom: 15px;
    display: none;
}

.dealers_main .loin_log .l_detail.back_bg.active_class {
    display: block !important;
}

.dealers_main .loin_log .l_detail .img_net {
    width: 100%;
    float: left;
    padding: 10px 10px;
}

.dealers_main .loin_log .l_detail .img_net img {
    width: 100%;
    float: left;
}

.dealers_main .loin_log .l_detail .netw_content {
    width: 100%;
    float: left;
    padding-bottom: 15px;
}

.dealers_main .loin_log .l_detail .netw_content h2 {
    font-size: 15px;
    padding: 26px 0px 0px 28px;
    margin: 0px;
    color: #313131;
}

.dealers_main .loin_log .l_detail .netw_content .net_text {
    font-size: 13px;
    padding: 8px 35px;
    color: #515151;
}

.dealers_main .loin_log .l_detail .netw_content .d_orgn1 {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dealers_main .loin_log .l_detail .netw_content .d_orgn1 li {
    padding: 7px 47px;
    display: block;
    font-size: 13px;
    position: relative;
    color: #515151;
}

.dealers_main .loin_log .l_detail .netw_content .d_orgn1 li::before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fe2224;
    position: absolute;
    left: 28px;
    top: 16px;
}

.dealers_main .loin_log .l_detail .training_m {
    width: 100%;
    float: left;
    display: none;
}

.dealers_main .loin_log .l_detail .training_m.activetab1 {
    display: block !important;
    transition: all 0.3s;
}

.dealers_main .loin_log .l_detail .training_m .training_menu {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 20px 17px;
}

.dealers_main .loin_log .l_detail .training_m .training_menu li {
    padding: 0px 0px;
    display: inline-block;
    width: 22%;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    border: #d4d4d4 solid 1px;
    margin-left: 30px;
}

.dealers_main .loin_log .l_detail .training_m .training_menu li.activem {
    background: #ed3237;
    text-align: center;
}

.dealers_main .loin_log .l_detail .training_m .training_menu li.activem a {
    color: #fff;
}

.dealers_main .loin_log .l_detail .training_m .training_menu li a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.dealers_main .loin_log .l_detail .training_m .traing_content {
    width: 100%;
    float: left;
}

.dealers_main .loin_log .l_detail .training_m .traing_content .traing_sub {
    width: 100%;
    float: left;
    background: #f6f6f6;
    border-radius: 4px;
    margin-bottom: 5px;
    display: none;
}

.dealers_main .loin_log .l_detail .training_m .traing_content .traing_sub.activetab {
    display: block !important;
}

.dealers_main .loin_log .l_detail .training_m .traing_content .traing_sub.activetab1_internat {
    display: block !important;
}

