@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
@import url(my-fontwebkit.css);

/*$m_font: 'Lato', sans-serif;*/

body {
    font-family: FuturaBT-Book !important;
}

body .top_nav .top_menu {
    float: left;
    padding-top: 30px;
}

body .top_nav .top_menu ul {
    float: left;
    padding: 0px;
    margin: 0px;
}

body .top_nav .top_menu ul li {
    list-style-type: none;
    float: left;
    padding: 0px;
}

body .top_nav .top_menu ul li a {
    padding: 5px 10px;
    font-size: 18px;
    color: #666666;
    border-bottom: 0px solid #ffffff;
    display: block;
    font-family: FuturaBT-Medium;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

body .top_nav .top_menu ul li .search_i {
    font-size: 19px;
    cursor: pointer;
    float: left;
    margin-top: 5px;
}

body .top_nav .top_menu ul li:last-child {
    border-bottom: 1px solid #ffffff;
}

body .menu {
    background: #383838;
    padding: 1px 0;
}

body .menu .menu_ul ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

body .menu .menu_ul ul li {
    float: left;
    padding: 0px 10px;
}

body .menu .menu_ul ul li a {
    color: #fff;
    font-family: FuturaBT-Book;
    text-align: center;
    padding: 7px 12px;
    display: block;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

body .menu .menu_ul ul li a:hover {
    background: #ec3434;
}

body .menu .menu_ul ul li a.active {
    background: #ec3434;
}

body .menu .menu_ul ul li:first-child {
    padding-left: 10px;
}

body .page {
    padding: 0px 0px;
    background: #f7f8f8;
}

body .page .page_content {
    background: #fff;
    min-height: 500px;
    padding: 15px 0px;
}

body .page .page_content .page_text {
    float: left;
    width: 100%;
}

body .page .page_content .page_text .text-title {
    color: #ec3434;
    font-size: 19px;
    font-weight: 600;
    padding: 8px 0px;
    font-family: FuturaBT-Book;
}

body .page .page_content .page_text .text {
    line-height: 24px;
}

body .page .page_content .page_text .text p {
    padding: 0px;
    margin: 3px 0px;
    float: left;
    font-size: 16px;
    width: 100%;
}

body .page .page_content .page_form {
    float: left;
    width: 100%;
}

body .page .page_content .page_form .form_box {
    padding: 8px 0px 4px;
}

body .page .page_content .page_form .form_box .form_title {
    color: #ec3434;
    font-size: 19px;
    font-weight: 600;
    padding: 5px 0px;
    text-align: center;
}

body .page .page_content .page_form .form_box .form_field {
    position: relative;
    margin-bottom: 3px;
}

body .page .page_content .page_form .form_box .form_field .lbl_text {
    position: absolute;
    font-size: 16px;
    left: 5px;
    pointer-events: none;
    top: 24px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-weight: 400;
    color: #666666;
}

body .page .page_content .page_form .form_box .form_field .t_box {
    padding: 25px 0 7px 5px;
    border: none;
    outline: none;
    border-bottom: solid 1px #e0e0e0;
    font-size: 15px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

body .page .page_content .page_form .form_box .form_field .t_box:focus {
    border-bottom: solid 1px #b6b6b6;
}

body .page .page_content .page_form .form_box .form_field .t_box:focus + label {
    top: 4px;
    font-size: 13px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #b6b6b6;
}

body .page .page_content .page_form .form_box .form_field .t_box:valid + label {
    top: 4px;
    font-size: 13px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #b6b6b6;
}

body .page .page_content .page_form .otp_input_div {
    padding: 8px 0px;
}

body .page .page_content .page_form .otp_input_div .input_otp {
    float: left;
    width: 100%;
}

body .page .page_content .page_form .otp_input_div .input_otp .t_box {
    padding: 7px 15px;
    border: solid 1px #e0e0e0;
    outline: none;
}

body .page .page_content .page_form .otp_input_div .re_otp {
    color: #ec3434;
    padding: 7px 0px;
    font-weight: 600;
    font-size: 13px;
}

body .page .page_content .page_form .otp_input_div .re_otp span {
    float: left;
    padding: 7px 8px 7px 0px;
}

body .page .page_content .page_form .otp_input_div .re_otp_btn {
    float: left;
    width: 100%;
    padding: 7px 0px;
    font-weight: 600;
    font-size: 13px;
}

body .page .page_content .register_form .wel_text {
    font-size: 20px;
}

body .page .page_content .register_form .wel_text span {
    color: #ec3434;
    text-transform: uppercase;
}

body .page .page_content .register_form .reg_form_tab {
    border-bottom: solid 1px #eaeaea;
    margin-top: 10px;
}

body .page .page_content .register_form .reg_form_tab ul {
    float: left;
    margin: 0px;
    padding: 0px;
}

body .page .page_content .register_form .reg_form_tab ul li {
    float: left;
    list-style-type: none;
    padding-right: 15px;
}

body .page .page_content .register_form .reg_form_tab ul li a {
    text-decoration: none;
    display: block;
    font-size: 16px;
    padding: 10px 18px;
    color: #000;
    border: solid 1px #eaeaea;
    border-bottom: none;
}

body .page .page_content .register_form .reg_form_tab ul li a.active {
    background: #f2f2f2;
}

body .page .page_content .register_form .reg_form_tab ul li:first-child {
    padding-top: 13px;
}

body .page .page_content .register_form .reg_form .sep_div .form_title {
    font-size: 18px;
    padding: 30px 0px 0px;
}

body .page .page_content .register_form .reg_form .sep_div .form_title2 {
    font-size: 18px;
    padding: 17px 0px 0px;
}

body .page .page_content .register_form .reg_form .sep_div .reg_field_checkbox {
    padding-top: 20px;
    padding-left: 5px;
}

body .page .page_content .register_form .reg_form .sep_div .reg_field_checkbox2 {
    padding-top: 5px;
    padding-left: 5px;
}

body .page .page_content .register_form .reg_form .sep_div .reg_field {
    position: relative;
    padding-bottom: 5px;
}

body .page .page_content .register_form .reg_form .sep_div .reg_field .lbl_text {
    position: absolute;
    font-size: 15px;
    left: 5px;
    pointer-events: none;
    top: 24px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-weight: 400;
    color: #666666;
}

body .page .page_content .register_form .reg_form .sep_div .reg_field input[type="text"] {
    padding: 25px 0 7px 5px;
    border: none;
    outline: none;
    border-bottom: solid 1px #e0e0e0;
    font-size: 15px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

body .page .page_content .register_form .reg_form .sep_div .reg_field input[type="text"]:focus {
    border-bottom: solid 1px #b6b6b6;
}

body .page .page_content .register_form .reg_form .sep_div .reg_field input[type="text"]:focus + label {
    top: 4px;
    font-size: 13px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #b6b6b6;
}

body .page .page_content .register_form .reg_form .sep_div .reg_field input[type="text"]:valid + label {
    top: 4px;
    font-size: 13px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #b6b6b6;
}

body .page .page_content .register_form .reg_form .sep_div .reg_field select {
    padding: 13px 5px;
    margin-top: 7px;
    border: solid 1px #e0e0e0;
    outline: none;
}

body .page .page_content .register_form .reg_form .sep_div .reg_field textarea {
    border: solid 1px #e0e0e0;
    padding-top: 5px;
    margin-top: 8px;
    min-height: 80px;
    outline: none;
}

body .page .page_content .register_form .reg_form .sep_div .reg_field .add_btn {
    background: #808080;
    color: #fff;
    margin-top: 12px;
    cursor: pointer;
    margin-right: 7px;
    min-width: 70px;
    text-align: center;
}

body .page .page_content .register_form .reg_form .sep_div .reg_field .remov_btn {
    background: #ec3434;
    color: #fff;
    margin-top: 12px;
    cursor: pointer;
    min-width: 70px;
    text-align: center;
}

body .page .page_content .register_form .reg_form .sep_div .reg_field .profile_img {
    float: left;
    display: table;
    position: relative;
}

body .page .page_content .register_form .reg_form .sep_div .reg_field .profile_img .pro_img {
    float: left;
    display: table-cell;
    width: 136px;
    height: 146px;
    border: solid 1px #e0e0e0;
    padding: 3px 3px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    z-index: 9;
}

body .page .page_content .register_form .reg_form .sep_div .reg_field .profile_img .pro_img img {
    margin: 0;
    padding: 0;
    max-width: 98%;
    max-height: 98%;
}

body .page .page_content .register_form .reg_form .sep_div .reg_field .profile_img .upload_pic {
    position: absolute;
    left: 0;
    bottom: 5px;
    z-index: 10;
}

body .page .page_content .register_form .reg_form .sep_div .reg_field p {
    line-height: 22px;
    padding: 10px 0;
    margin: 0px;
}

body .page .page_content .register_form .reg_form .sep_div .term-condition {
    float: left;
    width: 100%;
    padding: 20px 0px 5px;
}

body .page .page_content .register_form .reg_form .sep_div .term-condition .term-condition {
    padding: 5px 0px;
}

body .page .page_content .register_form .reg_form .sep_div .sub_div {
    padding: 13px 0px;
}

body .page .page_content .register_form .reg_form .sep_div .form_step {
    padding: 15px 0 20px;
}

body .page .page_content .register_form .reg_form .sep_div .form_step ul {
    margin: 0px;
    list-style-type: decimal;
}

body .page .page_content .register_form .reg_form .sep_div .form_step ul li {
    float: left;
    padding: 8px 50px 8px 5px;
    position: relative;
    font-size: 20px;
}

body .page .page_content .register_form .reg_form .sep_div .form_step ul li.active {
    color: #ec3434;
}

body .page .count_div {
    padding: 30px 0px;
}

body .page .count_div .col-lg-2:last-child .count_box:before {
    display: none;
}

body .page .count_div .count_box {
    position: relative;
}

body .page .count_div .count_box:before {
    content: "";
    position: absolute;
    right: -15px;
    width: 1px;
    height: 54px;
    background: #d8d8d8;
    top: 0px;
}

body .page .count_div .count_box .text_count {
    float: left;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0px 0px 8px 0px;
}

body .page .count_div .count_box .text_num {
    text-align: center;
    font-size: 20px;
}

body .page .cont_line {
    float: left;
    padding: 0px 0px 20px;
    color: #ec3434;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
}

body .page .foo_box {
    padding: 0px 0px 10px;
}

body .page .foo_box .f_box {
    float: left;
    width: 20%;
    text-align: center;
    text-transform: uppercase;
    line-height: 22px;
    position: relative;
    padding: 15px 15px;
    font-weight: 600;
    font-family: FuturaBT-Book;
}

body .page .foo_box .f_box:before {
    content: "";
    position: absolute;
    right: 0px;
    width: 1px;
    height: 45px;
    top: 15px;
    background: #808080;
}

body .page .foo_box .f_box:last-child:before {
    display: none;
}

body .footer {
    border-top: solid 5px #ec3434;
    padding-top: 20px;
}

body .footer .footer_link ul {
    list-style-type: none;
    padding: 0px;
    text-align: center;
}

body .footer .footer_link ul li {
    display: inline-block;
    padding: 0 15px;
}

body .footer .footer_link ul li a {
    color: #333333;
    text-decoration: none;
    cursor: default;
    /* &:hover {
                            color: $m_hover;*/
}

.name {
    color: #ec3434;
}

.fullwidth,
body .wrapper,
body .logo,
body .top_nav,
body .menu,
body .menu .menu_ul,
body .menu .menu_ul ul,
body .page .page_content,
body .page .page_content .page_text .text-title,
body .page .page_content .page_text .text,
body .page .page_content .page_form .form_box,
body .page .page_content .page_form .form_box .form_title,
body .page .page_content .page_form .form_box .form_field,
body .page .page_content .page_form .form_box .form_field .t_box,
body .page .page_content .page_form .otp_input_div,
body .page .page_content .page_form .otp_input_div .input_otp .t_box,
body .page .page_content .page_form .otp_input_div .re_otp,
body .page .page_content .register_form,
body .page .page_content .register_form .wel_text,
body .page .page_content .register_form .reg_form_tab,
body .page .page_content .register_form .reg_form,
body .page .page_content .register_form .reg_form .sep_div,
body .page .page_content .register_form .reg_form .sep_div .reg_field_checkbox,
body .page .page_content .register_form .reg_form .sep_div .reg_field_checkbox2,
body .page .page_content .register_form .reg_form .sep_div .reg_field,
body .page .page_content .register_form .reg_form .sep_div .reg_field input[type="text"],
body .page .page_content .register_form .reg_form .sep_div .reg_field select,
body .page .page_content .register_form .reg_form .sep_div .reg_field textarea,
body .page .page_content .register_form .reg_form .sep_div .reg_field p,
body .page .page_content .register_form .reg_form .sep_div .sub_div,
body .page .page_content .register_form .reg_form .sep_div .form_step,
body .page .page_content .register_form .reg_form .sep_div .form_step ul,
body .page .count_div,
body .page .count_div .count_box,
body .page .count_div .count_box .text_num,
body .page .foo_box,
body .footer,
body .footer .footer_link,
body .footer .footer_link ul,
.input_ani,
.page_content_thee_tab,
.page_content_thee_tab .page_text .text-title,
.page_content_thee_tab .page_text .text,
.page_content_thee_tab .page_form .form_box,
.page_content_thee_tab .page_form .form_box .form_title,
.page_content_thee_tab .page_form .form_box .form_field,
.page_content_thee_tab .page_form .form_box .form_field .t_box,
.page_content_thee_tab .page_form .otp_input_div,
.page_content_thee_tab .page_form .otp_input_div .input_otp .t_box,
.page_content_thee_tab .page_form .otp_input_div .re_otp,
.page_content_thee_tab .register_form,
.page_content_thee_tab .register_form .wel_text,
.page_content_thee_tab .register_form .reg_form_tab,
.page_content_thee_tab .register_form .reg_form,
.page_content_thee_tab .register_form .reg_form .sep_div,
.page_content_thee_tab .register_form .reg_form .sep_div .reg_field_checkbox,
.page_content_thee_tab .register_form .reg_form .sep_div .reg_field_checkbox2,
.page_content_thee_tab .register_form .reg_form .sep_div .reg_field,
.page_content_thee_tab .register_form .reg_form .sep_div .reg_field input[type="text"],
.page_content_thee_tab .register_form .reg_form .sep_div .reg_field select,
.page_content_thee_tab .register_form .reg_form .sep_div .reg_field textarea,
.page_content_thee_tab .register_form .reg_form .sep_div .reg_field p,
.page_content_thee_tab .register_form .reg_form .sep_div .sub_div,
.page_content_thee_tab .register_form .reg_form .sep_div .form_step,
.page_content_thee_tab .register_form .reg_form .sep_div .form_step ul {
    float: left;
    width: 100%;
}

.margin_top {
    margin-top: 12px;
}

.check_box {
    display: none;
    z-index: -11;
}

.check_box + label {
    position: relative;
    padding-left: 25px;
    padding-top: 0px;
    cursor: pointer;
    font-weight: 600;
}

.check_box + label:after {
    position: absolute;
    width: 17px;
    height: 17px;
    content: "";
    border: solid 1px #808080;
    left: 0px;
    top: 3px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.check_box + label:before {
    position: absolute;
    width: 12px;
    height: 7px;
    border-bottom: solid 2px #808080;
    border-left: solid 2px #808080;
    content: "";
    left: 2px;
    top: 6px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
}

.check_box:checked + label:before {
    opacity: 1;
    visibility: visible;
}

.check_box:checked + label:after {
    opacity: 0;
    visibility: hidden;
}

.upfile {
    display: none !important;
    z-index: -11;
}

.upfile + label {
    background: #535353;
    color: #fff;
    padding: 5px 10px !important;
    cursor: pointer;
}

.radio_box {
    display: none;
    z-index: -11;
}

.radio_box + label {
    position: relative;
    padding-left: 25px;
    padding-top: 2px;
    cursor: pointer;
    font-weight: 600;
}

.radio_box + label:after {
    position: absolute;
    width: 17px;
    height: 17px;
    content: "";
    border: solid 1px #808080;
    left: 0px;
    top: 3px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.radio_box + label:before {
    position: absolute;
    width: 9px;
    height: 9px;
    background: #808080;
    content: "";
    left: 4px;
    top: 7px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
}

.radio_box:checked + label:before {
    opacity: 1;
    visibility: visible;
}

.btn_n,
body .page .page_content .register_form .reg_form .sep_div .reg_field .add_btn,
body .page .page_content .register_form .reg_form .sep_div .reg_field .remov_btn,
.page_content_thee_tab .register_form .reg_form .sep_div .reg_field .add_btn,
.page_content_thee_tab .register_form .reg_form .sep_div .reg_field .remov_btn {
    float: left;
    padding: 7px 10px;
}

.form_btn {
    float: left;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    padding: 3px 0px;
    text-align: center;
    font-size: 20px;
    border: none;
    font-weight: 400;
    background: #ec3434;
    margin-top: 4px;
    outline: none;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.form_btn:hover {
    background: #d42525;
}

.m_top_15 {
    margin-top: 20px !important;
}

.lbl_text2 {
    position: absolute;
    font-size: 16px;
    left: 5px;
    pointer-events: none;
    top: 20px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-weight: 400;
    color: #666666;
}

.input_ani {
    padding: 20px 0 5px 5px;
    border: none;
    outline: none;
    border-bottom: solid 1px #e0e0e0;
    font-size: 16px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.input_ani:focus {
    border-bottom: solid 1px #b6b6b6;
}

.input_ani:focus + label {
    top: 4px;
    font-size: 13px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #b6b6b6;
}

.input_ani:valid + label {
    top: 10px;
    font-size: 13px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #b6b6b6;
}

/* about css */

.privacy {
    width: 100%;
    float: left;
    background: #f7f8f8;
}

.privacy_main {
    background: #fff;
    width: 100%;
    float: left;
    padding: 25px;
    margin: 15px 0 15px 0;
}

.privacy_main p {
    text-align: justify;
}

.privacy_main h2 {
    padding: 0;
    margin: 0;
    font-size: 15px;
    padding: 5px 0 10px 0;
    font-family: FuturaBT-Medium;
}

.privacy_main h3 {
    padding: 0;
    margin: 0;
    font-size: 15px;
    padding: 5px 0 10px 0;
    font-family: FuturaBT-Medium;
}

.privacy_space {
    padding-left: 25px;
}

.page {
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
}

.page_content_thee_tab {
    min-height: 500px;
    padding: 15px 0px;
}

.page_content_thee_tab .page_text {
    float: left;
    width: 100%;
    background: #fff;
    padding: 10px 20px;
    min-height: 512px;
}

.page_content_thee_tab .page_text .text-title {
    color: #ec3434;
    font-size: 15px;
    padding: 8px 0px;
    font-family: FuturaBT-Medium;
}

.page_content_thee_tab .page_text .text {
    line-height: 20px;
}

.page_content_thee_tab .page_text .text p {
    padding: 0;
    margin: 0;
    float: left;
    font-size: 13px;
    width: 100%;
}

.page_content_thee_tab .page_form {
    float: left;
    width: 100%;
    background: #fff;
    padding: 10px;
}

.page_content_thee_tab .page_form .form_box {
    padding: 0px;
}

.page_content_thee_tab .page_form .form_box .form_title {
    color: #ec3434;
    font-size: 19px;
    font-weight: 600;
    padding: 5px 0px;
    text-align: center;
}

.page_content_thee_tab .page_form .form_box .form_field {
    position: relative;
    margin-bottom: 3px;
}

.page_content_thee_tab .page_form .form_box .form_field .lbl_text {
    position: absolute;
    font-size: 16px;
    left: 5px;
    pointer-events: none;
    top: 24px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-weight: 400;
    color: #666666;
}

.page_content_thee_tab .page_form .form_box .form_field .t_box {
    padding: 25px 0 7px 5px;
    border: none;
    outline: none;
    border-bottom: solid 1px #e0e0e0;
    font-size: 15px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.page_content_thee_tab .page_form .form_box .form_field .t_box:focus {
    border-bottom: solid 1px #b6b6b6;
}

.page_content_thee_tab .page_form .form_box .form_field .t_box:focus + label {
    top: 4px;
    font-size: 13px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #b6b6b6;
}

.page_content_thee_tab .page_form .form_box .form_field .t_box:valid + label {
    top: 4px;
    font-size: 13px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #b6b6b6;
}

.page_content_thee_tab .page_form .otp_input_div {
    padding: 8px 0px;
}

.page_content_thee_tab .page_form .otp_input_div .input_otp {
    float: left;
    width: 100%;
}

.page_content_thee_tab .page_form .otp_input_div .input_otp .t_box {
    padding: 7px 15px;
    border: solid 1px #e0e0e0;
    outline: none;
}

.page_content_thee_tab .page_form .otp_input_div .re_otp {
    color: #ec3434;
    padding: 7px 0px;
    font-weight: 600;
    font-size: 13px;
}

.page_content_thee_tab .page_form .otp_input_div .re_otp span {
    float: left;
    padding: 7px 8px 7px 0px;
}

.page_content_thee_tab .page_form .otp_input_div .re_otp_btn {
    float: left;
    width: 100%;
    padding: 7px 0px;
    font-weight: 600;
    font-size: 13px;
}

.page_content_thee_tab .register_form .wel_text {
    font-size: 20px;
}

.page_content_thee_tab .register_form .wel_text span {
    color: #ec3434;
    text-transform: uppercase;
}

.page_content_thee_tab .register_form .reg_form_tab {
    border-bottom: solid 1px #eaeaea;
    margin-top: 10px;
}

.page_content_thee_tab .register_form .reg_form_tab ul {
    float: left;
    margin: 0px;
    padding: 0px;
}

.page_content_thee_tab .register_form .reg_form_tab ul li {
    float: left;
    list-style-type: none;
    padding-right: 15px;
}

.page_content_thee_tab .register_form .reg_form_tab ul li a {
    text-decoration: none;
    display: block;
    font-size: 16px;
    padding: 10px 18px;
    color: #000;
    border: solid 1px #eaeaea;
    border-bottom: none;
}

.page_content_thee_tab .register_form .reg_form_tab ul li a.active {
    background: #f2f2f2;
}

.page_content_thee_tab .register_form .reg_form_tab ul li:first-child {
    padding-top: 13px;
}

.page_content_thee_tab .register_form .reg_form .sep_div .form_title {
    font-size: 18px;
    padding: 30px 0px 0px;
}

.page_content_thee_tab .register_form .reg_form .sep_div .form_title2 {
    font-size: 18px;
    padding: 17px 0px 0px;
}

.page_content_thee_tab .register_form .reg_form .sep_div .reg_field_checkbox {
    padding-top: 20px;
    padding-left: 5px;
}

.page_content_thee_tab .register_form .reg_form .sep_div .reg_field_checkbox2 {
    padding-top: 5px;
    padding-left: 5px;
}

.page_content_thee_tab .register_form .reg_form .sep_div .reg_field {
    position: relative;
    padding-bottom: 5px;
}

.page_content_thee_tab .register_form .reg_form .sep_div .reg_field .lbl_text {
    position: absolute;
    font-size: 15px;
    left: 5px;
    pointer-events: none;
    top: 24px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-weight: 400;
    color: #666666;
}

.page_content_thee_tab .register_form .reg_form .sep_div .reg_field input[type="text"] {
    padding: 25px 0 7px 5px;
    border: none;
    outline: none;
    border-bottom: solid 1px #e0e0e0;
    font-size: 15px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.page_content_thee_tab .register_form .reg_form .sep_div .reg_field input[type="text"]:focus {
    border-bottom: solid 1px #b6b6b6;
}

.page_content_thee_tab .register_form .reg_form .sep_div .reg_field input[type="text"]:focus + label {
    top: 4px;
    font-size: 13px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #b6b6b6;
}

.page_content_thee_tab .register_form .reg_form .sep_div .reg_field input[type="text"]:valid + label {
    top: 4px;
    font-size: 13px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #b6b6b6;
}

.page_content_thee_tab .register_form .reg_form .sep_div .reg_field select {
    padding: 13px 5px;
    margin-top: 7px;
    border: solid 1px #e0e0e0;
    outline: none;
}

.page_content_thee_tab .register_form .reg_form .sep_div .reg_field textarea {
    border: solid 1px #e0e0e0;
    padding-top: 5px;
    margin-top: 8px;
    min-height: 80px;
    outline: none;
}

.page_content_thee_tab .register_form .reg_form .sep_div .reg_field .add_btn {
    background: #808080;
    color: #fff;
    margin-top: 12px;
    cursor: pointer;
    margin-right: 7px;
    min-width: 70px;
    text-align: center;
}

.page_content_thee_tab .register_form .reg_form .sep_div .reg_field .remov_btn {
    background: #ec3434;
    color: #fff;
    margin-top: 12px;
    cursor: pointer;
    min-width: 70px;
    text-align: center;
}

.page_content_thee_tab .register_form .reg_form .sep_div .reg_field .profile_img {
    float: left;
    display: table;
    position: relative;
}

.page_content_thee_tab .register_form .reg_form .sep_div .reg_field .profile_img .pro_img {
    float: left;
    display: table-cell;
    width: 136px;
    height: 146px;
    border: solid 1px #e0e0e0;
    padding: 3px 3px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    z-index: 9;
}

.page_content_thee_tab .register_form .reg_form .sep_div .reg_field .profile_img .pro_img img {
    margin: 0;
    padding: 0;
    max-width: 98%;
    max-height: 98%;
}

.page_content_thee_tab .register_form .reg_form .sep_div .reg_field .profile_img .upload_pic {
    position: absolute;
    left: 0;
    bottom: 5px;
    z-index: 10;
}

.page_content_thee_tab .register_form .reg_form .sep_div .reg_field p {
    line-height: 22px;
    padding: 10px 0;
    margin: 0px;
}

.page_content_thee_tab .register_form .reg_form .sep_div .term-condition {
    float: left;
    width: 100%;
    padding: 20px 0px 5px;
}

.page_content_thee_tab .register_form .reg_form .sep_div .term-condition .term-condition {
    padding: 5px 0px;
}

.page_content_thee_tab .register_form .reg_form .sep_div .sub_div {
    padding: 13px 0px;
}

.page_content_thee_tab .register_form .reg_form .sep_div .form_step {
    padding: 15px 0 20px;
}

.page_content_thee_tab .register_form .reg_form .sep_div .form_step ul {
    margin: 0px;
    list-style-type: decimal;
}

.page_content_thee_tab .register_form .reg_form .sep_div .form_step ul li {
    float: left;
    padding: 8px 50px 8px 5px;
    position: relative;
    font-size: 20px;
}

.page_content_thee_tab .register_form .reg_form .sep_div .form_step ul li.active {
    color: #ec3434;
}

.b {
    width: 100%;
    font-family: FuturaBT-Medium;
}

.m_top_16 {
    margin-top: 10px !important;
}

.form_btn_tab {
    float: left;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 0px;
    text-align: center;
    font-size: 15px;
    border: none;
    background: #ec3434;
    margin-top: 4px;
    outline: none;
    font-weight: normal !important;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-family: FuturaBT-Medium;
}

.radio_btn_top {
    width: 100%;
    float: left;
}

.locatin_find {
    width: 100%;
    float: left;
    background: #fff;
    padding: 15px 0;
    margin: 15px 0;
}

.select_find {
    width: 100%;
    float: left;
}

.select_100 {
    width: 100%;
    float: left;
    padding: 10px;
    outline: none;
    border: solid 1px #ccc;
}

.form_btn_tab_find {
    float: left;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
    text-align: center;
    font-size: 15px;
    border: none;
    background: #ec3434;
    /* margin-top: 4px; */
    outline: none;
    font-weight: normal !important;
    font-family: FuturaBT-Medium;
}

.bg_white {
    background: #fff !important;
    border-top: solid 1px #808080;
}

.privacy_border {
    border: solid 1px #f7f7f7;
}

.center_text {
    width: 100%;
    float: left;
}

.center_text p {
    text-align: center !important;
    width: 100%;
    float: left;
}

.space450 {
    width: 100%;
    float: left;
    margin-top: 310px;
}

/* css tab (A) marketplace */

.a_tab {
    width: 100%;
    float: left;
    padding: 15px;
}

.cd-faq-group_a {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cd-faq-group_a > li {
    margin-bottom: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    -webkit-transition: box-shadow 0.1s;
    -moz-transition: box-shadow 0.1s;
    transition: box-shadow 0.1s;
    border-radius: 3px;
    float: left;
    width: 100%;
    border: solid 1px #dedede;
}

.cd-faq-trigger_a {
    font-size: 15px;
    margin: 0;
    padding: 10px 15px 10px 15px;
    position: relative;
    display: block;
    border-radius: 0px;
    line-height: 1.2;
    color: #333;
    background-color: #f5f5f5;
    border-bottom: solid 1px #dcdcdc;
    text-decoration: none;
}

.cd-faq-trigger_a:hover {
    text-decoration: none;
}

.cd-faq-trigger_a:focus {
    text-decoration: none;
}

.cd-faq-content_a {
    display: none;
    padding: 0px;
    background: #fff;
    position: relative;
    padding: 15px;
}

.cd-faq-content_a p {
    font-size: 14px;
    line-height: 1.6;
    color: #464646;
    margin: 0;
    padding: 0;
}

/* .cd-faq-trigger_a::before {
    position: absolute;
    content: attr(clickA)".";
    left: 6px;
    top: 10px;
    width: 25px;
    text-align: center;                              
}
*/

.cins_spand_a {
    width: 0px;
    height: 20px;
    position: absolute;
    right: 30px;
}

.cins_spand_a i {
    font-size: 20px;
}

/* css tab (B) marketplace */

.cd-faq-group_b {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cd-faq-group_b > li {
    margin-bottom: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    -webkit-transition: box-shadow 0.1s;
    -moz-transition: box-shadow 0.1s;
    transition: box-shadow 0.1s;
    border-radius: 3px;
    float: left;
    width: 100%;
    border: solid 1px #dedede;
}

.cd-faq-trigger_b {
    font-size: 15px;
    margin: 0;
    padding: 10px 15px 10px 15px;
    position: relative;
    display: block;
    border-radius: 0px;
    line-height: 1.2;
    color: #333;
    background-color: #f5f5f5;
    border-bottom: solid 1px #dcdcdc;
    text-decoration: none;
}

.cd-faq-trigger_b:hover {
    text-decoration: none;
}

.cd-faq-trigger_b:focus {
    text-decoration: none;
}

.cd-faq-content_b {
    display: none;
    padding: 0px;
    background: #fff;
    position: relative;
    padding: 15px;
}

.cd-faq-content_b p {
    font-size: 14px;
    line-height: 1.6;
    color: #464646;
    margin: 0;
    padding: 0;
}

/* .cd-faq-trigger_b::before {
    position: absolute;
    content: attr(clickB)".";
    left: 6px;
    top: 10px;
    width: 25px;
    text-align: center;                              
}
*/

.cins_spand_b {
    width: 0px;
    height: 20px;
    position: absolute;
    right: 30px;
}

.cins_spand_b i {
    font-size: 20px;
}

/* css tab (C) marketplace */

.cd-faq-group_c {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cd-faq-group_c > li {
    margin-bottom: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    -webkit-transition: box-shadow 0.1s;
    -moz-transition: box-shadow 0.1s;
    transition: box-shadow 0.1s;
    border-radius: 3px;
    float: left;
    width: 100%;
    border: solid 1px #dedede;
}

.cd-faq-trigger_c {
    font-size: 15px;
    margin: 0;
    padding: 10px 15px 10px 15px;
    position: relative;
    display: block;
    border-radius: 0px;
    line-height: 1.2;
    color: #333;
    background-color: #f5f5f5;
    border-bottom: solid 1px #dcdcdc;
    text-decoration: none;
}

.cd-faq-trigger_c:hover {
    text-decoration: none;
}

.cd-faq-trigger_c:focus {
    text-decoration: none;
}

.cd-faq-content_c {
    display: none;
    padding: 0px;
    background: #fff;
    position: relative;
    padding: 15px;
}

.cd-faq-content_c p {
    font-size: 14px;
    line-height: 1.6;
    color: #464646;
    margin: 0;
    padding: 0;
}

/* .cd-faq-trigger_c::before {
    position: absolute;
    content: attr(clickC)".";
    left: 6px;
    top: 10px;
    width: 25px;
    text-align: center;                              
}
*/

.cins_spand_c {
    width: 0px;
    height: 20px;
    position: absolute;
    right: 30px;
}

.cins_spand_c i {
    font-size: 20px;
}