<div class="right_section_community left_menu_space">
        
        <div class="col-md-12 col-sm-8 col-xs-12">
        <div class="row">
            <div class="right_serch_p titile_gray">
                <div class="right_search_bar">
                    <ul class="search_bar_tab">
                        <li><a href="#">Community</a><span class="glyphicon glyphicon-chevron-right"></span></li>
                        <li><a href="#">Members</a><span class="glyphicon glyphicon-chevron-right"></span></li>
                        <li><a href="#">Business</a><span class="glyphicon glyphicon-chevron-right"></span></li>
                        <li><a href="#" class="active_c">Invitation</a></li>
                        <!--<li><a href="#">Community</a><span class="glyphicon glyphicon-chevron-right"></span></li>
                        <li><a href="#">Vasan Transport</a><span class="glyphicon glyphicon-chevron-right"></span></li>
                        <li><a href="#">Connection</a><span class="glyphicon glyphicon-chevron-right"></span></li>
                        <li><a href="#" class="active_c">New Partners</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    <div class="right_serch_p ">
                        <div class="main-right">
                            <!-- Search Block Starts Here -->
                            <div class="search-block inner-block-bg">
                                <div class="cell-1 cell-1-80">
                                    <ul class="list-inline m-bottom-0 m-top-5 font-bold-black">
                                        <li><a href="#">PARTNERSHIP INVITATION</a></li>
                                    </ul>
                                </div>
                                <div class="chosen-container chosen-container-multi" style="width: 100%;" title="">
                                    <ul class="chosen-choices">
                                        <li class="search-field">
                                            <input type="text" value="To: Email id (Multiple email ids)" class="default" autocomplete="off" style="width: 216.156px;">
                                        </li>
                                    </ul>
                                    <div class="chosen-drop"><ul class="chosen-results"></ul></div></div>
                            </div>

                            <!-- Search Block Ends Here -->
                            <!-- Table Starts Here -->
                            <div class="table-div">
                                <div class="invitation_bg">
                                    <div class="col-md-12">
                                        <form>
                                            <div class="form-group row">
                                                <div class="col-md-6"><input class="form-control" placeholder="Service" type="text"></div>
                                                <div class="col-md-6"><input class="form-control" placeholder="Location" type="text"></div>
                                            </div>
                                            <div class="form-group">
                                                <textarea rows="10" placeholder="Description" class="form-control textarea"></textarea>
                                            </div>
                                            <div class="search-modify pull-right m-bottom-15"><span>Publish</span></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Table Starts Here -->
                        </div>
                    </div> <!--end of right_search_p-->
                </div>
            </div>
        </div>
        <style>
    .chosen-container {
    display: inline-block;
    font-size: 14px;
    position: relative;
    vertical-align: middle;
}
.chosen-container-multi .chosen-choices {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    cursor: text;
    height: auto !important;
    height: 1%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.chosen-container-multi .chosen-choices li {
    float: left;
    list-style: none;
}
.chosen-container-multi .chosen-choices .search-field input[type="text"] {
    background: transparent !important;
    border: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #555555;
    height: 32px;
    margin: 0;
    padding: 4px;
    outline: 0;
}
        </style>